force-app/main/default/flows/Agree_Mgt_Edit_Rate_List.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <description>Flow to allow edit of rate list.  For super user use only</description>
    <dynamicChoiceSets>
        <name>CurrentRateList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RateListId</elementReference>
            </value>
        </filters>
        <object>Rate_List__c</object>
        <outputAssignments>
            <assignToReference>RateListId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CurrentTemplate</name>
        <dataType>String</dataType>
        <displayField>APXTConga4__Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CongaTemplateId</elementReference>
            </value>
        </filters>
        <object>APXTConga4__Conga_Template__c</object>
        <outputAssignments>
            <assignToReference>ApprovalType</assignToReference>
            <field>Approval_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CongaTemplateId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SelectedRateList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Licence_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LicenceType</elementReference>
            </value>
        </filters>
        <object>Rate_List__c</object>
        <outputAssignments>
            <assignToReference>RateListId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SelectedTemplate</name>
        <dataType>String</dataType>
        <displayField>APXTConga4__Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Licence_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LicenceType</elementReference>
            </value>
        </filters>
        <object>APXTConga4__Conga_Template__c</object>
        <outputAssignments>
            <assignToReference>ApprovalType</assignToReference>
            <field>Approval_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CongaTemplateId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Agree Mgt - Edit Rate List {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Agree Mgt - Edit Rate List</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Agree_Doc_Record</name>
        <label>Get Agree Doc Record</label>
        <locationX>58</locationX>
        <locationY>33</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Licence_Type</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AgreementDocumentId</elementReference>
            </value>
        </filters>
        <object>Agreement_Document__c</object>
        <outputAssignments>
            <assignToReference>CongaTemplateId</assignToReference>
            <field>Document_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LicenceId</assignToReference>
            <field>Licence__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RateListId</assignToReference>
            <field>Rate_List__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Licence_Type</name>
        <label>Get Licence Type</label>
        <locationX>58</locationX>
        <locationY>138</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Please_select_rate_list</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LicenceId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>LicenceType</assignToReference>
            <field>Licence_Type__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Agreement_Document_Record</name>
        <label>Update Agreement Document Record</label>
        <locationX>55</locationX>
        <locationY>363</locationY>
        <faultConnector>
            <targetReference>Display_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AgreementDocumentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Licence_Type__c</field>
            <value>
                <elementReference>LicenceType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rate_List__c</field>
            <value>
                <elementReference>RateListId</elementReference>
            </value>
        </inputAssignments>
        <object>Agreement_Document__c</object>
    </recordUpdates>
    <screens>
        <name>Display_Error_Message</name>
        <label>Display Error Message</label>
        <locationX>319</locationX>
        <locationY>139</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>Sorry, an error occurred in the flow.
For help, provide your flow administrator with the following information: {!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Please_select_rate_list</name>
        <label>Please select rate list</label>
        <locationX>58</locationX>
        <locationY>250</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Agreement_Document_Record</targetReference>
        </connector>
        <fields>
            <name>Select_Rate_List</name>
            <choiceReferences>CurrentRateList</choiceReferences>
            <choiceReferences>SelectedRateList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Rate List</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Agree_Doc_Record</startElementReference>
    <status>Active</status>
    <variables>
        <name>AgreementDocumentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ApprovalType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CongaTemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LicenceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LicenceType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RateListId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
