force-app/main/default/flows/Agree_Mgt_Submit_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submit_AD_record_for_approval</name>
        <label>Submit AD record for approval</label>
        <locationX>859</locationX>
        <locationY>595</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Message_Approval_Submit_Confirmation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Fault3</targetReference>
        </faultConnector>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>AgreementDocumentId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <outputParameters>
            <assignToReference>Status</assignToReference>
            <name>instanceStatus</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>For Post Point the L1 Approver is the Users Manager.  Do this here to allow reuse of the Approval process for other Licence Types</description>
        <name>Assign_User_Manager_as_Level_1_Approver</name>
        <label>Assign User Manager as Level 1 Approver</label>
        <locationX>1346</locationX>
        <locationY>100</locationY>
        <assignmentItems>
            <assignToReference>Level1ApproverId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserManager</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Approvers</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Cancel</name>
        <choiceText>Cancel</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancel</stringValue>
        </value>
    </choices>
    <choices>
        <name>Continue</name>
        <choiceText>Continue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Continue</stringValue>
        </value>
    </choices>
    <choices>
        <name>CurrentTemplate</name>
        <choiceText>CurrentTemplate</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Any_Change_Records</name>
        <label>Any Change Records?</label>
        <locationX>416</locationX>
        <locationY>820</locationY>
        <defaultConnector>
            <targetReference>Message_There_are_change_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes Change Records</defaultConnectorLabel>
        <rules>
            <name>No_Change_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PartnerInfoChangeLicenceId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PartnerInfoChangeFacilityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Records_Updated</targetReference>
            </connector>
            <label>No Change Records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Approval_Type</name>
        <label>Approval Type?</label>
        <locationX>164</locationX>
        <locationY>377</locationY>
        <defaultConnector>
            <targetReference>Message_Approval_Not_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Full</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApprovalType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Full</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status2</targetReference>
            </connector>
            <label>Full</label>
        </rules>
        <rules>
            <name>Single_or_Scanned_Paper</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ApprovalType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Single</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ApprovalType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scanned Paper</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_of_Scanned_Single</targetReference>
            </connector>
            <label>Single or Scanned Paper</label>
        </rules>
    </decisions>
    <decisions>
        <name>Approval_Type2</name>
        <label>Approval Type?</label>
        <locationX>462</locationX>
        <locationY>98</locationY>
        <defaultConnector>
            <targetReference>Check_Agreement_Effective_From_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Scanned Paper</defaultConnectorLabel>
        <rules>
            <name>Scanned_Paper</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApprovalType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scanned Paper</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Scanned_Paper_Approver_Group</targetReference>
            </connector>
            <label>Scanned Paper</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Agreement_Effective_From_Date</name>
        <label>Check Agreement Effective From Date</label>
        <locationX>637</locationX>
        <locationY>99</locationY>
        <defaultConnector>
            <targetReference>Get_Legal_Entity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OK</defaultConnectorLabel>
        <rules>
            <name>PreToday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AgreementEffectiveFromDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Message_Agreement_Effective_From_Date_in_Past</targetReference>
            </connector>
            <label>PreToday?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Debug</name>
        <label>Debug?</label>
        <locationX>1014</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Submit_AD_record_for_approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N</defaultConnectorLabel>
        <rules>
            <name>Y</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DebugFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Y</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Test</targetReference>
            </connector>
            <label>Y</label>
        </rules>
    </decisions>
    <decisions>
        <name>Document_Type</name>
        <label>Document Type?</label>
        <locationX>166</locationX>
        <locationY>184</locationY>
        <defaultConnector>
            <targetReference>Pre_Draft_Check_Rqd</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Null</defaultConnectorLabel>
        <rules>
            <name>Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CongaTemplateId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Message_Document_Type_not_set</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Licence_Status_OK</name>
        <label>Licence Status OK?</label>
        <locationX>1348</locationX>
        <locationY>721</locationY>
        <defaultConnector>
            <targetReference>Message_Licence_Status_not_OK</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Status_OK</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LicenceStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LicenceStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LicenceStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suspended Without Fees</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LicenceStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suspended With Fees</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Partner_Info_Change_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Licence_Status_OK2</name>
        <label>Licence Status OK?</label>
        <locationX>689</locationX>
        <locationY>466</locationY>
        <defaultConnector>
            <targetReference>Licence_Status_Msg2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_LicStatusOk2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LicenceStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LicenceStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LicenceStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suspended Without Fees</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LicenceStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suspended With Fees</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Allow_Submit_For_Approval</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>LicenceType2</name>
        <label>LicenceType</label>
        <locationX>1045</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>Get_Facility</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not PP</defaultConnectorLabel>
        <rules>
            <name>PP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LicenceType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_User_Manager_as_Level_1_Approver</targetReference>
            </connector>
            <label>PP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pre_Approval</name>
        <label>Pre-Approval?</label>
        <locationX>1348</locationX>
        <locationY>324</locationY>
        <defaultConnector>
            <targetReference>Licence_Status_OK</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standard Approval</defaultConnectorLabel>
        <rules>
            <name>Pre_Approval2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApprovalType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Full</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Allow_Submit_For_Approval</targetReference>
            </connector>
            <label>Pre Approval</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pre_Draft_Check_Rqd</name>
        <label>Pre Draft Check Rqd?</label>
        <locationX>166</locationX>
        <locationY>94</locationY>
        <defaultConnector>
            <targetReference>Get_Licence</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PreDraftChecklist</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PreDraftChecklistComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Message_Select_Pre_Draft_Check</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Proceed</name>
        <label>Proceed?</label>
        <locationX>193</locationX>
        <locationY>707</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_Proceed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Next_Step</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Continue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Records_Updated</targetReference>
            </connector>
            <label>Yes Proceed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Proceed2</name>
        <label>Proceed?</label>
        <locationX>420</locationX>
        <locationY>594</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_Proceed2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Next_Step2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Continue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Allow_Submit_For_Approval</targetReference>
            </connector>
            <label>Yes Proceed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Records_Updated</name>
        <label>Records Updated?</label>
        <locationX>419</locationX>
        <locationY>709</locationY>
        <defaultConnector>
            <targetReference>Set_Allow_Submit_For_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Records Updated</defaultConnectorLabel>
        <rules>
            <name>Yes_Records_Updated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LicenceLastMod</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>DocumentGenerationDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LegalEntityLastMod</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>DocumentGenerationDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FacilityLastMod</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>DocumentGenerationDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NetworkLastMod</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>DocumentGenerationDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FacilityTimingLastMod</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>DocumentGenerationDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LegalEntityContactLastMod</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>DocumentGenerationDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoanLastMod</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>DocumentGenerationDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Message_Records_have_been_updated</targetReference>
            </connector>
            <label>Yes Records Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Req_Doc_Gend</name>
        <label>Req Doc Gend?</label>
        <locationX>316</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Get_Licence</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OK</defaultConnectorLabel>
        <rules>
            <name>No_Doc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApprovalType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Scanned Paper</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DocumentGenerationDateTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Message_No_Doc_Generated</targetReference>
            </connector>
            <label>No Doc</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status2</name>
        <label>Status?</label>
        <locationX>165</locationX>
        <locationY>284</locationY>
        <defaultConnector>
            <targetReference>Message_Full_in_wrong_status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Document_Type</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>Draft2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Req_Doc_Gend</targetReference>
            </connector>
            <label>Draft</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_of_Scanned_Single</name>
        <label>Scanned or Single Status?</label>
        <locationX>314</locationX>
        <locationY>382</locationY>
        <defaultConnector>
            <targetReference>Message_Must_be_in_Draft</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Draft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Req_Doc_Gend</targetReference>
            </connector>
            <label>Draft</label>
        </rules>
    </decisions>
    <description>Flow called from custom &apos;Submit for Approval&apos; button on Agreement Document record.  Performs validation then calls appropriate Approval Process</description>
    <dynamicChoiceSets>
        <name>CurrentTemplate2</name>
        <dataType>String</dataType>
        <displayField>APXTConga4__Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CongaTemplateId</elementReference>
            </value>
        </filters>
        <object>APXTConga4__Conga_Template__c</object>
        <outputAssignments>
            <assignToReference>ApprovalType</assignToReference>
            <field>Approval_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CongaTemplateId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SelectedTemplate</name>
        <dataType>String</dataType>
        <displayField>APXTConga4__Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Licence_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LicenceType</elementReference>
            </value>
        </filters>
        <object>APXTConga4__Conga_Template__c</object>
        <outputAssignments>
            <assignToReference>ApprovalType</assignToReference>
            <field>Approval_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CongaTemplateId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <description>If Facility Timing record updated since Document Generation date, then return string.</description>
        <name>FacilityTimingUpdatedMessage</name>
        <dataType>String</dataType>
        <expression>IF({!FacilityTimingLastMod}&gt;{!DocumentGenerationDateTime},&quot;- Facility Timing&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>If Facility updated since Document Generation date, then return string.</description>
        <name>FacilityUpdatedText</name>
        <dataType>String</dataType>
        <expression>IF({!FacilityLastMod}&gt;{!DocumentGenerationDateTime},&quot;- Facility&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>If Legal Entity Contact updated since Document Generation date, then return string.</description>
        <name>LegalEntityContactUpdatedText</name>
        <dataType>String</dataType>
        <expression>IF({!LegalEntityContactLastMod}&gt;{!DocumentGenerationDateTime},&quot;- Legal Entity Contacts (one or more)&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>Formula to return a list of all objects that have been updated since the Document Generation date</description>
        <name>LegalEntityUpdatedText</name>
        <dataType>String</dataType>
        <expression>IF({!LegalEntityLastMod}&gt;{!DocumentGenerationDateTime},&quot;- Legal Entity&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>If Licence updated since Document Generation date, then return string.</description>
        <name>LicenceUpdatedText</name>
        <dataType>String</dataType>
        <expression>IF({!LicenceLastMod}&gt;{!DocumentGenerationDateTime},&quot;- Licence&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>If Loan updated since Document Generation date, then return string.</description>
        <name>LoanUpdatedText</name>
        <dataType>String</dataType>
        <expression>IF({!LoanLastMod}&gt;{!DocumentGenerationDateTime},&quot;- Partner Addendum Loans (one or more)&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>If Network updated since Document Generation date, then return string.</description>
        <name>NetworkUpdatedText</name>
        <dataType>String</dataType>
        <expression>IF({!NetworkLastMod}&gt;{!DocumentGenerationDateTime},&quot;- Network&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>PartnerInfoChangeMessage</name>
        <dataType>String</dataType>
        <expression>IF({!PartnerInfoChangeFacilityId}&lt;&gt;&quot;&quot;,IF({!PartnerInfoChangeLicenceId}&lt;&gt;&quot;&quot;,&quot;There is a pending Partner Info Change record against the Licence and the Facility.&quot;,&quot;There is a pending Partner Info Change record against the Facility.&quot;),&quot;There is a pending Partner Info Change record against the Licence.&quot;)</expression>
    </formulas>
    <formulas>
        <name>UserManager</name>
        <dataType>String</dataType>
        <expression>{!$User.ManagerId}</expression>
    </formulas>
    <interviewLabel>Agree Mgt - Submit Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Agree Mgt - Submit Approval</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Agree_Doc_Record</name>
        <label>Get Agree Doc Record</label>
        <locationX>16</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Approval_Type</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AgreementDocumentId</elementReference>
            </value>
        </filters>
        <object>Agreement_Document__c</object>
        <outputAssignments>
            <assignToReference>AgreementEffectiveFromDate</assignToReference>
            <field>Agreement_Effective_From_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ApprovalType</assignToReference>
            <field>Approval_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DocumentGenerationDateTime</assignToReference>
            <field>Document_Generated_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CongaTemplateId</assignToReference>
            <field>Document_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LicenceId</assignToReference>
            <field>Licence_Id__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LicenceType</assignToReference>
            <field>Licence_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PreDraftChecklistComplete</assignToReference>
            <field>Pre_Draft_Checklist_Complete__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PreDraftChecklist</assignToReference>
            <field>Pre_Draft_Checklist__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Status</assignToReference>
            <field>Status__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Facility</name>
        <label>Get Facility</label>
        <locationX>957</locationX>
        <locationY>198</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Network</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FacilityId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>FacilityId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FacilityLastMod</assignToReference>
            <field>LastModifiedDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NetworkId</assignToReference>
            <field>Network_Facility__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Facility_Partner_Info_Change</name>
        <label>Get Facility Partner Info Change</label>
        <locationX>966</locationX>
        <locationY>820</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Record_Type</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Fault2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>Facility__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FacilityId</elementReference>
            </value>
        </filters>
        <object>Partner_Info_Change__c</object>
        <outputAssignments>
            <assignToReference>PartnerInfoChangeFacilityId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Facility_Timing</name>
        <label>Get Facility Timing</label>
        <locationX>569</locationX>
        <locationY>821</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Change_Records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Fault2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Facility__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FacilityId</elementReference>
            </value>
        </filters>
        <object>Facility_Timings__c</object>
        <outputAssignments>
            <assignToReference>FacilityTimingLastMod</assignToReference>
            <field>LastModifiedDate</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Lookup and assign State Regional Manager as the Level 2 Approver</description>
        <name>Get_Grandparent_Network</name>
        <label>Get Grandparent Network</label>
        <locationX>1216</locationX>
        <locationY>199</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Approvers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GrandParentNetworkId</elementReference>
            </value>
        </filters>
        <object>Network__c</object>
        <outputAssignments>
            <assignToReference>Level2ApproverId</assignToReference>
            <field>Network_Manager__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Legal_Entity</name>
        <label>Get Legal Entity</label>
        <locationX>786</locationX>
        <locationY>99</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Legal_Entity_Contacts</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LegalEntityId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>LegalEntityLastMod</assignToReference>
            <field>LastModifiedDate</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Legal_Entity_Contacts</name>
        <label>Get Legal Entity Contacts</label>
        <locationX>915</locationX>
        <locationY>100</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LicenceType2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LegalEntityId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>LegalEntityContactLastMod</assignToReference>
            <field>LastModifiedDate</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Licence</name>
        <label>Get Licence</label>
        <locationX>316</locationX>
        <locationY>96</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Approval_Type2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LicenceId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>FacilityId</assignToReference>
            <field>Facility__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LicenceLastMod</assignToReference>
            <field>LastModifiedDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LicenceStatus</assignToReference>
            <field>Licence_Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LegalEntityId</assignToReference>
            <field>ParentId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get the Network from the Licence &gt; Parent Network</description>
        <name>Get_Network</name>
        <label>Get Network</label>
        <locationX>1023</locationX>
        <locationY>277</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Parent_Network</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NetworkId</elementReference>
            </value>
        </filters>
        <object>Network__c</object>
        <outputAssignments>
            <assignToReference>NetworkLastMod</assignToReference>
            <field>LastModifiedDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ParentNetworkId</assignToReference>
            <field>Parent_Network__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Network</name>
        <label>Get Parent Network</label>
        <locationX>1082</locationX>
        <locationY>200</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_State_RNP_Manager</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentNetworkId</elementReference>
            </value>
        </filters>
        <object>Network__c</object>
        <outputAssignments>
            <assignToReference>NetworkManagerId</assignToReference>
            <field>Network_Manager__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GrandParentNetworkId</assignToReference>
            <field>Parent_Network__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Partner_Addendum_Loan</name>
        <label>Get Partner Addendum Loan</label>
        <locationX>703</locationX>
        <locationY>822</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Facility_Timing</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Fault2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Licence__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LicenceId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PALoanRecordTypeId</elementReference>
            </value>
        </filters>
        <object>Partner_Addendum__c</object>
        <outputAssignments>
            <assignToReference>LoanLastMod</assignToReference>
            <field>LastModifiedDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LoanName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Query to see if any Partner Info Change records against the Licence</description>
        <name>Get_Partner_Info_Change_Records</name>
        <label>Get Partner Info Change Records</label>
        <locationX>1109</locationX>
        <locationY>818</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Facility_Partner_Info_Change</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Fault2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>Licence__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LicenceId</elementReference>
            </value>
        </filters>
        <object>Partner_Info_Change__c</object>
        <outputAssignments>
            <assignToReference>PartnerInfoChangeLicenceId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Scanned_Paper_Approver1</name>
        <label>Get Scanned Paper Approver1</label>
        <locationX>530</locationX>
        <locationY>273</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Scanned_Paper_Approver2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ScannedPaperApproverGrpId</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
        <outputAssignments>
            <assignToReference>Level1ApproverId</assignToReference>
            <field>UserOrGroupId</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Scanned_Paper_Approver2</name>
        <label>Get Scanned Paper Approver2</label>
        <locationX>531</locationX>
        <locationY>359</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Approvers_SP</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ScannedPaperApproverGrpId</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
        <outputAssignments>
            <assignToReference>Level2ApproverId</assignToReference>
            <field>UserOrGroupId</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Scanned_Paper_Approver_Group</name>
        <label>Get Scanned Paper Approver Group</label>
        <locationX>529</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Scanned_Paper_Approver1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Partner Info Scanned Paper Approvers</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>ScannedPaperApproverGrpId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Lookup and assign State RNP Manager as the Level 1 Approver</description>
        <name>Get_State_RNP_Manager</name>
        <label>Get State RNP Manager</label>
        <locationX>1147</locationX>
        <locationY>277</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Grandparent_Network</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NetworkManagerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>Level1ApproverId</assignToReference>
            <field>ManagerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Record_Type</name>
        <label>Lookup Record Type</label>
        <locationX>834</locationX>
        <locationY>821</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Partner_Addendum_Loan</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Fault2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Loan</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Partner_Addendum__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>PALoanRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Set_Allow_Submit_For_Approval</name>
        <label>Set Allow Submit For Approval</label>
        <locationX>863</locationX>
        <locationY>499</locationY>
        <connector>
            <targetReference>Debug</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AgreementDocumentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Allow_Submit_For_Approval__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Agreement_Document__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Approvers</name>
        <label>Set Approvers</label>
        <locationX>1347</locationX>
        <locationY>197</locationY>
        <connector>
            <targetReference>Pre_Approval</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AgreementDocumentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Level_1_Approver__c</field>
            <value>
                <elementReference>Level1ApproverId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Level_2_Approver__c</field>
            <value>
                <elementReference>Level2ApproverId</elementReference>
            </value>
        </inputAssignments>
        <object>Agreement_Document__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Approvers_SP</name>
        <label>Set Approvers SP</label>
        <locationX>532</locationX>
        <locationY>441</locationY>
        <connector>
            <targetReference>Licence_Status_OK2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AgreementDocumentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Level_1_Approver__c</field>
            <value>
                <elementReference>Level1ApproverId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Level_2_Approver__c</field>
            <value>
                <elementReference>Level2ApproverId</elementReference>
            </value>
        </inputAssignments>
        <object>Agreement_Document__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Uncheck_Allow_Submit_for_Approval</name>
        <label>Uncheck Allow Submit for Approval</label>
        <locationX>696</locationX>
        <locationY>690</locationY>
        <faultConnector>
            <targetReference>Display_Fault2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AgreementDocumentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Allow_Submit_For_Approval__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Agreement_Document__c</object>
    </recordUpdates>
    <screens>
        <name>Display_Fault</name>
        <label>Display Fault</label>
        <locationX>862</locationX>
        <locationY>366</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FaultMessage</name>
            <fieldText>Sorry, an error occurred in the flow.
For help, provide your flow administrator with the following information: {!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Fault2</name>
        <label>Display Fault</label>
        <locationX>838</locationX>
        <locationY>918</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MsgFault2</name>
            <fieldText>Sorry, an error occurred in the flow.
For help, provide your flow administrator with the following information: {!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Fault3</name>
        <label>Display Fault</label>
        <locationX>842</locationX>
        <locationY>691</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Uncheck_Allow_Submit_for_Approval</targetReference>
        </connector>
        <fields>
            <name>MsgFault3</name>
            <fieldText>Sorry, an error occurred in the flow.
For help, provide your flow administrator with the following information: {!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Licence_Status_Msg2</name>
        <label>Message Licence Status not OK</label>
        <locationX>508</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>LicenceStatusMsg2</name>
            <fieldText>The Licence Status must be either Approved, Active, Suspended With Fees, or Suspended Without Fees before submitting the Agreement Document for approval.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Message_Agreement_Effective_From_Date_in_Past</name>
        <label>Message Agreement Effective From Date in Past</label>
        <locationX>758</locationX>
        <locationY>10</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MsgAgreeDate</name>
            <fieldText>The &apos;Agreement Effective From Date&apos; must be greater than or equal to today before submitting the record for approval.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Message_Approval_Not_Required</name>
        <label>Message - Approval Not Required</label>
        <locationX>162</locationX>
        <locationY>485</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MsgApprovalNotRequired</name>
            <fieldText>Approval is not required for this Document Type.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Message_Approval_Submit_Confirmation</name>
        <label>Submit For Approval Confirmation</label>
        <locationX>1013</locationX>
        <locationY>688</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MsgRecordHasBeenSubmitted</name>
            <fieldText>The record has been submitted for approval.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Message_Document_Type_not_set</name>
        <label>Message - Document Type not set</label>
        <locationX>12</locationX>
        <locationY>185</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MsgDocTypeNotSet</name>
            <fieldText>The Document Type must be populated before submitting for pre approval.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Message_Full_in_wrong_status</name>
        <label>Message - Full in wrong status</label>
        <locationX>15</locationX>
        <locationY>287</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MsgFullInWrongStatus</name>
            <fieldText>The record must be in New or Draft status before submitting for approval.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Message_Licence_Status_not_OK</name>
        <label>Message Licence Status not OK</label>
        <locationX>1348</locationX>
        <locationY>816</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>LicenceStatusMsg</name>
            <fieldText>The Licence Status must be either Approved, Active, Suspended With Fees, or Suspended Without Fees before submitting the Agreement Document for approval.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Message_Must_be_in_Draft</name>
        <label>Message - Must be in Draft</label>
        <locationX>311</locationX>
        <locationY>488</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MsgMustBeInDraft</name>
            <fieldText>The record must be in Draft status before submitting for approval.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Message_No_Doc_Generated</name>
        <label>Message - No Doc Generated</label>
        <locationX>386</locationX>
        <locationY>194</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MsgNoDocGen</name>
            <fieldText>No document has been generated.

Please return to the record and select &apos;Generate Document&apos; to generate a document for approval.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Message_Records_have_been_updated</name>
        <label>Message - Records have been updated</label>
        <locationX>192</locationX>
        <locationY>596</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Proceed2</targetReference>
        </connector>
        <fields>
            <name>MsgRecordsHaveBeenUpd</name>
            <fieldText>The following objects have been updated since the Agreement Document was generated:</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MsgOfUpdates</name>
            <fieldText>{!LegalEntityUpdatedText}
{!LegalEntityContactUpdatedText}
{!LicenceUpdatedText}
{!FacilityUpdatedText}
{!FacilityTimingUpdatedMessage}
{!LoanUpdatedText}
{!NetworkUpdatedText}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MsgToProceed</name>
            <fieldText>Select &apos;Continue&apos; to continue submitting the approval request, or &apos;Cancel&apos; to cancel the request.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Next_Step2</name>
            <choiceReferences>Continue</choiceReferences>
            <choiceReferences>Cancel</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Next Step</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Message_Select_Pre_Draft_Check</name>
        <label>Message Select Pre Draft Check</label>
        <locationX>13</locationX>
        <locationY>93</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MsgPreDraftCheck</name>
            <fieldText>Please select Pre Draft Checklist Complete flag to confirm that all Pre Draft tasks are complete before submitting the record for approval.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Message_There_are_change_records</name>
        <label>Message - There are change records</label>
        <locationX>192</locationX>
        <locationY>820</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Proceed</targetReference>
        </connector>
        <fields>
            <name>MsgPartnerInfoChange</name>
            <fieldText>{!PartnerInfoChangeMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MsgChangeRecordsFound</name>
            <fieldText>Select &apos;Continue&apos; to continue submitting the approval request, or &apos;Cancel&apos; to cancel the request.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Next_Step</name>
            <choiceReferences>Continue</choiceReferences>
            <choiceReferences>Cancel</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Next Step</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Test</name>
        <label>Test</label>
        <locationX>1014</locationX>
        <locationY>595</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Submit_AD_record_for_approval</targetReference>
        </connector>
        <fields>
            <name>Agreement_Doc_Id</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AgreementDocumentId</elementReference>
            </defaultValue>
            <fieldText>Agreement Doc Id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>predraft</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PreDraftChecklist</elementReference>
            </defaultValue>
            <fieldText>predraft</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ApprovalTypetest</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ApprovalType</elementReference>
            </defaultValue>
            <fieldText>ApprovalType</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CongaTempIdtest</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CongaTemplateId</elementReference>
            </defaultValue>
            <fieldText>CongaTempId</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DocumentGenerationDateTimetest</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DocumentGenerationDateTime</elementReference>
            </defaultValue>
            <fieldText>DocumentGenerationDateTimetest</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Statustest</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Status</elementReference>
            </defaultValue>
            <fieldText>Status</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>LicenceTypeMsg</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>LicenceType</elementReference>
            </defaultValue>
            <fieldText>LicenceType</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Legal_Entity_Id</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>LegalEntityId</elementReference>
            </defaultValue>
            <fieldText>Legal Entity Id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>LicenceIdtest</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>LicenceId</elementReference>
            </defaultValue>
            <fieldText>Licence Id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Facility_Id</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>FacilityId</elementReference>
            </defaultValue>
            <fieldText>Facility Id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Network_Id</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>NetworkId</elementReference>
            </defaultValue>
            <fieldText>Network Id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Parent_Network_Id</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ParentNetworkId</elementReference>
            </defaultValue>
            <fieldText>Parent Network Id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Grand_Parent_Network_Id</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GrandParentNetworkId</elementReference>
            </defaultValue>
            <fieldText>Grand Parent Network Id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>LicenceLastModtest</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>LicenceLastMod</elementReference>
            </defaultValue>
            <fieldText>LicenceLastMod</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>LELastMod</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>LegalEntityLastMod</elementReference>
            </defaultValue>
            <fieldText>LELastMod</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>NetworkLastMod2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>NetworkLastMod</elementReference>
            </defaultValue>
            <fieldText>NetworkLastMod</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>NetworkMgr</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>NetworkManagerId</elementReference>
            </defaultValue>
            <fieldText>NetworkMgrId</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Facil_Last_Mod</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>FacilityLastMod</elementReference>
            </defaultValue>
            <fieldText>Facil Last Mod</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PartnerInfoChangeIdtest</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PartnerInfoChangeLicenceId</elementReference>
            </defaultValue>
            <fieldText>PartnerInfoChangeIdtest</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>LECalc</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>LegalEntityUpdatedText</elementReference>
            </defaultValue>
            <fieldText>LECalc</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Loan_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>LoanName</elementReference>
            </defaultValue>
            <fieldText>Loan Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Loan_upd_tex</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>LoanUpdatedText</elementReference>
            </defaultValue>
            <fieldText>Loan updated text</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FacilityTimingtext</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>FacilityTimingUpdatedMessage</elementReference>
            </defaultValue>
            <fieldText>FacilityTimingLasMsg</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>LEConLastMode</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>LegalEntityContactUpdatedText</elementReference>
            </defaultValue>
            <fieldText>LEConLastModMessage</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>LicenceStatustext</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>LicenceStatus</elementReference>
            </defaultValue>
            <fieldText>LicenceStatustext</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>GroupId</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ScannedPaperApproverGrpId</elementReference>
            </defaultValue>
            <fieldText>GroupId</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>L1_Approver</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Level1ApproverId</elementReference>
            </defaultValue>
            <fieldText>L1 Approver</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>L2_Approver</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Level2ApproverId</elementReference>
            </defaultValue>
            <fieldText>L2 Approver</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PICR_f</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PartnerInfoChangeFacilityId</elementReference>
            </defaultValue>
            <fieldText>PICR-f</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PartnerInfoChangeMsg</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PartnerInfoChangeMessage</elementReference>
            </defaultValue>
            <fieldText>PartnerInfoChangeMsg</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Agree_Doc_Record</startElementReference>
    <status>Active</status>
    <variables>
        <name>AgreementDocumentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AgreementEffectiveFromDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApprovalType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CongaTemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Flag for debug</description>
        <name>DebugFlag</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>N</stringValue>
        </value>
    </variables>
    <variables>
        <description>The date time the agreement document was last generated</description>
        <name>DocumentGenerationDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FacilityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Last Modified date of the Facility</description>
        <name>FacilityLastMod</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FacilityTimingLastMod</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GrandParentNetworkId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LegalEntityContactLastMod</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LegalEntityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Last Modified date of the Legal Entity</description>
        <name>LegalEntityLastMod</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Level1ApproverId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Level2ApproverId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LicenceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Last Modified Date of the Licence</description>
        <name>LicenceLastMod</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LicenceStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LicenceType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoanLastMod</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoanName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoanSubType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id of the parent network to retrive the network manager</description>
        <name>NetworkId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Last Modified date of the Network</description>
        <name>NetworkLastMod</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id of the Parent Network Manager</description>
        <name>NetworkManagerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PALoanRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentNetworkId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PartnerInfoChangeFacilityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PartnerInfoChangeLicenceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PreDraftChecklist</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PreDraftChecklistComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ScannedPaperApproverGrpId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Agreement Document Status</description>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
