force-app/main/default/flows/Agree_Mgt_Edit_Agreement_Document.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_User_Mgr_as_AP_Auth_Officer</name>
        <label>Assign User Mgr as AP Auth Officer</label>
        <locationX>228</locationX>
        <locationY>489</locationY>
        <assignmentItems>
            <assignToReference>APAuthorisedOfficerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserManager</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Template_Details</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CurrentTemplate</name>
        <choiceText>CurrentTemplate</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>AP_Authorised_Officer_Set</name>
        <label>AP Authorised Officer Set?</label>
        <locationX>58</locationX>
        <locationY>397</locationY>
        <defaultConnector>
            <targetReference>Get_Template_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Y</defaultConnectorLabel>
        <rules>
            <name>N</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>APAuthorisedOfficerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Licence_Type</targetReference>
            </connector>
            <label>N</label>
        </rules>
    </decisions>
    <decisions>
        <name>In_New_Status</name>
        <label>In New Status</label>
        <locationX>58</locationX>
        <locationY>197</locationY>
        <defaultConnector>
            <targetReference>Message_That_Document_Cannot_be_selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not New</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Please_select_Template</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <description>For PP Licence Type set AP Authorised officer as User&apos;s Manager</description>
        <name>Licence_Type</name>
        <label>Licence Type</label>
        <locationX>228</locationX>
        <locationY>400</locationY>
        <defaultConnector>
            <targetReference>Get_Facility</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not PP</defaultConnectorLabel>
        <rules>
            <name>PP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LicenceType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_User_Mgr_as_AP_Auth_Officer</targetReference>
            </connector>
            <label>PP</label>
        </rules>
    </decisions>
    <description>Edit Agreement Document record.  Allow user to select Document Type</description>
    <dynamicChoiceSets>
        <name>CurrentTemplate2</name>
        <dataType>String</dataType>
        <displayField>APXTConga4__Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CongaTemplateId</elementReference>
            </value>
        </filters>
        <object>APXTConga4__Conga_Template__c</object>
        <outputAssignments>
            <assignToReference>ApprovalType</assignToReference>
            <field>Approval_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CongaTemplateId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SelectedTemplate</name>
        <dataType>String</dataType>
        <displayField>APXTConga4__Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Licence_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LicenceType</elementReference>
            </value>
        </filters>
        <object>APXTConga4__Conga_Template__c</object>
        <outputAssignments>
            <assignToReference>ApprovalType</assignToReference>
            <field>Approval_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CongaTemplateId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <description>Get the users manager for PP</description>
        <name>UserManager</name>
        <dataType>String</dataType>
        <expression>{!$User.ManagerId}</expression>
    </formulas>
    <interviewLabel>Agree Mgt - Edit Agreement Document {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Agree Mgt - Edit Agreement Document</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Agree_Doc_Record</name>
        <label>Get Agree Doc Record</label>
        <locationX>60</locationX>
        <locationY>21</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Licence_Type</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AgreementDocumentId</elementReference>
            </value>
        </filters>
        <object>Agreement_Document__c</object>
        <outputAssignments>
            <assignToReference>APAuthorisedOfficerId</assignToReference>
            <field>AP_Authorised_Officer__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CongaTemplateId</assignToReference>
            <field>Document_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LicenceId</assignToReference>
            <field>Licence__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Status</assignToReference>
            <field>Status__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Facility</name>
        <label>Get Facility</label>
        <locationX>426</locationX>
        <locationY>401</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Network</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LicenceId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>FacilityId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NetworkId</assignToReference>
            <field>Network_Facility__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Licence_Type</name>
        <label>Get Licence Type</label>
        <locationX>59</locationX>
        <locationY>108</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>In_New_Status</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LicenceId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>LicenceType</assignToReference>
            <field>Licence_Type__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Network</name>
        <label>Get Network</label>
        <locationX>561</locationX>
        <locationY>402</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Parent_Newtork</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NetworkId</elementReference>
            </value>
        </filters>
        <object>Network__c</object>
        <outputAssignments>
            <assignToReference>ParentNetworkId</assignToReference>
            <field>Parent_Network__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Newtork</name>
        <label>Get Parent Newtork</label>
        <locationX>693</locationX>
        <locationY>402</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_State_RNP_Manager</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentNetworkId</elementReference>
            </value>
        </filters>
        <object>Network__c</object>
        <outputAssignments>
            <assignToReference>NetworkManagerId</assignToReference>
            <field>Network_Manager__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_State_RNP_Manager</name>
        <label>Get State RNP Manager</label>
        <locationX>826</locationX>
        <locationY>401</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Template_Details</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NetworkManagerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>APAuthorisedOfficerId</assignToReference>
            <field>ManagerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Template_Details</name>
        <label>Get Template Details</label>
        <locationX>57</locationX>
        <locationY>604</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Agreement_Document_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Error_Message2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CongaTemplateId</elementReference>
            </value>
        </filters>
        <object>APXTConga4__Conga_Template__c</object>
        <outputAssignments>
            <assignToReference>OtherRequiredDocuments</assignToReference>
            <field>Other_Required_Documents__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PreActiveChecklist</assignToReference>
            <field>Pre_Active_Checklist__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PreDraftChecklist</assignToReference>
            <field>Pre_Draft_Checklist__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PrimaryAgreement</assignToReference>
            <field>Primary_Agreement__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Agreement_Document_Record</name>
        <label>Update Agreement Document Record</label>
        <locationX>55</locationX>
        <locationY>696</locationY>
        <faultConnector>
            <targetReference>Display_Error_Message2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AgreementDocumentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AP_Authorised_Officer__c</field>
            <value>
                <elementReference>APAuthorisedOfficerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Type__c</field>
            <value>
                <elementReference>ApprovalType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Document_ID__c</field>
            <value>
                <elementReference>CongaTemplateId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Licence_Type__c</field>
            <value>
                <elementReference>LicenceType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Required_Documents__c</field>
            <value>
                <elementReference>OtherRequiredDocuments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pre_Active_Checklist__c</field>
            <value>
                <elementReference>PreActiveChecklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pre_Draft_Checklist__c</field>
            <value>
                <elementReference>PreDraftChecklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Agreement_Flag__c</field>
            <value>
                <elementReference>PrimaryAgreement</elementReference>
            </value>
        </inputAssignments>
        <object>Agreement_Document__c</object>
    </recordUpdates>
    <screens>
        <name>Display_Error_Message</name>
        <label>Display Error Message</label>
        <locationX>629</locationX>
        <locationY>114</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>Sorry, an error occurred in the flow.
For help, provide your flow administrator with the following information: {!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Error_Message2</name>
        <label>Display Error Message</label>
        <locationX>298</locationX>
        <locationY>643</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage2</name>
            <fieldText>Sorry, an error occurred in the flow.
For help, provide your flow administrator with the following information: {!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Message_That_Document_Cannot_be_selected</name>
        <label>Message That Document Cannot be selected</label>
        <locationX>234</locationX>
        <locationY>198</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Display_Error_Message</targetReference>
        </connector>
        <fields>
            <name>DocumentCannotBeSelected</name>
            <fieldText>The Document Type can only be updated when the Agreement Document is in New state.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Please_select_Template</name>
        <label>Please select document type</label>
        <locationX>59</locationX>
        <locationY>304</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AP_Authorised_Officer_Set</targetReference>
        </connector>
        <fields>
            <name>Select_Document_Type</name>
            <choiceReferences>CurrentTemplate2</choiceReferences>
            <choiceReferences>SelectedTemplate</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Document Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Agree_Doc_Record</startElementReference>
    <status>Active</status>
    <variables>
        <name>AgreementDocumentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>APAuthorisedOfficerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApprovalType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CongaTemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FacilityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LicenceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LicenceType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NetworkId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NetworkManagerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OtherRequiredDocuments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentNetworkId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PreActiveChecklist</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PreDraftChecklist</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrimaryAgreement</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Agreement Document Status</description>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
