force-app/main/default/flows/AgreeMgt_Activate_Rate_List.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Cancel</name>
        <choiceText>Cancel</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancel</stringValue>
        </value>
    </choices>
    <choices>
        <name>Continue</name>
        <choiceText>Continue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RespContinue</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Other_Active_Rate_List_Record</name>
        <label>Other Active Rate List Record?</label>
        <locationX>460</locationX>
        <locationY>114</locationY>
        <defaultConnector>
            <targetReference>Warning_Other_Active</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>NoOtherActive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OtherActiveRateListId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Record_Lock_to_N</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>ProceedToActivate</name>
        <label>Proceed?</label>
        <locationX>740</locationX>
        <locationY>116</locationY>
        <defaultConnectorLabel>Cancel</defaultConnectorLabel>
        <rules>
            <name>YesProceed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Next_Step</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Continue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Old_Rate_List_Record_Lock_N</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rate_List_Approved</name>
        <label>Rate List Approved?</label>
        <locationX>183</locationX>
        <locationY>114</locationY>
        <defaultConnector>
            <targetReference>Must_be_Approved_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RateListStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Other_Active_Rate_List_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Activate a Rate List record.  Flow checks record is approved, and checks and warns if another rate list is active</description>
    <interviewLabel>AgreeMgt - Activate Rate List {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AgreeMgt - Activate Rate List</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Other_Active_Rate_List_Record</name>
        <label>Get Other Active Rate List Record</label>
        <locationX>324</locationX>
        <locationY>113</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Other_Active_Rate_List_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Licence_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LicenceType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Rate_List__c</object>
        <outputAssignments>
            <assignToReference>OtherActiveRateListId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Rate_List_Record</name>
        <label>Get Rate List Record</label>
        <locationX>44</locationX>
        <locationY>111</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Rate_List_Approved</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RateListId</elementReference>
            </value>
        </filters>
        <object>Rate_List__c</object>
        <outputAssignments>
            <assignToReference>LicenceType</assignToReference>
            <field>Licence_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RateListName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RateListStatus</assignToReference>
            <field>Status__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Deactivate_old_Rate_List</name>
        <label>Deactivate old Rate List</label>
        <locationX>1042</locationX>
        <locationY>115</locationY>
        <connector>
            <targetReference>Set_Old_Rate_List_Record_Lock_Y</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OtherActiveRateListId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Superseded</stringValue>
            </value>
        </inputAssignments>
        <object>Rate_List__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Set the Record Lock flag on the record to true to lock record again</description>
        <name>Reset_Lock_Record_Y</name>
        <label>Reset Lock Record Y</label>
        <locationX>1189</locationX>
        <locationY>476</locationY>
        <faultConnector>
            <targetReference>Display_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RateListId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lock_Record__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Rate_List__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Set the Record Lock flag on the record to false to allow update of status to Superceded</description>
        <name>Set_Old_Rate_List_Record_Lock_N</name>
        <label>Set Old Rate List Record Lock N</label>
        <locationX>890</locationX>
        <locationY>115</locationY>
        <connector>
            <targetReference>Deactivate_old_Rate_List</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OtherActiveRateListId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lock_Record__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Rate_List__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Set the Record Lock flag on the record to true to lock the record</description>
        <name>Set_Old_Rate_List_Record_Lock_Y</name>
        <label>Set Old Rate List Record Lock Y</label>
        <locationX>1191</locationX>
        <locationY>116</locationY>
        <connector>
            <targetReference>Set_Record_Lock_to_N</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OtherActiveRateListId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lock_Record__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Rate_List__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Rate_List_Active</name>
        <label>Set Rate List Active</label>
        <locationX>1190</locationX>
        <locationY>372</locationY>
        <connector>
            <targetReference>Reset_Lock_Record_Y</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RateListId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Rate_List__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Set the Record Lock flag on the record to false to allow update of status to Active</description>
        <name>Set_Record_Lock_to_N</name>
        <label>Set Record Lock to N</label>
        <locationX>1190</locationX>
        <locationY>256</locationY>
        <connector>
            <targetReference>Set_Rate_List_Active</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RateListId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lock_Record__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Rate_List__c</object>
    </recordUpdates>
    <screens>
        <name>Display_Error_Message</name>
        <label>Display Error Message</label>
        <locationX>252</locationX>
        <locationY>495</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>Sorry, an error occurred in the flow.
For help, provide your flow administrator with the following information: {!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Must_be_Approved_Message</name>
        <label>Must be Approved Message</label>
        <locationX>185</locationX>
        <locationY>10</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MsgApproved</name>
            <fieldText>The Rate List record must be in &apos;Approved&apos; status before Activation.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Warning_Other_Active</name>
        <label>Warning Other Active</label>
        <locationX>600</locationX>
        <locationY>116</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ProceedToActivate</targetReference>
        </connector>
        <fields>
            <name>MsgWarningOtherActive</name>
            <fieldText>Warning! There is currently an &apos;Active&apos; Rate List record for this licence type.

Activating this record will result in the following:

1. The currently active Rate List record will be set to Superseded, and 

2. This Rate List record will be set to Active, and will be immediately referenced by the Document Generation process. 

Select &apos;Continue&apos; to Active the Rate List, or &apos;Cancel&apos; to cancel the activation.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Next_Step</name>
            <choiceReferences>Continue</choiceReferences>
            <choiceReferences>Cancel</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Cancel</defaultSelectedChoiceReference>
            <fieldText>Next Step</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Rate_List_Record</startElementReference>
    <status>Active</status>
    <variables>
        <name>LicenceType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OtherActiveRateListId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RateListId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RateListName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RateListStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
