force-app/main/default/flows/AMLCTF_Create_Post_Audit_Checklist.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_To_Collection</name>
        <label>Add To Collection</label>
        <locationX>408</locationX>
        <locationY>352</locationY>
        <assignmentItems>
            <assignToReference>NewChecklistCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ToBeCheckListItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Through_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Flow_Variables</name>
        <label>Set Flow Variables</label>
        <locationX>410</locationX>
        <locationY>175</locationY>
        <assignmentItems>
            <assignToReference>ToBeCheckListItem.Audit_Program_PostAudit_Rel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AuditProgramId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ToBeCheckListItem.Sequence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TemplateItemInLoop.AMLCTF_Sequence__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ToBeCheckListItem.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TemplateItemInLoop.AMLCTF_Task_Description__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Collection</targetReference>
        </connector>
    </assignments>
    <description>Visual Workflow to create Post-Audit Checklist Items based on template given Audit Program Id. Part of the Retail Audit Case Management Solution, AML/CTF Austrac Phase 2.</description>
    <interviewLabel>AMLCTF Create Pre-Audit Checklist {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AMLCTF Create Post-Audit Checklist</label>
    <loops>
        <name>Iterate_Through_Template</name>
        <label>Iterate Through Template</label>
        <locationX>158</locationX>
        <locationY>254</locationY>
        <assignNextValueToReference>TemplateItemInLoop</assignNextValueToReference>
        <collectionReference>TemplateCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Flow_Variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Checklist</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Checklist</name>
        <label>Insert Checklist</label>
        <locationX>158</locationX>
        <locationY>414</locationY>
        <inputReference>NewChecklistCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Retrieve_Template</name>
        <label>Retrieve Template</label>
        <locationX>155</locationX>
        <locationY>99</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Through_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AMLCTF_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Post-audit Checklist Task</stringValue>
            </value>
        </filters>
        <object>AMLCTF_Audit_Template__c</object>
        <outputReference>TemplateCollection</outputReference>
        <queriedFields>AMLCTF_Sequence__c</queriedFields>
        <queriedFields>AMLCTF_Task_Name__c</queriedFields>
        <queriedFields>AMLCTF_Task_Description__c</queriedFields>
        <sortField>AMLCTF_Sequence__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <startElementReference>Retrieve_Template</startElementReference>
    <status>Active</status>
    <variables>
        <name>AuditProgramId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewChecklistCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AMLCTF_Audit_Checklist_Item_PostAudit__c</objectType>
    </variables>
    <variables>
        <name>TemplateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AMLCTF_Audit_Template__c</objectType>
    </variables>
    <variables>
        <name>TemplateItemInLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AMLCTF_Audit_Template__c</objectType>
    </variables>
    <variables>
        <name>ToBeCheckListItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AMLCTF_Audit_Checklist_Item_PostAudit__c</objectType>
    </variables>
</Flow>
