force-app/main/default/flows/AMLCTF_Create_Audit_Tasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_To_Be_Task_to_Collection</name>
        <label>Add To Be Task to Collection</label>
        <locationX>404</locationX>
        <locationY>300</locationY>
        <assignmentItems>
            <assignToReference>ToBeTaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ToBeAuditTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Through_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_Source_To_Target</name>
        <label>Copy Source To Target</label>
        <locationX>406</locationX>
        <locationY>170</locationY>
        <assignmentItems>
            <assignToReference>ToBeAuditTask.AMLCTF_Audit_Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AuditProgramId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ToBeAuditTask.AMLCTF_Task_Sequence_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SampleTaskInLoop.AMLCTF_Sequence__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ToBeAuditTask.AMLCTF_Task_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SampleTaskInLoop.AMLCTF_Task_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ToBeAuditTask.AMLCTF_Task_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SampleTaskInLoop.AMLCTF_Task_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ToBeAuditTask.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SampleTaskInLoop.AMLCTF_Audit_Task_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Be_Task_to_Collection</targetReference>
        </connector>
    </assignments>
    <description>Visual Workflow to create Audit Tasks based on template given Audit Program Id.  Part of the Retail Audit Case Management Solution, AML/CTF Austrac Phase 2.</description>
    <interviewLabel>AMLCTF Create Audit Tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AMLCTF Create Audit Tasks</label>
    <loops>
        <name>Iterate_Through_Template</name>
        <label>Iterate Through Template</label>
        <locationX>182</locationX>
        <locationY>232</locationY>
        <assignNextValueToReference>SampleTaskInLoop</assignNextValueToReference>
        <collectionReference>SampleTaskCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_Source_To_Target</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Audit_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Audit_Tasks</name>
        <label>Create Audit Tasks</label>
        <locationX>181</locationX>
        <locationY>365</locationY>
        <inputReference>ToBeTaskCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Fetch_Audit_Tasks_in_Template</name>
        <label>Fetch Audit Tasks in Template</label>
        <locationX>181</locationX>
        <locationY>111</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Through_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AMLCTF_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Audit Task</stringValue>
            </value>
        </filters>
        <object>AMLCTF_Audit_Template__c</object>
        <outputReference>SampleTaskCollection</outputReference>
        <queriedFields>AMLCTF_Sequence__c</queriedFields>
        <queriedFields>AMLCTF_Task_Name__c</queriedFields>
        <queriedFields>AMLCTF_Task_Description__c</queriedFields>
        <queriedFields>AMLCTF_Audit_Task_Number__c</queriedFields>
        <sortField>AMLCTF_Sequence__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <startElementReference>Fetch_Audit_Tasks_in_Template</startElementReference>
    <status>Active</status>
    <variables>
        <name>AuditProgramId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SampleTaskCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AMLCTF_Audit_Template__c</objectType>
    </variables>
    <variables>
        <name>SampleTaskInLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AMLCTF_Audit_Template__c</objectType>
    </variables>
    <variables>
        <name>ToBeAuditTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AMLCTF_Audit_Task__c</objectType>
    </variables>
    <variables>
        <name>ToBeTaskCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AMLCTF_Audit_Task__c</objectType>
    </variables>
</Flow>
