force-app/main/default/flows/AMLCTF_Create_Audit_Actions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Object_to_be_created_to_Collection</name>
        <label>Add Object to be created to Collection</label>
        <locationX>677</locationX>
        <locationY>520</locationY>
        <assignmentItems>
            <assignToReference>ActionsToBeCreatedCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ActionObjectToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Through_Audit_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Flow_Variables_for_Action_Create</name>
        <label>Set Flow Variables for Action Create</label>
        <locationX>676</locationX>
        <locationY>365</locationY>
        <assignmentItems>
            <assignToReference>ActionObjectToCreate.AMLCTF_Audit_Action_Statement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ActionStatementId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionObjectToCreate.AMLCTF_Item_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AuditTaskObjectInLoop.AMLCTF_Task_Sequence_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionObjectToCreate.AMLCTF_Task_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AuditTaskObjectInLoop.AMLCTF_Task_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionObjectToCreate.AMLCTF_Task_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AuditTaskObjectInLoop.AMLCTF_Task_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionObjectToCreate.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AuditTaskObjectInLoop.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionObjectToCreate.AMLCTF_Audit_Task_Num__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AuditTaskObjectInLoop.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Object_to_be_created_to_Collection</targetReference>
        </connector>
    </assignments>
    <description>Creates an Action record for each Audit Task, when an Action Statement is created.</description>
    <interviewLabel>AMLCTF Create Audit Actions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AMLCTF Create Audit Actions</label>
    <loops>
        <name>Iterate_Through_Audit_Tasks</name>
        <label>Iterate Through Audit Tasks</label>
        <locationX>473</locationX>
        <locationY>443</locationY>
        <assignNextValueToReference>AuditTaskObjectInLoop</assignNextValueToReference>
        <collectionReference>AuditTaskCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Flow_Variables_for_Action_Create</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Actions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Actions</name>
        <label>Insert Actions</label>
        <locationX>474</locationX>
        <locationY>579</locationY>
        <inputReference>ActionsToBeCreatedCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Fetch_Action_Statement</name>
        <label>Fetch Action Statement</label>
        <locationX>273</locationX>
        <locationY>105</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Case_Object</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ActionStatementId</elementReference>
            </value>
        </filters>
        <object>AMLCTF_Audit_Action_Statement__c</object>
        <outputReference>ActionStatementObject</outputReference>
        <queriedFields>AMLCTF_Audit_Case__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Audit_Program</name>
        <label>Fetch Audit Program</label>
        <locationX>272</locationX>
        <locationY>330</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Audit_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AMLCTF_Audit_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AuditCaseObject.Id</elementReference>
            </value>
        </filters>
        <object>AMLCTF_Audit_Program__c</object>
        <outputReference>AuditProgramObject</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Audit_Tasks</name>
        <label>Fetch Audit Tasks</label>
        <locationX>273</locationX>
        <locationY>443</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Through_Audit_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AMLCTF_Audit_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AuditProgramObject.Id</elementReference>
            </value>
        </filters>
        <object>AMLCTF_Audit_Task__c</object>
        <outputReference>AuditTaskCollection</outputReference>
        <queriedFields>AMLCTF_Task_Sequence_Number__c</queriedFields>
        <queriedFields>AMLCTF_Task_Name__c</queriedFields>
        <queriedFields>AMLCTF_Task_Description__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>AMLCTF_Task_Sequence_Number__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Case_Object</name>
        <label>Fetch Case Object</label>
        <locationX>273</locationX>
        <locationY>218</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Audit_Program</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ActionStatementObject.AMLCTF_Audit_Case__c</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>AuditCaseObject</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>Fetch_Action_Statement</startElementReference>
    <status>Active</status>
    <variables>
        <name>ActionObjectToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AMLCTF_Audit_Action__c</objectType>
    </variables>
    <variables>
        <name>ActionStatementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ActionStatementObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AMLCTF_Audit_Action_Statement__c</objectType>
    </variables>
    <variables>
        <name>ActionsToBeCreatedCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AMLCTF_Audit_Action__c</objectType>
    </variables>
    <variables>
        <name>AuditCaseObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>AuditProgramObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AMLCTF_Audit_Program__c</objectType>
    </variables>
    <variables>
        <name>AuditTaskCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AMLCTF_Audit_Task__c</objectType>
    </variables>
    <variables>
        <name>AuditTaskObjectInLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AMLCTF_Audit_Task__c</objectType>
    </variables>
</Flow>
