force-app/main/default/flows/BidsRequest.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Activity_Assignment</name>
        <label>Activity Assignment</label>
        <locationX>1149</locationX>
        <locationY>811</locationY>
        <assignmentItems>
            <assignToReference>varActivityType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Capability_Statement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>No_Assessment_Request_Basic_Request_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Activity_Assignment_FormalBid</name>
        <label>Activity Assignment FormalBid</label>
        <locationX>848</locationX>
        <locationY>850</locationY>
        <assignmentItems>
            <assignToReference>varActivityType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formal_Bid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assessment_Required</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Activity_assignment_ProActive</name>
        <label>Activity assignment ProActive</label>
        <locationX>1283</locationX>
        <locationY>766</locationY>
        <assignmentItems>
            <assignToReference>varActivityType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Proposal_Pro_active</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>No_Assessment_Request_Basic_Request_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Activity_Assignment_SupportReq</name>
        <label>Activity Assignment SupportReq</label>
        <locationX>1414</locationX>
        <locationY>723</locationY>
        <assignmentItems>
            <assignToReference>varActivityType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Support_Request</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>No_Assessment_Request_Basic_Request_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Bids_EC_G</name>
        <label>Assign to Bids EC&amp;G</label>
        <locationX>1004</locationX>
        <locationY>130</locationY>
        <assignmentItems>
            <assignToReference>varRecordType</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>01290000000A772</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OpportunityLookUp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Business_Development_Pes</name>
        <label>Assign to Business Development Pes</label>
        <locationX>800</locationX>
        <locationY>140</locationY>
        <assignmentItems>
            <assignToReference>varRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012900000012L6v</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OpportunityLookUp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Business_Sales_PeS</name>
        <label>Assign to Business Sales – PeS</label>
        <locationX>597</locationX>
        <locationY>219</locationY>
        <assignmentItems>
            <assignToReference>varRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012900000012L6w</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OpportunityLookUp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Inside_Sales_PeS</name>
        <label>Assign to Inside Sales – PeS</label>
        <locationX>470</locationX>
        <locationY>160</locationY>
        <assignmentItems>
            <assignToReference>varRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012900000012L6x</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OpportunityLookUp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Key_Accounts_PeS</name>
        <label>Assign to Key Accounts – PeS</label>
        <locationX>219</locationX>
        <locationY>164</locationY>
        <assignmentItems>
            <assignToReference>varRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012900000012L6y</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OpportunityLookUp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Formal_PeS</name>
        <label>Formal PeS</label>
        <locationX>281</locationX>
        <locationY>748</locationY>
        <assignmentItems>
            <assignToReference>varActivityType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formal_Bid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assessment_Required_0_PeS</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Australia_Post</name>
        <choiceText>Australia Post</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Australia Post</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bid_Activity_Choice</name>
        <choiceText>Bid Activity Choice</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Build_Customise</name>
        <choiceText>Build / Customise</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Build</stringValue>
        </value>
    </choices>
    <choices>
        <name>Build_or_Customise</name>
        <choiceText>Build or Customise</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Build / Customise</stringValue>
        </value>
    </choices>
    <choices>
        <name>Business_Development_PeS</name>
        <choiceText>Business Development - PeS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Business Development - PeS</stringValue>
        </value>
    </choices>
    <choices>
        <name>Business_Sales_PeS</name>
        <choiceText>Business Sales – PeS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Business Sales – PeS</stringValue>
        </value>
    </choices>
    <choices>
        <name>Capability_Statement</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Capability Statement&lt;/B&gt; (Basic high level proposal detailing product / solution capabilities)&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Capability Statement</stringValue>
        </value>
    </choices>
    <choices>
        <name>Capability_Statement1</name>
        <choiceText>Capability Statement</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Capability_Statement</elementReference>
        </value>
    </choices>
    <choices>
        <name>Clarification_Questions</name>
        <choiceText>Clarification Questions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Clarification Questions</stringValue>
        </value>
    </choices>
    <choices>
        <name>Courier</name>
        <choiceText>Courier</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Courier</stringValue>
        </value>
    </choices>
    <choices>
        <name>Courier_other</name>
        <choiceText>Courier</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Courier</elementReference>
        </value>
    </choices>
    <choices>
        <name>Decipha</name>
        <choiceText>Decipha</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Decipha</stringValue>
        </value>
    </choices>
    <choices>
        <name>Decipha_FormalBid</name>
        <choiceText>Decipha</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Decipha</stringValue>
        </value>
    </choices>
    <choices>
        <name>DefaultSelection</name>
        <choiceText>SELECT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SELECT</stringValue>
        </value>
    </choices>
    <choices>
        <name>Digital</name>
        <choiceText>Digital</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Digital</stringValue>
        </value>
    </choices>
    <choices>
        <name>EC_G_Bids</name>
        <choiceText>EC&amp;G Bids Support Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>EC&amp;G Bids Support Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>EC_G_Bids_Support_Request</name>
        <choiceText>EC &amp; G - TeS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>EC &amp; G Bids Support Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>EOI</name>
        <choiceText>EOI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>EOI</stringValue>
        </value>
    </choices>
    <choices>
        <name>Existing_Customer</name>
        <choiceText>Renewal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Retention</stringValue>
        </value>
    </choices>
    <choices>
        <name>Formal_Bid</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Formal Bid&lt;/B&gt; (Formal bidding process such as an RFP, RFT, RFI, RFQ, EOI)&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Formal Bid</stringValue>
        </value>
    </choices>
    <choices>
        <name>ID_V</name>
        <choiceText>ID&amp;V</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ID &amp; V</stringValue>
        </value>
    </choices>
    <choices>
        <name>Inside_Sales_PeS</name>
        <choiceText>Inside Sales – PeS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inside Sales – PeS</stringValue>
        </value>
    </choices>
    <choices>
        <name>International</name>
        <choiceText>International</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>International</stringValue>
        </value>
    </choices>
    <choices>
        <name>Key_Accounts_PeS</name>
        <choiceText>Key Accounts – PeS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Key Accounts – PeS</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mail_Services</name>
        <choiceText>Mail Services</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mail Services</stringValue>
        </value>
    </choices>
    <choices>
        <name>N_A</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Business</name>
        <choiceText>New Business</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Business</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Support_Choice</name>
        <choiceText>New_Support_Choice</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>New_Will_you_require_support_from_the_EC_G_Solutions_team</elementReference>
        </value>
    </choices>
    <choices>
        <name>No_OpptyUnknown</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_SupportRequired</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_ThirdParty</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>No_ThirdParty</elementReference>
        </value>
    </choices>
    <choices>
        <name>No_ThirdParty_New</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>None1</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>None</elementReference>
        </value>
    </choices>
    <choices>
        <name>NoSupportNeeded</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_FormalBid</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Parcels</name>
        <choiceText>Parcels</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Parcels</stringValue>
        </value>
    </choices>
    <choices>
        <name>Payments</name>
        <choiceText>Payments</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Payments</stringValue>
        </value>
    </choices>
    <choices>
        <name>Presentation</name>
        <choiceText>Presentation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Presentation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Proposal</name>
        <choiceText>Proposal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Proposal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Proposal_Pro_active</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Proactive Proposal&lt;/B&gt; (Detailed proposal tailored to customer requirements)&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Proposal - Pro-active</stringValue>
        </value>
    </choices>
    <choices>
        <name>Proposal_Pro_active1</name>
        <choiceText>Proposal - Pro-active</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Proposal_Pro_active</elementReference>
        </value>
    </choices>
    <choices>
        <name>Questions</name>
        <choiceText>Clarification Questions</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Retail_Services</name>
        <choiceText>Retail Services</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Retail Services</stringValue>
        </value>
    </choices>
    <choices>
        <name>RFI</name>
        <choiceText>RFI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RFI</stringValue>
        </value>
    </choices>
    <choices>
        <name>RFP</name>
        <choiceText>RFP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RFP</stringValue>
        </value>
    </choices>
    <choices>
        <name>RFQ</name>
        <choiceText>RFQ</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RFQ</stringValue>
        </value>
    </choices>
    <choices>
        <name>RFT</name>
        <choiceText>RFT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RFT</stringValue>
        </value>
    </choices>
    <choices>
        <name>Select_BusinessType</name>
        <choiceText>Select</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Select</stringValue>
        </value>
    </choices>
    <choices>
        <name>Select_DocType</name>
        <choiceText>Select</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Select</stringValue>
        </value>
    </choices>
    <choices>
        <name>Select_DocumentType_2</name>
        <choiceText>Select</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Select</stringValue>
        </value>
    </choices>
    <choices>
        <name>Select_OpptyInvolvement</name>
        <choiceText>Select</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Select</stringValue>
        </value>
    </choices>
    <choices>
        <name>Select_PrimaryProduct</name>
        <choiceText>Select</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Select</stringValue>
        </value>
    </choices>
    <choices>
        <name>Select_PrimaryProduct_ShortBid</name>
        <choiceText>Select</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Select</stringValue>
        </value>
    </choices>
    <choices>
        <name>Select_StandardOrBuild</name>
        <choiceText>Select</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Select</stringValue>
        </value>
    </choices>
    <choices>
        <name>Select_SupportRequired</name>
        <choiceText>Select</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Select</stringValue>
        </value>
    </choices>
    <choices>
        <name>Select_ThirdParty</name>
        <choiceText>Select</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Select</stringValue>
        </value>
    </choices>
    <choices>
        <name>Solutions_Team_Help</name>
        <choiceText>Solutions Team Help</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Standard</name>
        <choiceText>Standard</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Standard</stringValue>
        </value>
    </choices>
    <choices>
        <name>Standard_new</name>
        <choiceText>Standard</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Standard</stringValue>
        </value>
    </choices>
    <choices>
        <name>StarTrack</name>
        <choiceText>StarTrack</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>StarTrack</stringValue>
        </value>
    </choices>
    <choices>
        <name>StarTrack_FormalBid</name>
        <choiceText>StarTrack</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Startrack</stringValue>
        </value>
    </choices>
    <choices>
        <name>Supply_Chain</name>
        <choiceText>Supply Chain</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Supply Chain</stringValue>
        </value>
    </choices>
    <choices>
        <name>Support_Request</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Support Request&lt;/B&gt; (General support request or additional support for bid / proposal already submitted)&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Support Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Support_Request1</name>
        <choiceText>Support Request</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Support_Request</elementReference>
        </value>
    </choices>
    <choices>
        <name>Test</name>
        <choiceText>Test</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Third_Party</name>
        <choiceText>Third Party</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Third_Party_true</name>
        <choiceText>Third Party</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Third_Party</elementReference>
        </value>
    </choices>
    <choices>
        <name>UMS</name>
        <choiceText>UMS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>UMS</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes2</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>YesSupportNeeded</elementReference>
        </value>
    </choices>
    <choices>
        <name>Yes_OpptyKnown</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_SupportRequired</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_ThirdParty</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesSupportNeeded</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>YesSupportNeeded</elementReference>
        </value>
    </choices>
    <choices>
        <name>YesThirdParty</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>YesThirdParty</elementReference>
        </value>
    </choices>
    <decisions>
        <name>DecideOnActivityType</name>
        <label>BranchOnActivityType</label>
        <locationX>568</locationX>
        <locationY>573</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Basic_Request_Form_Capability</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Activity_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Capability_Statement</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Activity_Assignment</targetReference>
            </connector>
            <label>Basic Request Form Capability</label>
        </rules>
        <rules>
            <name>Bid_Request_Assessment_Form</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Activity_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Formal_Bid</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01290000000A772</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Activity_Assignment_FormalBid</targetReference>
            </connector>
            <label>Formal Bid Request</label>
        </rules>
        <rules>
            <name>Basic_Request_Form_Proactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Activity_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Proposal_Pro_active</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Activity_assignment_ProActive</targetReference>
            </connector>
            <label>Basic Request Form Proactive</label>
        </rules>
        <rules>
            <name>Basic_Request_Form_SupportReq</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Activity_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Support_Request</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Activity_Assignment_SupportReq</targetReference>
            </connector>
            <label>Basic Request Form SupportReq</label>
        </rules>
        <rules>
            <name>Formal_Bid_Request_PeS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Activity_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Formal_Bid</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRecordType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>01290000000A772</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Formal_PeS</targetReference>
            </connector>
            <label>Formal Bid Request PeS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Go_back_if_Select_value_is_selected_in_dropdowns</name>
        <label>Go back if Select value is selected in dropdowns</label>
        <locationX>861</locationX>
        <locationY>1089</locationY>
        <defaultConnector>
            <targetReference>Initial_Qualification_Assessment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AllFieldsPopulated</defaultConnectorLabel>
        <rules>
            <name>SelectOptionSelected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>New_Are_third_party_partners_required_to_deliver_services</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Select</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Is_this_an_existing_customer_or_renewal_of_existing_business</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Select</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Will_you_require_support_from_the_EC_G_Solutions_team</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Select</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Product_Solutions_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Select</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Document_Type_Detailed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Select</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Primary_Product</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Select</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Were_you_aware_of_the_bid_opportunity_before_it_was_released</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Select</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Please_select_values</targetReference>
            </connector>
            <label>SelectOptionSelected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Go_back_if_Select_value_is_selected_in_dropdowns_0</name>
        <label>Go back if Select value is selected in dropdowns</label>
        <locationX>296</locationX>
        <locationY>1109</locationY>
        <defaultConnector>
            <targetReference>Initial_Qualification_Assessment_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AllFieldsPopulated</defaultConnectorLabel>
        <rules>
            <name>SelectOptionSelected_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Is_this_an_existing_customer_or_renewal_of_existing_business</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Select</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Document_Type_Detailed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Select</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Primary_Product</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Select</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Were_you_aware_of_the_bid_opportunity_before_it_was_released</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Select</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Please_select_values_0</targetReference>
            </connector>
            <label>SelectOptionSelected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Initial_Qualification_Assessment</name>
        <label>Initial Qualification Assessment</label>
        <locationX>823</locationX>
        <locationY>1307</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ShortPath</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Are_third_party_partners_required_to_deliver_services</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_ThirdParty_New</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Will_you_require_support_from_the_EC_G_Solutions_team</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_SupportRequired</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAnnualRevenue1</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>2000000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Product_Solutions_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Standard_new</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecordCreateShortPath</targetReference>
            </connector>
            <label>ShortPath</label>
        </rules>
        <rules>
            <name>LongPath</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varAnnualRevenue1</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2000000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Will_you_require_support_from_the_EC_G_Solutions_team</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_SupportRequired</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Are_third_party_partners_required_to_deliver_services</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_ThirdParty</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Product_Solutions_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Build_or_Customise</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecordCreateLongPath</targetReference>
            </connector>
            <label>LongPath</label>
        </rules>
    </decisions>
    <decisions>
        <name>Initial_Qualification_Assessment_0</name>
        <label>Initial Qualification Assessment</label>
        <locationX>609</locationX>
        <locationY>1344</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ShortPath_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAnnualRevenue1</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>2000000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PeS_Short_Path</targetReference>
            </connector>
            <label>ShortPath</label>
        </rules>
        <rules>
            <name>LongPath_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varAnnualRevenue1</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2000000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PeS_Long_Path</targetReference>
            </connector>
            <label>LongPath</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Field_Populated</name>
        <label>Validate Field Populated</label>
        <locationX>1262</locationX>
        <locationY>1061</locationY>
        <defaultConnector>
            <targetReference>CreateECGBidRequest</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AllFieldsPopulated</defaultConnectorLabel>
        <rules>
            <name>SelectOptionSelected_type2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Primary_Product_Other</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Select</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Document_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Select</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Error</targetReference>
            </connector>
            <label>SelectOptionSelected_type2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Record_Type</name>
        <label>Which Record Type</label>
        <locationX>621</locationX>
        <locationY>8</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Business_Sales_PeS_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Bids_Support_Request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Business_Sales_PeS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Business_Sales_PeS</targetReference>
            </connector>
            <label>Business Sales – PeS</label>
        </rules>
        <rules>
            <name>EC_G_Bids_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Bids_Support_Request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EC_G_Bids_Support_Request</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Bids_EC_G</targetReference>
            </connector>
            <label>EC&amp;G Bids -TeS</label>
        </rules>
        <rules>
            <name>Business_Development_PeS_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Bids_Support_Request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Business_Development_PeS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Business_Development_Pes</targetReference>
            </connector>
            <label>Business Development – PeS</label>
        </rules>
        <rules>
            <name>Inside_Sales_PeS_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Bids_Support_Request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Inside_Sales_PeS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Inside_Sales_PeS</targetReference>
            </connector>
            <label>Inside Sales – PeS</label>
        </rules>
        <rules>
            <name>Key_Accounts_PeS_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Bids_Support_Request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Key_Accounts_PeS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Key_Accounts_PeS</targetReference>
            </connector>
            <label>Key Accounts – PeS</label>
        </rules>
        <rules>
            <name>SELECT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Bids_Support_Request</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>DefaultSelection</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Please_select_values_0_0</targetReference>
            </connector>
            <label>SELECT</label>
        </rules>
    </decisions>
    <description>Version 20 - New updates from Chris Thallon/Kathryn Larfield</description>
    <dynamicChoiceSets>
        <description>This is the bid activity type</description>
        <name>BidActivityType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Bid_or_Tender_Type__c</picklistField>
        <picklistObject>Bid__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BidActivityType1</name>
        <dataType>String</dataType>
        <displayField>Bid_or_Tender_Type__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Bid_or_Tender_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Capability Statement</stringValue>
            </value>
        </filters>
        <object>Bid__c</object>
        <outputAssignments>
            <assignToReference>activityType</assignToReference>
            <field>Bid_or_Tender_Type__c</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <interviewLabel>BidsRequest {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BidsRequest</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateECGBidRequest</name>
        <label>CreateECGBidRequest</label>
        <locationX>1194</locationX>
        <locationY>1519</locationY>
        <assignRecordIdToReference>varBidRequest</assignRecordIdToReference>
        <connector>
            <targetReference>BidLookup</targetReference>
        </connector>
        <inputAssignments>
            <field>Activity_Name__c</field>
            <value>
                <elementReference>varOpportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bid_or_Tender_Type__c</field>
            <value>
                <elementReference>varActivityType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Coverage_Sales_Driver__c</field>
            <value>
                <elementReference>varOpptyDriver</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Document_Type__c</field>
            <value>
                <elementReference>Document_type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>Date_of_Submission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Name__c</field>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G90000002XiFp</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Probability__c</field>
            <value>
                <elementReference>varProbability</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Primary_Product_Other</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_comments_instructions__c</field>
            <value>
                <elementReference>Description_of_Work_Requested</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Assign to Bid Manager</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X1st_Draft_Due_Date__c</field>
            <value>
                <elementReference>Date_of_Submission</elementReference>
            </value>
        </inputAssignments>
        <object>Bid__c</object>
    </recordCreates>
    <recordCreates>
        <name>PeS_Long_Path</name>
        <label>PeS Long Path</label>
        <locationX>438</locationX>
        <locationY>1528</locationY>
        <assignRecordIdToReference>varBidRequest</assignRecordIdToReference>
        <connector>
            <targetReference>BidLookup</targetReference>
        </connector>
        <inputAssignments>
            <field>Activity_Name__c</field>
            <value>
                <elementReference>varOpportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bid_or_Tender_Type__c</field>
            <value>
                <elementReference>varActivityType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Type__c</field>
            <value>
                <elementReference>Is_this_an_existing_customer_or_renewal_of_existing_business_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Term__c</field>
            <value>
                <elementReference>What_is_the_contract_term_years_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Coverage_Sales_Driver__c</field>
            <value>
                <elementReference>varOpptyDriver</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Document_Type__c</field>
            <value>
                <elementReference>Document_Type_Detailed_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>Date_of_Submission_Due_Date_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Heard_about_opportunity_prior_to_release__c</field>
            <value>
                <elementReference>New_Were_you_aware_of_the_bid_opportunity_before_it_was_released_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Name__c</field>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G90000002XiFp</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Probability__c</field>
            <value>
                <elementReference>varProbability</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Solutions__c</field>
            <value>
                <elementReference>New_Product_Solutions_type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Primary_Product_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_comments_instructions__c</field>
            <value>
                <elementReference>Additional_Comments_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Qualification Required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_required_from_Solutions_Team__c</field>
            <value>
                <elementReference>New_Will_you_require_support_from_the_EC_G_Solutions_team</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X1st_Draft_Due_Date__c</field>
            <value>
                <elementReference>Date_of_Submission_Due_Date_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X3rd_Party_Partners_required__c</field>
            <value>
                <elementReference>New_Are_third_party_partners_required_to_deliver_services</elementReference>
            </value>
        </inputAssignments>
        <object>Bid__c</object>
    </recordCreates>
    <recordCreates>
        <name>PeS_Short_Path</name>
        <label>PeS Short Path</label>
        <locationX>158</locationX>
        <locationY>1535</locationY>
        <assignRecordIdToReference>varBidRequest</assignRecordIdToReference>
        <connector>
            <targetReference>BidLookup</targetReference>
        </connector>
        <inputAssignments>
            <field>Activity_Name__c</field>
            <value>
                <elementReference>varOpportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bid_or_Tender_Type__c</field>
            <value>
                <elementReference>varActivityType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Type__c</field>
            <value>
                <elementReference>Is_this_an_existing_customer_or_renewal_of_existing_business_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Term__c</field>
            <value>
                <elementReference>What_is_the_contract_term_years_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Coverage_Sales_Driver__c</field>
            <value>
                <elementReference>varOpptyDriver</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Document_Type__c</field>
            <value>
                <elementReference>Document_Type_Detailed_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>Date_of_Submission_Due_Date_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Heard_about_opportunity_prior_to_release__c</field>
            <value>
                <elementReference>New_Were_you_aware_of_the_bid_opportunity_before_it_was_released_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Name__c</field>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G90000002XiFp</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Probability__c</field>
            <value>
                <elementReference>varProbability</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Solutions__c</field>
            <value>
                <elementReference>New_Product_Solutions_type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Primary_Product_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_comments_instructions__c</field>
            <value>
                <elementReference>Additional_Comments_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Assign to Bid Manager</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_required_from_Solutions_Team__c</field>
            <value>
                <elementReference>New_Will_you_require_support_from_the_EC_G_Solutions_team</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X1st_Draft_Due_Date__c</field>
            <value>
                <elementReference>Date_of_Submission_Due_Date_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X3rd_Party_Partners_required__c</field>
            <value>
                <elementReference>New_Are_third_party_partners_required_to_deliver_services</elementReference>
            </value>
        </inputAssignments>
        <object>Bid__c</object>
    </recordCreates>
    <recordCreates>
        <name>RecordCreateLongPath</name>
        <label>LongPath</label>
        <locationX>968</locationX>
        <locationY>1525</locationY>
        <assignRecordIdToReference>varBidRequest</assignRecordIdToReference>
        <connector>
            <targetReference>BidLookup</targetReference>
        </connector>
        <inputAssignments>
            <field>Activity_Name__c</field>
            <value>
                <elementReference>varOpportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bid_or_Tender_Type__c</field>
            <value>
                <elementReference>varActivityType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Type__c</field>
            <value>
                <elementReference>Is_this_an_existing_customer_or_renewal_of_existing_business</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Term__c</field>
            <value>
                <elementReference>What_is_the_contract_term_years</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Coverage_Sales_Driver__c</field>
            <value>
                <elementReference>varOpptyDriver</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Document_Type__c</field>
            <value>
                <elementReference>Document_Type_Detailed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>Date_of_Submission_Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Heard_about_opportunity_prior_to_release__c</field>
            <value>
                <elementReference>New_Were_you_aware_of_the_bid_opportunity_before_it_was_released</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Name__c</field>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G90000002XiFp</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Probability__c</field>
            <value>
                <elementReference>varProbability</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Solutions__c</field>
            <value>
                <elementReference>New_Product_Solutions_type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Primary_Product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_comments_instructions__c</field>
            <value>
                <elementReference>Additional_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Qualification Required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_required_from_Solutions_Team__c</field>
            <value>
                <elementReference>New_Will_you_require_support_from_the_EC_G_Solutions_team</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X1st_Draft_Due_Date__c</field>
            <value>
                <elementReference>Date_of_Submission_Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X3rd_Party_Partners_required__c</field>
            <value>
                <elementReference>New_Are_third_party_partners_required_to_deliver_services</elementReference>
            </value>
        </inputAssignments>
        <object>Bid__c</object>
    </recordCreates>
    <recordCreates>
        <name>RecordCreateShortPath</name>
        <label>Short Path</label>
        <locationX>729</locationX>
        <locationY>1526</locationY>
        <assignRecordIdToReference>varBidRequest</assignRecordIdToReference>
        <connector>
            <targetReference>BidLookup</targetReference>
        </connector>
        <inputAssignments>
            <field>Activity_Name__c</field>
            <value>
                <elementReference>varOpportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bid_or_Tender_Type__c</field>
            <value>
                <elementReference>varActivityType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Type__c</field>
            <value>
                <elementReference>Is_this_an_existing_customer_or_renewal_of_existing_business</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Term__c</field>
            <value>
                <elementReference>What_is_the_contract_term_years</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Coverage_Sales_Driver__c</field>
            <value>
                <elementReference>varOpptyDriver</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Document_Type__c</field>
            <value>
                <elementReference>Document_Type_Detailed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>Date_of_Submission_Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Heard_about_opportunity_prior_to_release__c</field>
            <value>
                <elementReference>New_Were_you_aware_of_the_bid_opportunity_before_it_was_released</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Name__c</field>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G90000002XiFp</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Probability__c</field>
            <value>
                <elementReference>varProbability</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Solutions__c</field>
            <value>
                <elementReference>New_Product_Solutions_type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Primary_Product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_comments_instructions__c</field>
            <value>
                <elementReference>Additional_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Assign to Bid Manager</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_required_from_Solutions_Team__c</field>
            <value>
                <elementReference>New_Will_you_require_support_from_the_EC_G_Solutions_team</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X1st_Draft_Due_Date__c</field>
            <value>
                <elementReference>Date_of_Submission_Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X3rd_Party_Partners_required__c</field>
            <value>
                <elementReference>New_Are_third_party_partners_required_to_deliver_services</elementReference>
            </value>
        </inputAssignments>
        <object>Bid__c</object>
    </recordCreates>
    <recordLookups>
        <name>BidLookup</name>
        <label>BidLookup</label>
        <locationX>941</locationX>
        <locationY>1870</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Finish_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBidRequest</elementReference>
            </value>
        </filters>
        <object>Bid__c</object>
        <outputAssignments>
            <assignToReference>varAccountID</assignToReference>
            <field>Customer_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varBidRequestRefNum</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>OpportunityLookUp</name>
        <label>OpportunityLookUp</label>
        <locationX>566</locationX>
        <locationY>344</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Bid_Activity_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>varAccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAccountOwner</assignToReference>
            <field>Account_Owner__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAnnualRevenue1</assignToReference>
            <field>Amount</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOpportunityID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOpportunityName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOpportunityNumber</assignToReference>
            <field>Opportunity_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOpptyDriver</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varProbability</assignToReference>
            <field>Probability</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOpportunityStage</assignToReference>
            <field>StageName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOpportunityName1</assignToReference>
            <field>Type</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Assessment_Required</name>
        <label>Formal Bid Request Questionnaire</label>
        <locationX>855</locationX>
        <locationY>975</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Go_back_if_Select_value_is_selected_in_dropdowns</targetReference>
        </connector>
        <fields>
            <name>FormalBidDisplayText</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please provide details about the Formal Bid you need supported by completing the form - press &lt;B&gt;Next&lt;/B&gt; to submit your request&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Work_Type_Detailed</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varActivityType</elementReference>
            </defaultValue>
            <fieldText>Activity Type</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OpptyName1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Opportunity_Name_Detailed</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varOpportunityName</elementReference>
            </defaultValue>
            <fieldText>Opportunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Blank2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Document_Type_Detailed</name>
            <choiceReferences>Select_DocType</choiceReferences>
            <choiceReferences>RFT</choiceReferences>
            <choiceReferences>RFI</choiceReferences>
            <choiceReferences>RFQ</choiceReferences>
            <choiceReferences>EOI</choiceReferences>
            <choiceReferences>RFP</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Select_DocType</defaultSelectedChoiceReference>
            <fieldText>Document Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank10</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Primary_Product</name>
            <choiceReferences>Courier</choiceReferences>
            <choiceReferences>Decipha_FormalBid</choiceReferences>
            <choiceReferences>Digital</choiceReferences>
            <choiceReferences>ID_V</choiceReferences>
            <choiceReferences>International</choiceReferences>
            <choiceReferences>Mail_Services</choiceReferences>
            <choiceReferences>Other_FormalBid</choiceReferences>
            <choiceReferences>Parcels</choiceReferences>
            <choiceReferences>Payments</choiceReferences>
            <choiceReferences>Retail_Services</choiceReferences>
            <choiceReferences>StarTrack_FormalBid</choiceReferences>
            <choiceReferences>Supply_Chain</choiceReferences>
            <choiceReferences>UMS</choiceReferences>
            <choiceReferences>Select_PrimaryProduct</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Select_PrimaryProduct</defaultSelectedChoiceReference>
            <fieldText>Primary Product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank8</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Date_of_Submission_Due_Date</name>
            <dataType>Date</dataType>
            <fieldText>Date of Submission / Due Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Blank6</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Is_this_an_existing_customer_or_renewal_of_existing_business</name>
            <choiceReferences>Select_BusinessType</choiceReferences>
            <choiceReferences>New_Business</choiceReferences>
            <choiceReferences>Existing_Customer</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Select_BusinessType</defaultSelectedChoiceReference>
            <fieldText>Does this bid relate to the Renewal of existing work or New Business?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank7</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Were_you_aware_of_the_bid_opportunity_before_it_was_released</name>
            <choiceReferences>Yes_OpptyKnown</choiceReferences>
            <choiceReferences>No_OpptyUnknown</choiceReferences>
            <choiceReferences>Select_OpptyInvolvement</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Select_OpptyInvolvement</defaultSelectedChoiceReference>
            <fieldText>Were you aware of the bid opportunity before it was released?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>What_is_the_contract_term_years</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>What is the contract term (years)?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Blank4</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Estimated_value_of_opportunity_per_annum</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>varAnnualRevenue1</elementReference>
            </defaultValue>
            <fieldText>Estimated value of opportunity per annum</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Blank5</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Will_you_require_support_from_the_EC_G_Solutions_team</name>
            <choiceReferences>Select_SupportRequired</choiceReferences>
            <choiceReferences>Yes_SupportRequired</choiceReferences>
            <choiceReferences>No_SupportRequired</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Select_SupportRequired</defaultSelectedChoiceReference>
            <fieldText>Will you require support from the EC &amp; G Solutions team?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank15</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Are_third_party_partners_required_to_deliver_services</name>
            <choiceReferences>Select_ThirdParty</choiceReferences>
            <choiceReferences>Yes_ThirdParty</choiceReferences>
            <choiceReferences>No_ThirdParty_New</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Select_ThirdParty</defaultSelectedChoiceReference>
            <fieldText>Are third party partners required to deliver services?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank16</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Product_Solutions_type</name>
            <choiceReferences>Select_StandardOrBuild</choiceReferences>
            <choiceReferences>Build_or_Customise</choiceReferences>
            <choiceReferences>Standard_new</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Select_StandardOrBuild</defaultSelectedChoiceReference>
            <fieldText>Are the product / solutions standard &apos;off-the-shelf&apos; or do we have to build / customise them?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank17</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Additional_Comments</name>
            <fieldText>Additional Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Assessment_Required_0_PeS</name>
        <label>Formal Bid Request Questionnaire PeS</label>
        <locationX>283</locationX>
        <locationY>954</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Go_back_if_Select_value_is_selected_in_dropdowns_0</targetReference>
        </connector>
        <fields>
            <name>FormalBidDisplayText_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please provide details about the Formal Bid you need supported by completing the form - press &lt;B&gt;Next&lt;/B&gt; to submit your request&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Work_Type_Detailed_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varActivityType</elementReference>
            </defaultValue>
            <fieldText>Activity Type</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OpptyName1_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Opportunity_Name_Detailed_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varOpportunityName</elementReference>
            </defaultValue>
            <fieldText>Opportunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Blank2_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Document_Type_Detailed_0</name>
            <choiceReferences>Select_DocType</choiceReferences>
            <choiceReferences>RFT</choiceReferences>
            <choiceReferences>RFI</choiceReferences>
            <choiceReferences>RFQ</choiceReferences>
            <choiceReferences>EOI</choiceReferences>
            <choiceReferences>RFP</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Select_DocType</defaultSelectedChoiceReference>
            <fieldText>Document Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank10_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Primary_Product_0</name>
            <choiceReferences>Courier</choiceReferences>
            <choiceReferences>Decipha_FormalBid</choiceReferences>
            <choiceReferences>Digital</choiceReferences>
            <choiceReferences>ID_V</choiceReferences>
            <choiceReferences>International</choiceReferences>
            <choiceReferences>Mail_Services</choiceReferences>
            <choiceReferences>Other_FormalBid</choiceReferences>
            <choiceReferences>Parcels</choiceReferences>
            <choiceReferences>Payments</choiceReferences>
            <choiceReferences>Retail_Services</choiceReferences>
            <choiceReferences>StarTrack_FormalBid</choiceReferences>
            <choiceReferences>Supply_Chain</choiceReferences>
            <choiceReferences>UMS</choiceReferences>
            <choiceReferences>Select_PrimaryProduct</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Select_PrimaryProduct</defaultSelectedChoiceReference>
            <fieldText>Primary Product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank8_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Date_of_Submission_Due_Date_0</name>
            <dataType>Date</dataType>
            <fieldText>Date of Submission / Due Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Blank6_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Is_this_an_existing_customer_or_renewal_of_existing_business_0</name>
            <choiceReferences>Select_BusinessType</choiceReferences>
            <choiceReferences>New_Business</choiceReferences>
            <choiceReferences>Existing_Customer</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Select_BusinessType</defaultSelectedChoiceReference>
            <fieldText>Does this bid relate to the Renewal of existing work or New Business?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank7_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Were_you_aware_of_the_bid_opportunity_before_it_was_released_0</name>
            <choiceReferences>Yes_OpptyKnown</choiceReferences>
            <choiceReferences>No_OpptyUnknown</choiceReferences>
            <choiceReferences>Select_OpptyInvolvement</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Select_OpptyInvolvement</defaultSelectedChoiceReference>
            <fieldText>Were you aware of the bid opportunity before it was released?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank3_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>What_is_the_contract_term_years_0</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>What is the contract term (years)?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Blank4_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Estimated_value_of_opportunity_per_annum_0</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>varAnnualRevenue1</elementReference>
            </defaultValue>
            <fieldText>Estimated value of opportunity per annum</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Blank17_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Additional_Comments_0</name>
            <fieldText>Additional Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Bid_Activity_Type</name>
        <label>Bid Activity Type</label>
        <locationX>567</locationX>
        <locationY>461</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DecideOnActivityType</targetReference>
        </connector>
        <fields>
            <name>typeOfBidActivity</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please select the type of activity that you would like the Bids &amp;amp; Tenders team to support – then press &lt;B&gt;Next.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Activity_Type</name>
            <choiceReferences>Formal_Bid</choiceReferences>
            <choiceReferences>Proposal_Pro_active</choiceReferences>
            <choiceReferences>Capability_Statement</choiceReferences>
            <choiceReferences>Support_Request</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Activity Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <helpText>Select the type of bid activity so that your bid support request may be directed to the correct representative.</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Error</name>
        <label>Display Error</label>
        <locationX>1467</locationX>
        <locationY>968</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>No_Assessment_Request_Basic_Request_Form</targetReference>
        </connector>
        <fields>
            <name>Information2</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You have not made a valid selection for one or more of these fields&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;* Document Type&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;* Primary Product&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Click &lt;B&gt;Next&lt;/B&gt; to be taken to the previous screen to confirm your selections.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish_Screen</name>
        <label>Finish Screen</label>
        <locationX>943</locationX>
        <locationY>2004</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Finish</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Thank you for submitting a Bid Support Request – your reference number is &lt;FONT KERNING=&quot;1&quot;&gt;{!varBidRequestRefNum} &lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The Bids &amp;amp; Tenders team will respond to your request within 1 business day. &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Press &lt;B&gt;Finish&lt;/B&gt; to return to the Opportunity.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Assessment_Request_Basic_Request_Form</name>
        <label>No Assessment Request - Basic Request Form</label>
        <locationX>1256</locationX>
        <locationY>938</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Validate_Field_Populated</targetReference>
        </connector>
        <fields>
            <name>Bid_Activity_Type_Selected</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varActivityType</elementReference>
            </defaultValue>
            <fieldText>Activity Type</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank11</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Opportunity_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varOpportunityName</elementReference>
            </defaultValue>
            <fieldText>Opportunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank19</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Annual_Revenue</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varAnnualRevenue1</elementReference>
            </defaultValue>
            <fieldText>Annual Revenue</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank12</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Document_type</name>
            <choiceReferences>Clarification_Questions</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <choiceReferences>Presentation</choiceReferences>
            <choiceReferences>Proposal</choiceReferences>
            <choiceReferences>Select_DocumentType_2</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Select_DocumentType_2</defaultSelectedChoiceReference>
            <fieldText>Document type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank13</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Primary_Product_Other</name>
            <choiceReferences>Courier</choiceReferences>
            <choiceReferences>Decipha_FormalBid</choiceReferences>
            <choiceReferences>Digital</choiceReferences>
            <choiceReferences>ID_V</choiceReferences>
            <choiceReferences>International</choiceReferences>
            <choiceReferences>Mail_Services</choiceReferences>
            <choiceReferences>Other_FormalBid</choiceReferences>
            <choiceReferences>Parcels</choiceReferences>
            <choiceReferences>Payments</choiceReferences>
            <choiceReferences>Retail_Services</choiceReferences>
            <choiceReferences>StarTrack_FormalBid</choiceReferences>
            <choiceReferences>Supply_Chain</choiceReferences>
            <choiceReferences>UMS</choiceReferences>
            <choiceReferences>Select_PrimaryProduct_ShortBid</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Select_PrimaryProduct_ShortBid</defaultSelectedChoiceReference>
            <fieldText>Primary Product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank18</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Date_of_Submission</name>
            <dataType>Date</dataType>
            <fieldText>Date of Submission / Due Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Blank14</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Description_of_Work_Requested</name>
            <fieldText>Description of Work Requested</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>Enter any comments or instructions that you may have for the bids team.</helpText>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pick_Record_Type</name>
        <label>Identify the Bids Team</label>
        <locationX>119</locationX>
        <locationY>21</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Which_Record_Type</targetReference>
        </connector>
        <fields>
            <name>WelcomeMessage</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You can use this form to request support from the Bids &amp;amp; Tenders team for all Formal Bids or proposals for any Australia Post, StarTrack or Decipha product.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;From the drop down menu below, please select the Sales team that you belong to then press &lt;B&gt;Next&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Bids_Support_Request</name>
            <choiceReferences>EC_G_Bids_Support_Request</choiceReferences>
            <choiceReferences>Business_Development_PeS</choiceReferences>
            <choiceReferences>Business_Sales_PeS</choiceReferences>
            <choiceReferences>Inside_Sales_PeS</choiceReferences>
            <choiceReferences>Key_Accounts_PeS</choiceReferences>
            <choiceReferences>DefaultSelection</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>DefaultSelection</defaultSelectedChoiceReference>
            <fieldText>New Bids Support Request</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>testfield1</name>
            <fieldText>{!varRecordType}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Please_select_values</name>
        <label>Please ensure you have selected values</label>
        <locationX>652</locationX>
        <locationY>994</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assessment_Required</targetReference>
        </connector>
        <fields>
            <name>Information</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You have not made a valid selection for one or more of these fields&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;* Document Type&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;* Primary Product&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;* Were you aware of the bid opportunity before it was released?&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;*  Does this bid relate to the Renewal of existing work or New Business?&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;*  Will you require support from the EC &amp;amp; G Solutions team?&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;*  Are third party partners required to deliver services?&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;*  Are the product / solutions standard &amp;apos;off-the-shelf&amp;apos; or do we have to build / customise them?&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Click &lt;B&gt;Next&lt;/B&gt; to be taken to the previous screen to confirm your selections. &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Please_select_values_0</name>
        <label>Please ensure you have selected values</label>
        <locationX>107</locationX>
        <locationY>1020</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assessment_Required_0_PeS</targetReference>
        </connector>
        <fields>
            <name>Information_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You have not made a valid selection for one or more of these fields&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;* Document Type&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;* Primary Product&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;* Were you aware of the bid opportunity before it was released?&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;*  Does this bid relate to the Renewal of existing work or New Business?&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;*  Will you require support from the EC &amp;amp; G Solutions team?&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;*  Are third party partners required to deliver services?&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;*  Are the product / solutions standard &amp;apos;off-the-shelf&amp;apos; or do we have to build / customise them?&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Click &lt;B&gt;Next&lt;/B&gt; to be taken to the previous screen to confirm your selections. &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Please_select_values_0_0</name>
        <label>Please ensure you have selected values</label>
        <locationX>48</locationX>
        <locationY>120</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Pick_Record_Type</targetReference>
        </connector>
        <fields>
            <name>Information_0_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You have not made a valid selection for Sales Team&lt;FONT STYLE=&quot;font-size:11px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Click &lt;B&gt;Next&lt;/B&gt; to be taken to the previous screen to confirm your selections. &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Pick_Record_Type</startElementReference>
    <status>Active</status>
    <variables>
        <name>activityType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CreateNew</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varActivityType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAnnualRevenue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAnnualRevenue1</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Assign the value of the Bids manager to this owner record.</description>
        <name>varBidOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>00590000001TzRE</stringValue>
        </value>
    </variables>
    <variables>
        <name>varBidRequest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBidRequestRefNum</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOpportunityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOpportunityName1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOpportunityNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOpportunityStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOpptyDriver</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varProbability</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
