force-app/main/default/flows/Business_Enablement_Bulk_Case_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AllValues</name>
        <label>AllValues</label>
        <locationX>754</locationX>
        <locationY>519</locationY>
        <assignmentItems>
            <assignToReference>SOCV_NewCaseList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SO_Case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Filtered_reports</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Date</name>
        <label>Assign Date</label>
        <locationX>361</locationX>
        <locationY>302</locationY>
        <assignmentItems>
            <assignToReference>varSetCaseCreatedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_Date_for_Case_Creation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_RecordType_ID_Business_Enabement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Report_Schedule_Variable</name>
        <label>Assign Report Schedule Variable</label>
        <locationX>89</locationX>
        <locationY>409</locationY>
        <assignmentItems>
            <assignToReference>varReportSchedule</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SchedulePicklist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_Schedule_Reports</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Map_Values_from_Report_to_Case</name>
        <label>Map Values from Report to Case</label>
        <locationX>869</locationX>
        <locationY>413</locationY>
        <assignmentItems>
            <assignToReference>SO_Case.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SO_BusEnReports.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SO_Case.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SO_BusEnReports.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SO_Case.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecordtypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SO_Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SO_BusEnReports.Default_Case_Owner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SO_Case.Work_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SO_BusEnReports.Work_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SO_Case.Support_Work_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SO_BusEnReports.Support_Work_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SO_Case.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SO_BusEnReports.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SO_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SO_BusEnReports.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SO_Case.Request_Origin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRequestOrigin</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SO_Case.CreatedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSetCaseCreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SO_Case.Time_to_Resolve_hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SO_BusEnReports.Time_to_Resolve_Hours__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SO_Case.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseOriginBulkUpload</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AllValues</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Daily</name>
        <choiceText>Daily</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Monthly</name>
        <choiceText>Monthly</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Quarterly</name>
        <choiceText>Quarterly</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Weekly</name>
        <choiceText>Weekly</choiceText>
        <dataType>String</dataType>
    </choices>
    <constants>
        <name>conCaseRecordTypeName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CAR Request</stringValue>
        </value>
    </constants>
    <constants>
        <name>TestDate_Time</name>
        <dataType>Date</dataType>
        <value>
            <dateValue>2017-04-01</dateValue>
        </value>
    </constants>
    <decisions>
        <name>Case_Date_Decision</name>
        <label>Case Date Decision</label>
        <locationX>86</locationX>
        <locationY>164</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Current_Date_Time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_Created_Date_as_to_current_date_time</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_RecordType_ID_Business_Enabement</targetReference>
            </connector>
            <label>Current Date  Time</label>
        </rules>
        <rules>
            <name>Adjusted_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_Created_Date_as_to_current_date_time</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Case_Creation_Date</targetReference>
            </connector>
            <label>Adjusted Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Group_Membership</name>
        <label>Verify Group Membership</label>
        <locationX>383</locationX>
        <locationY>44</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_a_Group_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varGroupMemberID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Business_Enablement_Bulk_Case_Creation</targetReference>
            </connector>
            <label>Is a Group Member</label>
        </rules>
        <rules>
            <name>Not_a_Group_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varGroupMemberID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Authorised</targetReference>
            </connector>
            <label>Not a Group Member</label>
        </rules>
    </decisions>
    <description>Flow created for the Startrack business Enablement team to bulk create cases n demand to track and log all scheduled reports that are required to be run and sent to customers periodically i.e. Daily, Weeekly, Monthly, Quarterly</description>
    <dynamicChoiceSets>
        <name>SchedulePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Report_Schedule__c</picklistField>
        <picklistObject>Business_Enablement_Scheduled_Reports__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>CurrentUserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Business Enablement Bulk Case Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Business Enablement Bulk Case Creation</label>
    <loops>
        <name>Loop_through_Filtered_reports</name>
        <label>Loop through Filtered reports</label>
        <locationX>608</locationX>
        <locationY>409</locationY>
        <assignNextValueToReference>SO_BusEnReports</assignNextValueToReference>
        <collectionReference>SOCV_ReportSchedule</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Map_Values_from_Report_to_Case</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Cases</name>
        <label>Create Cases</label>
        <locationX>409</locationX>
        <locationY>532</locationY>
        <connector>
            <targetReference>Finnish_Screen</targetReference>
        </connector>
        <inputReference>SOCV_NewCaseList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Current_User_Group_Membership</name>
        <label>Lookup Current User Group Membership</label>
        <locationX>626</locationX>
        <locationY>2</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_Group_Membership</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPublicGroupID</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserID</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
        <outputAssignments>
            <assignToReference>varGroupMemberID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Public_Group_ID</name>
        <label>Lookup Public Group ID</label>
        <locationX>842</locationX>
        <locationY>46</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Current_User_Group_Membership</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBusEnablmentAdminGroup</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>varPublicGroupID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_RecordType_ID_Business_Enabement</name>
        <label>Lookup RecordType ID Business Enabement</label>
        <locationX>89</locationX>
        <locationY>298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Report_Schedule_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>conCaseRecordTypeName</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varCaseRecordtypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Schedule_Reports</name>
        <label>Lookup Schedule Reports</label>
        <locationX>384</locationX>
        <locationY>411</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Filtered_reports</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Report_Schedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varReportSchedule</elementReference>
            </value>
        </filters>
        <object>Business_Enablement_Scheduled_Reports__c</object>
        <outputReference>SOCV_ReportSchedule</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Report_Schedule__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Case_Recordtype_Name__c</queriedFields>
        <queriedFields>Default_Case_Owner__c</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <queriedFields>Work_Type__c</queriedFields>
        <queriedFields>Support_Work_Type__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Time_to_Resolve_Hours__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <screens>
        <name>Business_Enablement_Bulk_Case_Creation</name>
        <label>Business Enablement Bulk Case Creation</label>
        <locationX>85</locationX>
        <locationY>38</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Date_Decision</targetReference>
        </connector>
        <fields>
            <name>Choose_Bulk_Case_Creation_Type</name>
            <choiceReferences>SchedulePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Bulk Case Creation Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Set_Created_Date_as_to_current_date_time</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Set Created Date as to current date/time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finnish_Screen</name>
        <label>Finish Screen</label>
        <locationX>236</locationX>
        <locationY>634</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FinishStep</name>
            <fieldText>Bulk Case creation completed</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_Authorised</name>
        <label>Not Authorised</label>
        <locationX>631</locationX>
        <locationY>141</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayVariable</name>
            <fieldText>You are not authorised to perfrom this action. Please contact support.

Flow Results: (For troubleshooting purposes only)
Member ID Result: {!varGroupMemberID}
Current User ID: {!CurrentUserID}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Case_Creation_Date</name>
        <label>Select Case Creation Date</label>
        <locationX>300</locationX>
        <locationY>164</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Date</targetReference>
        </connector>
        <fields>
            <name>Enter_Date_for_Case_Creation</name>
            <dataType>Date</dataType>
            <fieldText>Enter Date for Case Creation</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Note: Custom created date cannot be in the future</helpText>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>Date cannot be in a future date</errorMessage>
                <formulaExpression>{!Enter_Date_for_Case_Creation} &lt; TODAY()</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Lookup_Public_Group_ID</startElementReference>
    <status>Active</status>
    <variables>
        <name>SO_BusEnReports</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Business_Enablement_Scheduled_Reports__c</objectType>
    </variables>
    <variables>
        <name>SO_Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>SOCV_NewCaseList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>SOCV_ReportSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Business_Enablement_Scheduled_Reports__c</objectType>
    </variables>
    <variables>
        <description>The name of the public group that is looked up to ensure they are allowed to run the bulk case creation flow</description>
        <name>varBusEnablmentAdminGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>StarTrack_Business_Enablement_Admin</stringValue>
        </value>
    </variables>
    <variables>
        <name>varCaseOriginBulkUpload</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Bulk Upload</stringValue>
        </value>
    </variables>
    <variables>
        <name>varCaseRecordtypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCustomerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varGroupMemberID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Samplle variable to preset the public group ID</description>
        <name>varPublicGroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varReportID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varReportSchedule</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varReportScheduleType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRequestOrigin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Scheduled</stringValue>
        </value>
    </variables>
    <variables>
        <name>varSetCaseCreatedDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
