force-app/main/default/flows/CaseCaseDomainSubflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ACIC_Send_Case_Status_Notification</name>
        <label>ACIC - Send Case Status Notification</label>
        <locationX>2503</locationX>
        <locationY>926</locationY>
        <actionName>Case.ACIC_Send_Case_Status_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vCase.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.ACIC_Send_Case_Status_Notification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>ASH_Email_Alert_on_new_case_creation</name>
        <label>ASH - Email Alert on new case creation</label>
        <locationX>1810</locationX>
        <locationY>350</locationY>
        <actionName>Case.ASH_Email_Alert_on_new_case_creation</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CaseDomain_scenarios</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vCase.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.ASH_Email_Alert_on_new_case_creation</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>CAR_Auto_Email_response_for_Queue_Owner</name>
        <label>CAR Auto Email response for Queue Owner</label>
        <locationX>1546</locationX>
        <locationY>350</locationY>
        <actionName>Case.Customer_Analytics_Reporting_Cases_Auto_Email_Response</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CaseDomain_scenarios</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vCase.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Customer_Analytics_Reporting_Cases_Auto_Email_Response</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Send Email to the CAR case requestor when the associated Case is closed/resolved</description>
        <name>CAR_Send_Email_Closed_Alert</name>
        <label>CAR Send Email Closed Alert</label>
        <locationX>1711</locationX>
        <locationY>1034</locationY>
        <actionName>Case.CAR_Send_Email_Closed_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vCase.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CAR_Send_Email_Closed_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>CAR_Send_Email_Closed_Bounce_Back_Alert</name>
        <label>CAR Send Email Closed Bounce Back Alert</label>
        <locationX>1975</locationX>
        <locationY>1034</locationY>
        <actionName>Case.CAR_Send_Email_Closed_Bounce_Back_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vCase.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CAR_Send_Email_Closed_Bounce_Back_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Dispute_Case_Approved</name>
        <label>Dispute Case Approved</label>
        <locationX>743</locationX>
        <locationY>1034</locationY>
        <actionName>Case.Dispute_Case_Approved</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Dispute_Claim_status_check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vCase.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Dispute_Case_Approved</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Dispute_Case_Approved_StarTrack</name>
        <label>Dispute Case Approved StarTrack</label>
        <locationX>1271</locationX>
        <locationY>1034</locationY>
        <actionName>Case.Dispute_Case_Approved_StarTrack</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Dispute_Claim_status_check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vCase.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Dispute_Case_Approved_StarTrack</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_non_compliance_case</name>
        <label>Email non compliance case</label>
        <locationX>2767</locationX>
        <locationY>926</locationY>
        <actionName>Case.email_non_compliance_case</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vCase.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.email_non_compliance_case</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Late_Payment_Dispute_Case_Approved</name>
        <label>Late Payment Dispute Case Approved</label>
        <locationX>1007</locationX>
        <locationY>1034</locationY>
        <actionName>Case.Late_Payment_Dispute_Case_Approved</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Dispute_Claim_status_check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vCase.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Late_Payment_Dispute_Case_Approved</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>New_Dispute_Claim_Case_Created</name>
        <label>New Dispute Claim Case Created</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <actionName>Case.New_Dispute_Claim_Case_Created</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CaseDomain_scenarios</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vCase.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.New_Dispute_Claim_Case_Created</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>New_Dispute_Claim_Case_Created_Origin_Email</name>
        <label>New Dispute Claim Case Created Origin Email</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <actionName>Case.New_Dispute_Claim_Case_Created_Origin_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CaseDomain_scenarios</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vCase.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.New_Dispute_Claim_Case_Created_Origin_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>New_Dispute_Claim_Case_Created_StarTrack</name>
        <label>New Dispute Claim Case Created StarTrack</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <actionName>Case.New_Dispute_Claim_Case_Created_StarTrack</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CaseDomain_scenarios</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vCase.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.New_Dispute_Claim_Case_Created_StarTrack</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>New_Dispute_Claim_Case_Created_StarTrack_Origin_Email</name>
        <label>New Dispute Claim Case Created StarTrack Origin Email</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <actionName>Case.New_Dispute_Claim_Case_Created_StarTrack_Origin_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CaseDomain_scenarios</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vCase.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.New_Dispute_Claim_Case_Created_StarTrack_Origin_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>New_Late_Payment_Dispute_Claim_Case_Created</name>
        <label>New Late Payment Dispute Claim Case Created</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <actionName>Case.New_Late_Payment_Dispute_Claim_Case_Created</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CaseDomain_scenarios</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vCase.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.New_Late_Payment_Dispute_Claim_Case_Created</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notify_Account_Manager_Dispute_Case_Result</name>
        <label>Notify Account Manager Dispute Case Result</label>
        <locationX>1007</locationX>
        <locationY>1334</locationY>
        <actionName>Case.Notify_Account_Manager_Dispute_Case_Result</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vCase.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Notify_Account_Manager_Dispute_Case_Result</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Sales_Coordinator_Case_Created_Notification</name>
        <label>Sales Coordinator Case Created Notification</label>
        <locationX>2074</locationX>
        <locationY>350</locationY>
        <actionName>Case.Sales_Coordinator_Case_Created_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CaseDomain_scenarios</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vCase.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Sales_Coordinator_Case_Created_Notification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Security_Express_Case_Creation_Email_Alert</name>
        <label>Security Express Case Creation Email Alert</label>
        <locationX>2338</locationX>
        <locationY>350</locationY>
        <actionName>Case.Security_Express_Case_Creation_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CaseDomain_scenarios</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vCase.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Security_Express_Case_Creation_Email_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Special_Services_Case_Creation_Email_Alert</name>
        <label>Special Services Case Creation Email Alert</label>
        <locationX>3031</locationX>
        <locationY>926</locationY>
        <actionName>Case.Special_Services_Case_Creation_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vCase.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Special_Services_Case_Creation_Email_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <constants>
        <description>Email Id of MS power apps which needs to be blocked</description>
        <name>MSPowerAppsEmail</name>
        <dataType>String</dataType>
        <value>
            <stringValue>microsoft@powerapps.com</stringValue>
        </value>
    </constants>
    <decisions>
        <description>condition - When a CAR case is created or updated involving specific scenario (excluding created only scenarios).</description>
        <name>CAR_Scenarios</name>
        <label>CAR Scenarios</label>
        <locationX>1975</locationX>
        <locationY>926</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Status_closed_resolved</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>vOldCase.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>vCase.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed-duplicate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed-out of scope</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCase.Requestor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CAR_Send_Email_Closed_Alert</targetReference>
            </connector>
            <label>Is Status closed/resolved</label>
        </rules>
        <rules>
            <name>Is_Status_already_closed_resolved</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>vOldCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>vCase.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed-duplicate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed-out of scope</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCase.Requestor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CAR_Send_Email_Closed_Bounce_Back_Alert</targetReference>
            </connector>
            <label>Is Status already closed/resolved</label>
        </rules>
    </decisions>
    <decisions>
        <name>CaseDomain_create_only_scenarios</name>
        <label>CaseDomain create only scenarios</label>
        <locationX>1656</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>CaseDomain_scenarios</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Dispute_Claim_Cases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCase.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.REC_TYPE_DEV_Dispute_Claim</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Dispute_Claim_Scenarios</targetReference>
            </connector>
            <label>New Dispute Claim Cases</label>
        </rules>
        <rules>
            <name>New_CAR_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCase.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.REC_TYPE_DEV_CAR</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCase.Owner_is_Queue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCase.SuppliedEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>MSPowerAppsEmail</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CAR_Auto_Email_response_for_Queue_Owner</targetReference>
            </connector>
            <label>New CAR Case</label>
        </rules>
        <rules>
            <name>New_ASH_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCase.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.REC_TYPE_DEV_ASH</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCase.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCase.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCase.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASH_Email_Alert_on_new_case_creation</targetReference>
            </connector>
            <label>New ASH Case</label>
        </rules>
        <rules>
            <name>New_Sales_Coordinator_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCase.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.REC_TYPE_DEV_SalesCoordinator</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sales_Coordinator_Case_Created_Notification</targetReference>
            </connector>
            <label>New Sales Coordinator Case</label>
        </rules>
        <rules>
            <name>New_Security_Express_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCase.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.REC_TYPE_DEV_SecurityExpress</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCase.Email_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Security_Express_Case_Creation_Email_Alert</targetReference>
            </connector>
            <label>New Security Express Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>CaseDomain_scenarios</name>
        <label>CaseDomain scenarios</label>
        <locationX>2217</locationX>
        <locationY>818</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dispute_Claim_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCase.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.REC_TYPE_DEV_Dispute_Claim</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dispute_Claim_scenarios</targetReference>
            </connector>
            <label>Dispute Claim Case</label>
        </rules>
        <rules>
            <name>CAR_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCase.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.REC_TYPE_DEV_CAR</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CAR_Scenarios</targetReference>
            </connector>
            <label>CAR Case</label>
        </rules>
        <rules>
            <name>ACIC_Case</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>vCase.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.REC_TYPE_DEV_ASIC</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCase.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>vOldCase.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ACIC_Send_Case_Status_Notification</targetReference>
            </connector>
            <label>ACIC Case</label>
        </rules>
        <rules>
            <name>NCL_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCase.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.REC_TYPE_DEV_NCL</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCase.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>vOldCase.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCase.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>vCase.Account.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_non_compliance_case</targetReference>
            </connector>
            <label>NCL Case</label>
        </rules>
        <rules>
            <name>Special_Services_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCase.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.REC_TYPE_DEV_SpecialServices</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCase.Email_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Special_Services_Case_Creation_Email_Alert</targetReference>
            </connector>
            <label>Special Services Case</label>
        </rules>
    </decisions>
    <decisions>
        <description>Condition - When a Dispute Claim case is created or updated involving specific scenario (excluding created only scenarios).</description>
        <name>Dispute_Claim_scenarios</name>
        <label>Dispute Claim scenarios</label>
        <locationX>1139</locationX>
        <locationY>926</locationY>
        <defaultConnector>
            <targetReference>Dispute_Claim_status_check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed_ACK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vClosedACK</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dispute_Case_Approved</targetReference>
            </connector>
            <label>Closed ACK</label>
        </rules>
        <rules>
            <name>Closed_ACK_Late_Payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vClosedACKLatePayment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Late_Payment_Dispute_Case_Approved</targetReference>
            </connector>
            <label>Closed ACK Late Payment</label>
        </rules>
        <rules>
            <name>Closed_ACK_StarTrack</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vClosedACKStarTrack</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dispute_Case_Approved_StarTrack</targetReference>
            </connector>
            <label>Closed ACK StarTrack</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dispute_Claim_status_check</name>
        <label>Status Check</label>
        <locationX>1139</locationX>
        <locationY>1226</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Notify_Account_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCase.Credit_Amount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCase.Account.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Account_Manager_Dispute_Case_Result</targetReference>
            </connector>
            <label>Notify Account Manager</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_new_or_existing</name>
        <label>Is new or existing</label>
        <locationX>2217</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>CaseDomain_scenarios</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>existing</defaultConnectorLabel>
        <rules>
            <name>Is_new</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vOldCase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaseDomain_create_only_scenarios</targetReference>
            </connector>
            <label>Is new</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Dispute_Claim_Scenarios</name>
        <label>New Dispute Claim Scenarios</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>CaseDomain_scenarios</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_ACK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vNewACK</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Dispute_Claim_Case_Created</targetReference>
            </connector>
            <label>New ACK</label>
        </rules>
        <rules>
            <name>New_ACK_Late_Payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vNewACKLatePayment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Late_Payment_Dispute_Claim_Case_Created</targetReference>
            </connector>
            <label>New ACK Late Payment</label>
        </rules>
        <rules>
            <name>New_ACK_StarTrack</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vNewACKStarTrack</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Dispute_Claim_Case_Created_StarTrack</targetReference>
            </connector>
            <label>New ACK StarTrack</label>
        </rules>
        <rules>
            <name>New_ACK_Origin_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vNewACKOriginEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Dispute_Claim_Case_Created_Origin_Email</targetReference>
            </connector>
            <label>New ACK Origin Email</label>
        </rules>
        <rules>
            <name>New_ACK_StarTrack_Origin_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vNewACKStarTrackOriginEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Dispute_Claim_Case_Created_StarTrack_Origin_Email</targetReference>
            </connector>
            <label>New ACK StarTrack Origin Email</label>
        </rules>
    </decisions>
    <description>Subflow for CaseDomain triggerred from CaseCommon AfterSave flow.</description>
    <environments>Default</environments>
    <formulas>
        <name>vClosedACK</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT(ISBLANK({!vCase.Email_Address__c})) , ISPICKVAL({!vCase.Status}, &apos;Closed&apos;), {!vCase.Exclude_Notification_Automation__c} = false, {!vCase.Number_of_Items__c} &gt; 0, {!vCase.PriorityNumber__c} &gt; 0, {!vCase.Number_of_Items__c} = {!vCase.PriorityNumber__c}, ISPICKVAL({!vCase.Business_Unit__c}, &apos;Australia Post&apos;), NOT(ISPICKVAL({!vCase.ReasonforCreditClaim__c}, &apos;Late payment&apos;)))</expression>
    </formulas>
    <formulas>
        <name>vClosedACKLatePayment</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT(ISBLANK({!vCase.Email_Address__c})), ISPICKVAL({!vCase.Status}, &apos;Closed&apos;), {!vCase.Exclude_Notification_Automation__c} = false, {!vCase.Number_of_Items__c} &gt; 0, {!vCase.PriorityNumber__c} &gt; 0, {!vCase.Number_of_Items__c} = {!vCase.PriorityNumber__c}, OR(ISPICKVAL({!vCase.Business_Unit__c}, &apos;Australia Post&apos;), ISPICKVAL({!vCase.Business_Unit__c}, &apos;StarTrack&apos;)),ISPICKVAL({!vCase.Enquiry_Type__c}, &apos;Billing Dispute&apos;), ISPICKVAL({!vCase.ReasonforCreditClaim__c}, &apos;Late payment&apos;))</expression>
    </formulas>
    <formulas>
        <name>vClosedACKStarTrack</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT(ISBLANK({!vCase.Email_Address__c})), ISPICKVAL({!vCase.Status}, &apos;Closed&apos;), {!vCase.Exclude_Notification_Automation__c} = false, {!vCase.Number_of_Items__c} &gt; 0, {!vCase.PriorityNumber__c} &gt; 0, {!vCase.Number_of_Items__c} = {!vCase.PriorityNumber__c}, ISPICKVAL({!vCase.Business_Unit__c}, &apos;StarTrack&apos;), NOT(ISPICKVAL({!vCase.ReasonforCreditClaim__c}, &apos;Late payment&apos;)))</expression>
    </formulas>
    <formulas>
        <name>vNewACK</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT(ISBLANK({!vCase.Email_Address__c})), ISPICKVAL({!vCase.Status}, &apos;New&apos;), {!vCase.Exclude_Notification_Automation__c} = false, ISPICKVAL({!vCase.Business_Unit__c}, &apos;Australia Post&apos;), NOT(ISPICKVAL({!vCase.ReasonforCreditClaim__c}, &apos;Late payment&apos;)),  NOT(ISPICKVAL({!vCase.Origin}, &apos;Email&apos;))  )</expression>
    </formulas>
    <formulas>
        <name>vNewACKLatePayment</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT(ISBLANK({!vCase.Email_Address__c})), ISPICKVAL({!vCase.Status}, &apos;New&apos;), {!vCase.Exclude_Notification_Automation__c} = false, OR(ISPICKVAL({!vCase.Business_Unit__c}, &apos;Australia Post&apos;), ISPICKVAL({!vCase.Business_Unit__c}, &apos;StarTrack&apos;)), ISPICKVAL({!vCase.Enquiry_Type__c}, &apos;Billing Dispute&apos;), ISPICKVAL({!vCase.ReasonforCreditClaim__c}, &apos;Late payment&apos;))</expression>
    </formulas>
    <formulas>
        <name>vNewACKOriginEmail</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT(ISBLANK({!vCase.Email_Address__c})), ISPICKVAL({!vCase.Status}, &apos;New&apos;), {!vCase.Exclude_Notification_Automation__c} = false, ISPICKVAL({!vCase.Business_Unit__c}, &apos;Australia Post&apos;), NOT(ISPICKVAL({!vCase.ReasonforCreditClaim__c}, &apos;Late payment&apos;)),  ISPICKVAL({!vCase.Origin}, &apos;Email&apos;)  )</expression>
    </formulas>
    <formulas>
        <name>vNewACKStarTrack</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT(ISBLANK({!vCase.Email_Address__c})), ISPICKVAL({!vCase.Status}, &apos;New&apos;), {!vCase.Exclude_Notification_Automation__c} = false, ISPICKVAL({!vCase.Business_Unit__c}, &apos;StarTrack&apos;), NOT(ISPICKVAL({!vCase.ReasonforCreditClaim__c}, &apos;Late payment&apos;)), NOT(ISPICKVAL({!vCase.Origin}, &apos;Email&apos;)) )</expression>
    </formulas>
    <formulas>
        <name>vNewACKStarTrackOriginEmail</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT(ISBLANK({!vCase.Email_Address__c})), ISPICKVAL({!vCase.Status}, &apos;New&apos;), {!vCase.Exclude_Notification_Automation__c} = false, ISPICKVAL({!vCase.Business_Unit__c}, &apos;StarTrack&apos;), NOT(ISPICKVAL({!vCase.ReasonforCreditClaim__c}, &apos;Late payment&apos;)), ISPICKVAL({!vCase.Origin}, &apos;Email&apos;))</expression>
    </formulas>
    <formulas>
        <name>vNewCaseArticleDamage</name>
        <dataType>Boolean</dataType>
        <expression>AND({!vCase.TypeofDamage__c} = &apos;Wine Damage&apos;, ISPICKVAL({!vCase.ResolutionCode__c}, &apos;MyNetwork Resolution&apos;), ISPICKVAL({!vCase.EnquirySubType__c},&apos;Facility reported damages&apos;), {!vCase.RecordType.DeveloperName} = &apos;SSSWDelivery&apos;, {!vCase.ContactId} &lt;&gt; Null, {!vCase.IsClosedOnCreate} )</expression>
    </formulas>
    <formulas>
        <name>vNewCaseEmail</name>
        <dataType>Boolean</dataType>
        <expression>TEXT({!vCase.Origin}) = &apos;Email&apos; &amp;&amp; NOT(ISBLANK({!vCase.SuppliedEmail})) &amp;&amp; ISBLANK({!vCase.ParentId}) &amp;&amp; (ISBLANK({!$Setup.QM__c.NoAutoreplyQueue__c}) ||(NOT(ISBLANK({!$Setup.QM__c.NoAutoreplyQueue__c})) &amp;&amp; NOT(CONTAINS({!$Setup.QM__c.NoAutoreplyQueue__c},RIGHT({!vCase.SuppliedEmail},(LEN({!vCase.SuppliedEmail})-FIND(&quot;@&quot;,{!vCase.SuppliedEmail})-1))))))</expression>
    </formulas>
    <formulas>
        <name>vNewCaseGeneric</name>
        <dataType>Boolean</dataType>
        <expression>(TEXT({!vCase.Type}) = &apos;Investigation&apos; || (TEXT({!vCase.Type}) = &apos;General Enquiry&apos; &amp;&amp; TEXT({!vCase.Origin}) = &apos;MyPost Business&apos;) || TEXT({!vCase.Origin}) = &apos;BSP&apos; ) &amp;&amp; {!vCase.Subject} &lt;&gt; &apos;Bulk Upload&apos; &amp;&amp; TEXT({!vCase.Origin}) &lt;&gt; &apos;Web&apos; &amp;&amp; TEXT({!vCase.Origin}) &lt;&gt; &apos;Email&apos; &amp;&amp; TEXT({!vCase.Origin}) &lt;&gt; &apos;Portal&apos; &amp;&amp; TEXT({!vCase.Origin}) &lt;&gt; &apos;Snap It&apos;&amp;&amp; TEXT({!vCase.Origin}) &lt;&gt; &apos;BSP Bulk Upload&apos; &amp;&amp; (TEXT({!vCase.Origin}) &lt;&gt; &apos;Direct Email&apos; &amp;&amp; TEXT({!vCase.Origin}) &lt;&gt; &apos;Bulk Upload&apos;) &amp;&amp; NOT(ISBLANK({!vCase.Contact.Email})) &amp;&amp; ISBLANK({!vCase.ParentId})&amp;&amp; NOT(CONTAINS({!vCase.Subject},&apos;Enterprise Contact Registration&apos;))&amp;&amp; NOT({!vCase.TypeofDamage__c} = &apos;Wine Damage&apos; &amp;&amp; ISPICKVAL({!vCase.EnquirySubType__c},&apos;Facility reported damages&apos;))</expression>
    </formulas>
    <formulas>
        <name>vNewCaseNWAssignment</name>
        <dataType>Boolean</dataType>
        <expression>AND({!vCase.Automated_Network_Assignment__c},TEXT({!vCase.Origin}) == &apos;Portal&apos;,TEXT( {!vCase.CHASEnquiryType__c})==&apos;Delivery issue&apos;,NOT(ISBLANK({!vCase.Contact.Email})))</expression>
    </formulas>
    <formulas>
        <name>vNewCaseTransferPO</name>
        <dataType>Boolean</dataType>
        <expression>AND({!vCase.Automated_Network_Assignment__c}, NOT(ISBLANK({!vCase.Contact.Email})), TEXT({!vCase.Origin}) == &apos;Portal&apos;,TEXT( {!vCase.CHASEnquiryType__c})==&apos;Products &amp; services&apos;,TEXT( {!vCase.EnquirySubType__c} )==&apos;Item transfer&apos;,NOT(ISBLANK({!vCase.Contact.Email})))</expression>
    </formulas>
    <formulas>
        <name>vNewCaseWebPortal</name>
        <dataType>Boolean</dataType>
        <expression>IF(OR(TEXT( {!vCase.CHASEnquiryType__c})==&apos;Delivery issue&apos;,AND(TEXT( {!vCase.CHASEnquiryType__c})==&apos;Products &amp; services&apos;,TEXT( {!vCase.EnquirySubType__c} )==&apos;Item transfer&apos;)), ( TEXT({!vCase.Origin}) = &apos;Web&apos; || TEXT({!vCase.Origin}) = &apos;Portal&apos; ) &amp;&amp; (TEXT({!vCase.Origin}) &lt;&gt; &apos;Direct Email&apos; &amp;&amp; TEXT({!vCase.Origin}) &lt;&gt; &apos;Bulk Upload&apos;) &amp;&amp; NOT(ISBLANK({!vCase.Contact.Email})) &amp;&amp; ISBLANK({!vCase.ParentId}) &amp;&amp; NOT(CONTAINS({!vCase.Subject},&apos;Enterprise Contact Registration&apos;)) &amp;&amp; {!vCase.Automated_Network_Assignment__c} == false, ( TEXT({!vCase.Origin}) = &apos;Web&apos; || TEXT({!vCase.Origin}) = &apos;Portal&apos; ) &amp;&amp; (TEXT({!vCase.Origin}) &lt;&gt; &apos;Direct Email&apos; &amp;&amp; TEXT({!vCase.Origin}) &lt;&gt; &apos;Bulk Upload&apos;) &amp;&amp; NOT(ISBLANK({!vCase.Contact.Email})) &amp;&amp; ISBLANK({!vCase.ParentId}) &amp;&amp; NOT(CONTAINS({!vCase.Subject},&apos;Enterprise Contact Registration&apos;)) &amp;&amp; ISBLANK({!vCase.HeldToOpenOn__c}))</expression>
    </formulas>
    <formulas>
        <name>vNewCasewithinEDD</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!vCase.CHASEnquiryType__c}, &apos;Missing or lost item&apos;) &amp;&amp; OR(ISPICKVAL({!vCase.Origin}, &apos;Web&apos;), ISPICKVAL({!vCase.Origin}, &apos;Portal&apos;)) &amp;&amp; NOT(ISBLANK({!vCase.Contact.Email})) &amp;&amp; ISBLANK({!vCase.ParentId}) &amp;&amp; NOT(CONTAINS({!vCase.Subject}, &apos;Enterprise Contact Registration&apos;)) &amp;&amp; NOT(ISBLANK({!vCase.HeldToOpenOn__c})) &amp;&amp; ({!vCase.EstimatedDelivery__c} &gt;= TODAY())</expression>
    </formulas>
    <formulas>
        <name>vNewCaseWithinEDDBusinessDays</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!vCase.CHASEnquiryType__c}, &apos;Missing or lost item&apos;) &amp;&amp; OR(ISPICKVAL({!vCase.Origin}, &apos;Web&apos;), ISPICKVAL({!vCase.Origin}, &apos;Portal&apos;)) &amp;&amp; NOT(ISBLANK({!vCase.Contact.Email})) &amp;&amp; ISBLANK({!vCase.ParentId}) &amp;&amp; NOT(CONTAINS({!vCase.Subject}, &apos;Enterprise Contact Registration&apos;)) &amp;&amp; NOT(ISBLANK({!vCase.HeldToOpenOn__c})) &amp;&amp; ({!vCase.EstimatedDelivery__c} &lt; TODAY()) &amp;&amp; (DATEVALUE({!vCase.HeldToOpenOn__c}) &gt;= TODAY())</expression>
    </formulas>
    <formulas>
        <name>vNotifybyExceedEmail</name>
        <dataType>Boolean</dataType>
        <expression>AND(
 OR(
  AND(
   ISPICKVAL({!vCase.Work_Type__c}, &apos;Off the Shelf&apos;),
   {!vCase.Case_Duration__c} = 15
  ),
  AND(
   ISPICKVAL({!vCase.Work_Type__c}, &apos;Intermediate&apos;),
   {!vCase.Case_Duration__c} = 21
  ),
  AND(
   ISPICKVAL({!vCase.Work_Type__c}, &apos;High Complexity&apos;),
   {!vCase.Case_Duration__c} = 61
  )
 ),
 OR(
  ISPICKVAL({!vCase.Status}, &apos;Closed&apos;),
  ISPICKVAL({!vCase.Status}, &apos;Closed - Expired&apos;),
  ISPICKVAL({!vCase.Status}, &apos;Closed - Customer Viewed&apos;),
  ISPICKVAL({!vCase.Status}, &apos;Closed - Pending&apos;)
 )
)</expression>
    </formulas>
    <formulas>
        <name>vSLACaseAllocation</name>
        <dataType>Boolean</dataType>
        <expression>AND( 
{!vCase.RecordType.DeveloperName} = {!$Label.REC_TYPE_DEV_CAR},
 ISPICKVAL({!vCase.Status}, &apos;In Progress&apos;), 
NOT(ISBLANK( {!vCase.SLATargetDate__c} )), 
NOT({!vCase.Owner_is_Queue__c}) )</expression>
    </formulas>
    <interviewLabel>CaseCaseDomainSubflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case CaseDomain Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>2091</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_new_or_existing</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Contains Case Record value</description>
        <name>vCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Contains Case Record prior value</description>
        <name>vOldCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
