force-app/main/default/flows/CaseMyCustomer_CardedCaseModule.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Blue_NSW_ACT_Email_Alert</name>
        <label>Blue NSW ACT Email Alert</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <actionName>Case.Carded_Case_Notification_Parcel_NSW_ACT</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vCase.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Carded_Case_Notification_Parcel_NSW_ACT</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Blue_QLD_Email_Alert</name>
        <label>Blue QLD Email Alert</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <actionName>Case.Carded_Case_Notification_Parcel_QLD</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vCase.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Carded_Case_Notification_Parcel_QLD</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Blue_SA_NT_Email_Alert</name>
        <label>Blue SA NT Email Alert</label>
        <locationX>1106</locationX>
        <locationY>398</locationY>
        <actionName>Case.Carded_Case_Notification_Parcel_SA_NT</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vCase.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Carded_Case_Notification_Parcel_SA_NT</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Blue_VIC_TAS_Email_Alert</name>
        <label>Blue VIC TAS Email Alert</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <actionName>Case.Carded_Case_Notification_Parcel_VIC_TAS</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vCase.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Carded_Case_Notification_Parcel_VIC_TAS</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Blue_WA_Email_Alert</name>
        <label>Blue WA Email Alert</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <actionName>Case.Carded_Case_Notification_Parcel_WA</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vCase.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Carded_Case_Notification_Parcel_WA</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Red_NSW_ACT_Email_Alert</name>
        <label>Red NSW ACT Email Alert</label>
        <locationX>1634</locationX>
        <locationY>398</locationY>
        <actionName>Case.Carded_Case_Notification_LMN_NSW_ACT</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vCase.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Carded_Case_Notification_LMN_NSW_ACT</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Red_QLD_Email_Alert</name>
        <label>Red QLD Email Alert</label>
        <locationX>2162</locationX>
        <locationY>398</locationY>
        <actionName>Case.Carded_Case_Notification_LMN_QLD</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vCase.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Carded_Case_Notification_LMN_QLD</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Red_SA_NT_Email_Alert</name>
        <label>Red SA NT Email Alert</label>
        <locationX>2690</locationX>
        <locationY>398</locationY>
        <actionName>Case.Carded_Case_Notification_LMN_SA_NT</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vCase.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Carded_Case_Notification_LMN_SA_NT</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Red_VIC_TAS_Email_Alert</name>
        <label>Red VIC TAS Email Alert</label>
        <locationX>1898</locationX>
        <locationY>398</locationY>
        <actionName>Case.Carded_Case_Notification_LMN_VIC_TAS</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vCase.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Carded_Case_Notification_LMN_VIC_TAS</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Red_WA_Email_Alert</name>
        <label>Red WA Email Alert</label>
        <locationX>2426</locationX>
        <locationY>398</locationY>
        <actionName>Case.Carded_Case_Notification_LMN_WA</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vCase.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Carded_Case_Notification_LMN_WA</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <description>Identify Blue Post Network State and accordingly send Email Alert</description>
        <name>Identify_Blue_Post_Network_State</name>
        <label>Identify Blue Post Network State</label>
        <locationX>710</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Blue_NSW_ACT</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vCase.Network__r.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NSW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCase.Network__r.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Blue_NSW_ACT_Email_Alert</targetReference>
            </connector>
            <label>Blue NSW ACT</label>
        </rules>
        <rules>
            <name>Blue_VIC_TAS</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vCase.Network__r.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VIC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCase.Network__r.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TAS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Blue_VIC_TAS_Email_Alert</targetReference>
            </connector>
            <label>Blue VIC TAS</label>
        </rules>
        <rules>
            <name>Blue_QLD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCase.Network__r.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QLD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Blue_QLD_Email_Alert</targetReference>
            </connector>
            <label>Blue QLD</label>
        </rules>
        <rules>
            <name>Blue_WA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCase.Network__r.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Blue_WA_Email_Alert</targetReference>
            </connector>
            <label>Blue WA</label>
        </rules>
        <rules>
            <name>Blue_SA_NT</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vCase.Network__r.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCase.Network__r.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Blue_SA_NT_Email_Alert</targetReference>
            </connector>
            <label>Blue SA NT</label>
        </rules>
    </decisions>
    <decisions>
        <description>Identify if Blue or Red post parcel</description>
        <name>Identify_Post</name>
        <label>Identify Post</label>
        <locationX>1920</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Blue_Post</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCase.Network__r.Parent_SBU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.BLUE_POST</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Identify_Blue_Post_Network_State</targetReference>
            </connector>
            <label>Blue Post</label>
        </rules>
        <rules>
            <name>Red_Post</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCase.Network__r.Parent_SBU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.RED_POST</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Identify_Red_Post_Network_State</targetReference>
            </connector>
            <label>Red Post</label>
        </rules>
    </decisions>
    <decisions>
        <description>Identify Red Post Network State and accordingly send Email Alert</description>
        <name>Identify_Red_Post_Network_State</name>
        <label>Identify Red Post Network State</label>
        <locationX>2294</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Red_NSW_ACT</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vCase.Network__r.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NSW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCase.Network__r.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Red_NSW_ACT_Email_Alert</targetReference>
            </connector>
            <label>Red NSW ACT</label>
        </rules>
        <rules>
            <name>Red_VIC_TAS</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vCase.Network__r.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VIC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCase.Network__r.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TAS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Red_VIC_TAS_Email_Alert</targetReference>
            </connector>
            <label>Red VIC TAS</label>
        </rules>
        <rules>
            <name>Red_QLD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCase.Network__r.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QLD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Red_QLD_Email_Alert</targetReference>
            </connector>
            <label>Red QLD</label>
        </rules>
        <rules>
            <name>Red_WA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCase.Network__r.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Red_WA_Email_Alert</targetReference>
            </connector>
            <label>Red WA</label>
        </rules>
        <rules>
            <name>Red_SA_NT</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vCase.Network__r.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCase.Network__r.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Red_SA_NT_Email_Alert</targetReference>
            </connector>
            <label>Red SA NT</label>
        </rules>
    </decisions>
    <description>subflow for Carded Case Notification triggered from MyCustomerDomain subflow</description>
    <interviewLabel>CaseMyCustomer_CardedCaseModule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case MyCustomer CardedCaseModule</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>1794</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Identify_Post</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Contains Case Record Id</description>
        <name>vCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
