force-app/main/default/flows/Count_Attachments_on_WO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_Count</name>
        <label>Add Count</label>
        <locationX>1067</locationX>
        <locationY>697</locationY>
        <assignmentItems>
            <assignToReference>$Record.File_Counter__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_files</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Count Attachments on WO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Count Attachments on WO</label>
    <loops>
        <name>Loop_through_files</name>
        <label>Loop through files</label>
        <locationX>845</locationX>
        <locationY>653</locationY>
        <collectionReference>Get_Files</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_LinkedDoc</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_LinkedDoc</name>
        <label>Loop through LinkedDoc</label>
        <locationX>536</locationX>
        <locationY>446</locationY>
        <collectionReference>Get_Linked_Documents</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Files</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_WO</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Files</name>
        <label>Get Files</label>
        <locationX>836</locationX>
        <locationY>489</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_files</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_LinkedDoc.ContentDocumentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Linked_Documents</name>
        <label>Get Linked Documents</label>
        <locationX>532</locationX>
        <locationY>227</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_LinkedDoc</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_WO</name>
        <label>Update WO</label>
        <locationX>536</locationX>
        <locationY>1118</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>105</locationX>
        <locationY>54</locationY>
        <connector>
            <targetReference>Get_Linked_Documents</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
