force-app/main/default/flows/EmailMessageCommonAfterSaveFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>BGS_Send_a_Bounce_Email_to_Sender</name>
        <label>BGS - Send a Bounce Email to Sender</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <actionName>Case.BGS_Send_a_Bounce_Email_to_Sender_if_the_associated_Case_has_already_been_Closed</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Bulk Mail - Send an Email when a Case permanent closed</description>
        <name>Bulk_Mail_Send_an_Email_when_a_Case_permanent_closed</name>
        <label>Bulk Mail - Send an Email when a Case permanent closed</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <actionName>Case.Bulk_Mail_Send_an_Email_when_a_Case_permanent_closed</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notify_Case_Owner_on_New_Email_BGS</name>
        <label>Notify Case Owner on New Email BGS</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <actionName>Case.Notify_Case_Owner_on_New_Email_BGS</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ServiceAdvisor_Scenarios</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends an email to customer if case is permanently closed</description>
        <name>Send_an_email_to_customer_if_case_is_permanent_closed</name>
        <label>Send an email to customer if case is permanent closed</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <actionName>Case.Transport_Enquiry_Case_Closed_Case_Email</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <description>Bulk Mail scenarios: permanent closed case</description>
        <name>Bulk_Mail_Scenarios</name>
        <label>Bulk Mail Scenarios</label>
        <locationX>1238</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bulk_Mail_Permanently_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Permanent_Close__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bulk_Mail_Send_an_Email_when_a_Case_permanent_closed</targetReference>
            </connector>
            <label>Bulk Mail Permanently Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Generic_Notify_Owner</name>
        <label>Generic Notify Owner</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>ServiceAdvisor_Scenarios</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Notify_Case_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Case_Owner_on_New_Email_BGS</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Notify Case Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Identify_Case_Domain</name>
        <label>Identify Case Domain</label>
        <locationX>908</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ServiceAdvisors</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.REC_TYPE_DEV_Service_Delivery</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generic_Notify_Owner</targetReference>
            </connector>
            <label>ServiceAdvisors</label>
        </rules>
        <rules>
            <name>Transport_Enquiry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.REC_TYPE_DEV_TRANSPORT_ENQUIRY</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transport_Enquiry_Scenarios</targetReference>
            </connector>
            <label>Transport Enquiry</label>
        </rules>
        <rules>
            <name>Bulk_Mail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.REC_TYPE_DEV_BULK_MAIL</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bulk_Mail_Scenarios</targetReference>
            </connector>
            <label>Bulk Mail</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Incoming_Case_Email</name>
        <label>is Incoming Case Email?</label>
        <locationX>1403</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Incoming_Case_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Incoming</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Identify_Case_Domain</targetReference>
            </connector>
            <label>Incoming Case Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>ServiceAdvisor_Scenarios</name>
        <label>ServiceAdvisor Scenarios</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_already_Closed_Bounce</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.LastIncomingEmailAddress__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BGS_Send_a_Bounce_Email_to_Sender</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Case already Closed Bounce</label>
        </rules>
    </decisions>
    <decisions>
        <name>Transport_Enquiry_Scenarios</name>
        <label>Transport Enquiry Scenarios</label>
        <locationX>710</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Permanently_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Permanent_Close__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_an_email_to_customer_if_case_is_permanent_closed</targetReference>
            </connector>
            <label>Case Permanently Closed</label>
        </rules>
    </decisions>
    <description>record triggered flow upon After save on Email Message</description>
    <environments>Default</environments>
    <interviewLabel>Email Message Common After Save Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EmailMessage Common After Save Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>1277</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>is_Incoming_Case_Email</targetReference>
        </connector>
        <object>EmailMessage</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
