force-app/main/default/flows/FlowEmailService_MasterFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Select_Object_Subflow</name>
        <label>Select Object Subflow</label>
        <locationX>572</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Process_Flow_Email_Types_Per_Object</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Object not found</defaultConnectorLabel>
        <rules>
            <name>Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Flow_Email_Types_Per_Object.objectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_Case_Emails</targetReference>
            </connector>
            <label>Case</label>
        </rules>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Flow_Email_Types_Per_Object.objectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_Flow_Email_Types_Per_Object</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Flow_Email_Types_Per_Object.objectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_Flow_Email_Types_Per_Object</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
    </decisions>
    <description>Main flow for the ApplicationEmailService framework. Accepts a collections of ApplicationFlowEmailTypes grouped by object and routes them to object-specific subflows that will invoke static email alerts.</description>
    <environments>Default</environments>
    <interviewLabel>Flow Email Service - Master Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow Email Service - Master Flow</label>
    <loops>
        <name>Process_Flow_Email_Types_Per_Object</name>
        <label>Process Flow Email Types Per Object</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <collectionReference>flowEmailTypeRequestsGroupedByObject</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Select_Object_Subflow</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Process_Flow_Email_Types_Per_Object</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Invoke subflow to process the sending of Case emails</description>
        <name>Process_Case_Emails</name>
        <label>Process Case Emails</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Process_Flow_Email_Types_Per_Object</targetReference>
        </connector>
        <flowName>Flow_Email_Service_Case_Emails</flowName>
        <inputAssignments>
            <name>flowEmailTypeRequests</name>
            <value>
                <elementReference>Process_Flow_Email_Types_Per_Object.emailNotifications</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>flowEmailTypeRequestsGroupedByObject</name>
        <apexClass>ApplicationFlowEmailTypeObjectCollection</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>objectNotFoundResult</name>
        <apexClass>ApplicationFlowEmailResult</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
