force-app/main/default/flows/FlowEmailService_CaseEmails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Email alert to notify customer on MyCustomer case closure due to receiving an &quot;Awaiting Collection&quot; event message.</description>
        <name>MyCustomerAwaitingCollectionEventMessageCaseClosureAlert</name>
        <label>MyCustomerAwaitingCollectionEventMessageCaseClosureAlert</label>
        <locationX>1320</locationX>
        <locationY>350</locationY>
        <actionName>Case.SSSW_Awaiting_Collection</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Process_Flow_Email_Type_Requests</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Process_Flow_Email_Type_Requests.srcRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.SSSW_Awaiting_Collection</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Email alert to notify customer on MyCustomer case closure due to receiving &quot;Delivered&quot; scan event message.</description>
        <name>MyCustomerDeliveredEventMessageCaseClosureAlert</name>
        <label>MyCustomerDeliveredEventMessageCaseClosureAlert</label>
        <locationX>1584</locationX>
        <locationY>350</locationY>
        <actionName>Case.SSSW_Email_Delivered</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Process_Flow_Email_Type_Requests</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Process_Flow_Email_Type_Requests.srcRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.SSSW_Email_Delivered</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Email alert to notify customer on MyCustomer case closure due to receiving &quot;Delivered in Safe Place&quot; scan event message.</description>
        <name>MyCustomerDeliveredInSafePlaceEventMessageCaseClosureAlert</name>
        <label>MyCustomerDeliveredInSafePlaceEventMessageCaseClosureAlert</label>
        <locationX>1848</locationX>
        <locationY>350</locationY>
        <actionName>Case.SSSW_Email_Delivered_in_a_Safe_Place</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Process_Flow_Email_Type_Requests</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Process_Flow_Email_Type_Requests.srcRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.SSSW_Email_Delivered_in_a_Safe_Place</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Email alert to notify customer on MyCustomer case closure due to receiving &quot;Onboard with Driver&quot; scan event message.</description>
        <name>MyCustomerOnboardWithDriverEventMessageCaseClosureAlert</name>
        <label>MyCustomerOnboardWithDriverEventMessageCaseClosureAlert</label>
        <locationX>2112</locationX>
        <locationY>350</locationY>
        <actionName>Case.SSSW_Onboard_with_Driver</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Process_Flow_Email_Type_Requests</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Process_Flow_Email_Type_Requests.srcRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.SSSW_Onboard_with_Driver</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Email alert to notify customer on MyCustomer case closure due to receiving &quot;Onboard with Driver International&quot; scan event message.</description>
        <name>MyCustomerOnboardWithDriverInternationalEventMessageCaseClosureAlert</name>
        <label>MyCustomerOnboardWithDriverInternationalEventMessageCaseClosureAlert</label>
        <locationX>2376</locationX>
        <locationY>350</locationY>
        <actionName>Case.SSSW_Onboard_with_driver_international</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Process_Flow_Email_Type_Requests</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Process_Flow_Email_Type_Requests.srcRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.SSSW_Onboard_with_driver_international</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Email alert to notify related contact when Unified case related to a StarTrack product is closed as a result of &quot;Delivered - Safe Droped&quot; scan event.</description>
        <name>UnifiedCaseClosureOnDeliveredSafeDroppedScanEventAlertST</name>
        <label>UnifiedCaseClosureOnDeliveredSafeDroppedScanEventAlertST</label>
        <locationX>5544</locationX>
        <locationY>350</locationY>
        <actionName>Case.UnifiedCaseClosureOnDeliveredSafeDroppedScanEventST</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Process_Flow_Email_Type_Requests</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Process_Flow_Email_Type_Requests.srcRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.UnifiedCaseClosureOnDeliveredSafeDroppedScanEventST</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Email alert to notify related contact when Unified case related to an AusPost product is closed as a result of &quot;Delivered - Collected&quot; scan event.</description>
        <name>UnifiedCaseDeliveredCollectedEventMessageClosureNotificationAPAlert</name>
        <label>UnifiedCaseDeliveredCollectedEventMessageClosureNotificationAPAlert</label>
        <locationX>3696</locationX>
        <locationY>350</locationY>
        <actionName>Case.UnifiedCaseClosureOnDeliveredCollectedScanEventAP</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Process_Flow_Email_Type_Requests</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Process_Flow_Email_Type_Requests.srcRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.UnifiedCaseClosureOnDeliveredCollectedScanEventAP</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Email alert to notify related contact when Unified case related to a StarTrack product is closed as a result of &quot;Delivered - Collected&quot; scan event.</description>
        <name>UnifiedCaseDeliveredCollectedEventMessageClosureNotificationSTAlert</name>
        <label>UnifiedCaseDeliveredCollectedEventMessageClosureNotificationSTAlert</label>
        <locationX>3960</locationX>
        <locationY>350</locationY>
        <actionName>Case.UnifiedCaseClosureOnDeliveredCollectedScanEventST</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Process_Flow_Email_Type_Requests</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Process_Flow_Email_Type_Requests.srcRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.UnifiedCaseClosureOnDeliveredCollectedScanEventST</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Email alert to notify related contact when Unified case related to an AusPost product is closed as a result of &quot;Delivered - Delivered to PO BOX&quot; scan event.</description>
        <name>UnifiedCaseDeliveredDeliveredToPOBoxEventMessageClosureNotificationAPAlert</name>
        <label>UnifiedCaseDeliveredDeliveredToPOBoxEventMessageClosureNotificationAPAlert</label>
        <locationX>4224</locationX>
        <locationY>350</locationY>
        <actionName>Case.UnifiedCaseClosureOnDeliveredDeliveredToPOBoxScanEventAP</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Process_Flow_Email_Type_Requests</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Process_Flow_Email_Type_Requests.srcRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.UnifiedCaseClosureOnDeliveredDeliveredToPOBoxScanEventAP</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Email alert to notify related contact when Unified case related to a StarTrack product is closed as a result of &quot;Delivered - Delivered to PO BOX&quot; scan event.</description>
        <name>UnifiedCaseDeliveredDeliveredToPOBoxEventMessageClosureNotificationSTAlert</name>
        <label>UnifiedCaseDeliveredDeliveredToPOBoxEventMessageClosureNotificationSTAlert</label>
        <locationX>4488</locationX>
        <locationY>350</locationY>
        <actionName>Case.UnifiedCaseClosureOnDeliveredDeliveredToPOBoxScanEventST</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Process_Flow_Email_Type_Requests</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Process_Flow_Email_Type_Requests.srcRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.UnifiedCaseClosureOnDeliveredDeliveredToPOBoxScanEventST</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Email alert to notify related contact when Unified case related to an AusPost product is closed as a result of &quot;Delivered&quot; scan event.</description>
        <name>UnifiedCaseDeliveredEventMessageClosureNotificationAPAlert</name>
        <label>UnifiedCaseDeliveredEventMessageClosureNotificationAPAlert</label>
        <locationX>5808</locationX>
        <locationY>350</locationY>
        <actionName>Case.UnifiedCaseClosureOnDeliveredScanEventAP</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Process_Flow_Email_Type_Requests</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Process_Flow_Email_Type_Requests.srcRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.UnifiedCaseClosureOnDeliveredScanEventAP</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Email alert to notify related contact when Unified case related to a StarTrack product is closed as a result of &quot;Delivered&quot; scan event.</description>
        <name>UnifiedCaseDeliveredEventMessageClosureNotificationSTAlert</name>
        <label>UnifiedCaseDeliveredEventMessageClosureNotificationSTAlert</label>
        <locationX>6072</locationX>
        <locationY>350</locationY>
        <actionName>Case.UnifiedCaseClosureOnDeliveredScanEventST</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Process_Flow_Email_Type_Requests</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Process_Flow_Email_Type_Requests.srcRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.UnifiedCaseClosureOnDeliveredScanEventST</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Email alert to notify related contact when Unified case related to an AusPost product is closed as a result of &quot;Delivered - Safe Dropped&quot; scan event.</description>
        <name>UnifiedCaseDeliveredSafeDroppedEventMessageClosureNotificationAPAlert</name>
        <label>UnifiedCaseDeliveredSafeDroppedEventMessageClosureNotificationAPAlert</label>
        <locationX>5280</locationX>
        <locationY>350</locationY>
        <actionName>Case.UnifiedCaseClosureOnDeliveredSafeDroppedScanEventAP</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Process_Flow_Email_Type_Requests</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Process_Flow_Email_Type_Requests.srcRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.UnifiedCaseClosureOnDeliveredSafeDroppedScanEventAP</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Email alert to notify related contact when Unified case related to an AusPost product is closed as a result of &quot;Last Mile - Attempted Delivery&quot; scan event.</description>
        <name>UnifiedCaseLastMileAttemptedDeliveryEventMessageClosureNotificationAPAlert</name>
        <label>UnifiedCaseLastMileAttemptedDeliveryEventMessageClosureNotificationAPAlert</label>
        <locationX>6336</locationX>
        <locationY>350</locationY>
        <actionName>Case.UnifiedCaseClosureOnLastMileAttemptedDeliveryScanEventAP</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Process_Flow_Email_Type_Requests</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Process_Flow_Email_Type_Requests.srcRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.UnifiedCaseClosureOnLastMileAttemptedDeliveryScanEventAP</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Email alert to notify related contact when Unified case related to a StarTrack product is closed as a result of &quot;Last Mile - Attempted Delivery&quot; scan event.</description>
        <name>UnifiedCaseLastMileAttemptedDeliveryEventMessageClosureNotificationSTAlert</name>
        <label>UnifiedCaseLastMileAttemptedDeliveryEventMessageClosureNotificationSTAlert</label>
        <locationX>6600</locationX>
        <locationY>350</locationY>
        <actionName>Case.UnifiedCaseClosureOnLastMileAttemptedDeliveryScanEventST</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Process_Flow_Email_Type_Requests</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Process_Flow_Email_Type_Requests.srcRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.UnifiedCaseClosureOnLastMileAttemptedDeliveryScanEventST</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Email alert to notify related contact when Unified case related to an AusPost product is closed as a result of &quot;Last Mile - Awaiting Collection&quot; scan event.</description>
        <name>UnifiedCaseLastMileAwaitingCollectionEventMessageClosureNotificationAPAlert</name>
        <label>UnifiedCaseLastMileAwaitingCollectionEventMessageClosureNotificationAPAlert</label>
        <locationX>6864</locationX>
        <locationY>350</locationY>
        <actionName>Case.UnifiedCaseClosureOnLastMileAwaitingCollectionScanEventAP</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Process_Flow_Email_Type_Requests</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Process_Flow_Email_Type_Requests.srcRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.UnifiedCaseClosureOnLastMileAwaitingCollectionScanEventAP</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Email alert to notify related contact when Unified case related to a StarTrack product is closed as a result of &quot;Last Mile - Awaiting Collection&quot; scan event.</description>
        <name>UnifiedCaseLastMileAwaitingCollectionEventMessageClosureNotificationSTAlert</name>
        <label>UnifiedCaseLastMileAwaitingCollectionEventMessageClosureNotificationSTAlert</label>
        <locationX>7128</locationX>
        <locationY>350</locationY>
        <actionName>Case.UnifiedCaseClosureOnLastMileAwaitingCollectionScanEventST</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Process_Flow_Email_Type_Requests</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Process_Flow_Email_Type_Requests.srcRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.UnifiedCaseClosureOnLastMileAwaitingCollectionScanEventST</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Email alert to notify related contact when Unified case related to an AusPost product is closed as a result of &quot;Last Mile - General/Other&quot; scan event.</description>
        <name>UnifiedCaseLastMileGeneralOtherEventMessageClosureNotificationAPAlert</name>
        <label>UnifiedCaseLastMileGeneralOtherEventMessageClosureNotificationAPAlert</label>
        <locationX>7392</locationX>
        <locationY>350</locationY>
        <actionName>Case.UnifiedCaseClosureOnLastMileGeneralOtherScanEventAP</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Process_Flow_Email_Type_Requests</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Process_Flow_Email_Type_Requests.srcRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.UnifiedCaseClosureOnLastMileGeneralOtherScanEventAP</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Email alert to notify related contact when Unified case related to a StarTrack product is closed as a result of &quot;Last Mile - General/Other&quot; scan event.</description>
        <name>UnifiedCaseLastMileGeneralOtherEventMessageClosureNotificationSTAlert</name>
        <label>UnifiedCaseLastMileGeneralOtherEventMessageClosureNotificationSTAlert</label>
        <locationX>7656</locationX>
        <locationY>350</locationY>
        <actionName>Case.UnifiedCaseClosureOnLastMileGeneralOtherScanEventST</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Process_Flow_Email_Type_Requests</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Process_Flow_Email_Type_Requests.srcRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.UnifiedCaseClosureOnLastMileGeneralOtherScanEventST</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Email alert to notify related contact when Unified case related to an AusPost product is closed as a result of &quot;Last Mile - On board for Delivery&quot; scan event.</description>
        <name>UnifiedCaseLastMileOnBoardForDeliveryEventMessageClosureNotificationAPAlert</name>
        <label>UnifiedCaseLastMileOnBoardForDeliveryEventMessageClosureNotificationAPAlert</label>
        <locationX>7920</locationX>
        <locationY>350</locationY>
        <actionName>Case.UnifiedCaseClosureOnLastMileOnBoardForDeliveryScanEventAP</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Process_Flow_Email_Type_Requests</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Process_Flow_Email_Type_Requests.srcRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.UnifiedCaseClosureOnLastMileOnBoardForDeliveryScanEventAP</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Email alert to notify related contact when Unified case related to a StarTrack product is closed as a result of &quot;Last Mile - On board for Delivery&quot; scan event.</description>
        <name>UnifiedCaseLastMileOnBoardForDeliveryEventMessageClosureNotificationSTAlert</name>
        <label>UnifiedCaseLastMileOnBoardForDeliveryEventMessageClosureNotificationSTAlert</label>
        <locationX>8184</locationX>
        <locationY>350</locationY>
        <actionName>Case.UnifiedCaseClosureOnLastMileOnBoardForDeliveryScanEventST</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Process_Flow_Email_Type_Requests</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Process_Flow_Email_Type_Requests.srcRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.UnifiedCaseClosureOnLastMileOnBoardForDeliveryScanEventST</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Email alert to notify related contact when Unified case related to an AusPost product is closed as a result of &amp;quot;Delivered - Marked as Delivered on the App&amp;quot; scan event.</description>
        <name>UnifiedCaseMarkedAsDeliveredOnTheAppEventMessageClosureNotificationAPAlert</name>
        <label>UnifiedCaseMarkedAsDeliveredOnTheAppEventMessageClosureNotificationAPAlert</label>
        <locationX>4752</locationX>
        <locationY>350</locationY>
        <actionName>Case.UnifiedCaseClosureOnDeliveredMarkedAsDeliveredOnTheAppScanEventAP</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Process_Flow_Email_Type_Requests</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Process_Flow_Email_Type_Requests.emailAlertName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.UnifiedCaseClosureOnDeliveredMarkedAsDeliveredOnTheAppScanEventAP</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Email alert to notify related contact when Unified case related to a StarTrack product is closed as a result of &quot;Delivered - Marked as Delivered on the App&quot; scan event.</description>
        <name>UnifiedCaseMarkedAsDeliveredOnTheAppEventMessageClosureNotificationSTAlert</name>
        <label>UnifiedCaseMarkedAsDeliveredOnTheAppEventMessageClosureNotificationSTAlert</label>
        <locationX>5016</locationX>
        <locationY>350</locationY>
        <actionName>Case.UnifiedCaseClosureOnDeliveredMarkedAsDeliveredOnTheAppScanEventST</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Process_Flow_Email_Type_Requests</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Process_Flow_Email_Type_Requests.srcRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.UnifiedCaseClosureOnDeliveredMarkedAsDeliveredOnTheAppScanEventST</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Email alert to notify related contact when Unified case related to an AusPost product is closed as a result of &quot;New EDD - General&quot; scan event.</description>
        <name>UnifiedCaseNewEDDGeneralEventMessageClosureNotificationAPAlert</name>
        <label>UnifiedCaseNewEDDGeneralEventMessageClosureNotificationAPAlert</label>
        <locationX>8448</locationX>
        <locationY>350</locationY>
        <actionName>Case.UnifiedCaseClosureOnNewEDDGeneralScanEventAP</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Process_Flow_Email_Type_Requests</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Process_Flow_Email_Type_Requests.srcRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.UnifiedCaseClosureOnNewEDDGeneralScanEventAP</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Email alert to notify related contact when Unified case related to an AusPost product is closed as a result of &quot;New EDD - Missort&quot; scan event.</description>
        <name>UnifiedCaseNewEDDMissortEventMessageClosureNotificationAPAlert</name>
        <label>UnifiedCaseNewEDDMissortEventMessageClosureNotificationAPAlert</label>
        <locationX>8712</locationX>
        <locationY>350</locationY>
        <actionName>Case.UnifiedCaseClosureOnNewEDDMissortScanEventAP</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Process_Flow_Email_Type_Requests</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Process_Flow_Email_Type_Requests.srcRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.UnifiedCaseClosureOnNewEDDMissortScanEventAP</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Email alert to notify related contact when Unified case related to a StarTrack product is closed as a result of &quot;New EDD - Missort&quot; scan event.</description>
        <name>UnifiedCaseNewEDDMissortEventMessageClosureNotificationSTAlert</name>
        <label>UnifiedCaseNewEDDMissortEventMessageClosureNotificationSTAlert</label>
        <locationX>8976</locationX>
        <locationY>350</locationY>
        <actionName>Case.UnifiedCaseClosureOnNewEDDMissortScanEventST</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Process_Flow_Email_Type_Requests</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Process_Flow_Email_Type_Requests.srcRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.UnifiedCaseClosureOnNewEDDMissortScanEventST</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Email alert to notify related contact when Unified case related to an AusPost product is closed as a result of &quot;New EDD - New Information + Dropship&quot; scan event.</description>
        <name>UnifiedCaseNewEDDNewInformationDropshipEventMessageClosureNotificationAPAlert</name>
        <label>UnifiedCaseNewEDDNewInformationDropshipEventMessageClosureNotificationAPAlert</label>
        <locationX>9240</locationX>
        <locationY>350</locationY>
        <actionName>Case.UnifiedCaseClosureOnNewEDDNewInformationDropshipScanEventAP</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Process_Flow_Email_Type_Requests</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Process_Flow_Email_Type_Requests.srcRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.UnifiedCaseClosureOnNewEDDNewInformationDropshipScanEventAP</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Email alert to notify related contact when Unified case related to a StarTrack product is closed as a result of &quot;New EDD - New Information + Dropship&quot; scan event.</description>
        <name>UnifiedCaseNewEDDNewInformationDropshipEventMessageClosureNotificationSTAlert</name>
        <label>UnifiedCaseNewEDDNewInformationDropshipEventMessageClosureNotificationSTAlert</label>
        <locationX>9504</locationX>
        <locationY>350</locationY>
        <actionName>Case.UnifiedCaseClosureOnNewEDDNewInformationDropshipScanEventST</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Process_Flow_Email_Type_Requests</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Process_Flow_Email_Type_Requests.srcRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.UnifiedCaseClosureOnNewEDDNewInformationDropshipScanEventST</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Email alert to notify related contact on a Case related to an AP product, when the case is auto closed due to no scan event or update has been received for 5 business days.</description>
        <name>UnifiedCaseNoScansOrUpdatesClosureNotificationAPAlert</name>
        <label>UnifiedCaseNoScansOrUpdatesClosureNotificationAPAlert</label>
        <locationX>3168</locationX>
        <locationY>350</locationY>
        <actionName>Case.UnifiedCaseNoScansOrUpdatesClosureNotificationAP</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Process_Flow_Email_Type_Requests</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Process_Flow_Email_Type_Requests.srcRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.UnifiedCaseNoScansOrUpdatesClosureNotificationAP</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Email alert to notify related contact on a Case related to an ST product, when the case is auto closed due to no scan event or update has been received for 5 business days.</description>
        <name>UnifiedCaseNoScansOrUpdatesClosureNotificationSTAlert</name>
        <label>UnifiedCaseNoScansOrUpdatesClosureNotificationSTAlert</label>
        <locationX>3432</locationX>
        <locationY>350</locationY>
        <actionName>Case.UnifiedCaseNoScansOrUpdatesClosureNotificationST</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Process_Flow_Email_Type_Requests</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Process_Flow_Email_Type_Requests.srcRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.UnifiedCaseNoScansOrUpdatesClosureNotificationST</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Email alert to notify related contact on a Case related to an AP product, when no scan event or update has been received for 3 business days.</description>
        <name>UnifiedCaseNoScansOrUpdatesNotificationAPAlert</name>
        <label>UnifiedCaseNoScansOrUpdatesNotificationAPAlert</label>
        <locationX>2640</locationX>
        <locationY>350</locationY>
        <actionName>Case.UnifiedCaseNoScansOrUpdatesNotificationAP</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Process_Flow_Email_Type_Requests</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Process_Flow_Email_Type_Requests.srcRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.UnifiedCaseNoScansOrUpdatesNotificationAP</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Email alert to notify related contact on a Case related to an StarTrack product, when no scan event or update has been received for 3 business days.</description>
        <name>UnifiedCaseNoScansOrUpdatesNotificationSTAlert</name>
        <label>UnifiedCaseNoScansOrUpdatesNotificationSTAlert</label>
        <locationX>2904</locationX>
        <locationY>350</locationY>
        <actionName>Case.UnifiedCaseNoScansOrUpdatesNotificationST</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Process_Flow_Email_Type_Requests</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Process_Flow_Email_Type_Requests.srcRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.UnifiedCaseNoScansOrUpdatesNotificationST</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Email alert to notify related contact when Unified case related to an AusPost product is closed as a result of &quot;Undeliverable - Damaged&quot; scan event.</description>
        <name>UnifiedCaseUndeliverableDamagedEventMessageClosureNotificationAPAlert</name>
        <label>UnifiedCaseUndeliverableDamagedEventMessageClosureNotificationAPAlert</label>
        <locationX>9768</locationX>
        <locationY>350</locationY>
        <actionName>Case.UnifiedCaseClosureOnUndeliverableDamagedScanEventAP</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Process_Flow_Email_Type_Requests</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Process_Flow_Email_Type_Requests.srcRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.UnifiedCaseClosureOnUndeliverableDamagedScanEventAP</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Email alert to notify related contact when Unified case related to a StarTrack product is closed as a result of &quot;Undeliverable - Damaged&quot; scan event.</description>
        <name>UnifiedCaseUndeliverableDamagedEventMessageClosureNotificationSTAlert</name>
        <label>UnifiedCaseUndeliverableDamagedEventMessageClosureNotificationSTAlert</label>
        <locationX>10032</locationX>
        <locationY>350</locationY>
        <actionName>Case.UnifiedCaseClosureOnUndeliverableDamagedScanEventST</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Process_Flow_Email_Type_Requests</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Process_Flow_Email_Type_Requests.srcRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.UnifiedCaseClosureOnUndeliverableDamagedScanEventST</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Email alert to notify related contact when Unified case related to an AusPost product is closed as a result of &quot;Undeliverable - General&quot; scan event.</description>
        <name>UnifiedCaseUndeliverableGeneralEventMessageClosureNotificationAPAlert</name>
        <label>UnifiedCaseUndeliverableGeneralEventMessageClosureNotificationAPAlert</label>
        <locationX>10296</locationX>
        <locationY>350</locationY>
        <actionName>Case.UnifiedCaseClosureOnUndeliverableGeneralScanEventAP</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Process_Flow_Email_Type_Requests</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Process_Flow_Email_Type_Requests.srcRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.UnifiedCaseClosureOnUndeliverableGeneralScanEventAP</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Email alert to notify related contact when Unified case related to an AusPost product is closed as a result of &quot;Undeliverable - Incorrect Address&quot; scan event.</description>
        <name>UnifiedCaseUndeliverableIncorrectAddressEventMessageClosureNotificationAPAlert</name>
        <label>UnifiedCaseUndeliverableIncorrectAddressEventMessageClosureNotificationAPAlert</label>
        <locationX>10560</locationX>
        <locationY>350</locationY>
        <actionName>Case.UnifiedCaseClosureOnUndeliverableIncorrectAddressScanEventAP</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Process_Flow_Email_Type_Requests</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Process_Flow_Email_Type_Requests.srcRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.UnifiedCaseClosureOnUndeliverableIncorrectAddressScanEventAP</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Email alert to notify related contact when Unified case related to an AusPost product is closed as a result of &quot;Undeliverable - Issue in Transit&quot; scan event.</description>
        <name>UnifiedCaseUndeliverableIssueInTransitEventMessageClosureNotificationAPAlert</name>
        <label>UnifiedCaseUndeliverableIssueInTransitEventMessageClosureNotificationAPAlert</label>
        <locationX>10824</locationX>
        <locationY>350</locationY>
        <actionName>Case.UnifiedCaseClosureOnUndeliverableIssueInTransitScanEventAP</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Process_Flow_Email_Type_Requests</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Process_Flow_Email_Type_Requests.srcRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.UnifiedCaseClosureOnUndeliverableIssueInTransitScanEventAP</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Email alert to notify related contact when Unified case related to a StarTrack product is closed as a result of &quot;Undeliverable - Issue in Transit&quot; scan event.</description>
        <name>UnifiedCaseUndeliverableIssueInTransitEventMessageClosureNotificationSTAlert</name>
        <label>UnifiedCaseUndeliverableIssueInTransitEventMessageClosureNotificationSTAlert</label>
        <locationX>11088</locationX>
        <locationY>350</locationY>
        <actionName>Case.UnifiedCaseClosureOnUndeliverableIssueInTransitScanEventST</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Process_Flow_Email_Type_Requests</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Process_Flow_Email_Type_Requests.srcRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.UnifiedCaseClosureOnUndeliverableIssueInTransitScanEventST</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Email alert to notify related contact when Unified case related to an AusPost product is closed as a result of &quot;Undeliverable - Issue Receiving Parcel&quot; scan event.</description>
        <name>UnifiedCaseUndeliverableIssueReceivingParcelEventMsgClosureNotificationAPAlert</name>
        <label>UnifiedCaseUndeliverableIssueReceivingParcelEventMsgClosureNotificationAPAlert</label>
        <locationX>11352</locationX>
        <locationY>350</locationY>
        <actionName>Case.UnifiedCaseClosureOnUndeliverableIssueReceivingParcelScanEventAP</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Process_Flow_Email_Type_Requests</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Process_Flow_Email_Type_Requests.srcRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.UnifiedCaseClosureOnUndeliverableIssueReceivingParcelScanEventAP</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Email alert to notify related contact when Unified case related to a StarTrack product is closed as a result of &quot;Undeliverable - Issue Receiving Parcel&quot; scan event.</description>
        <name>UnifiedCaseUndeliverableIssueReceivingParcelEventMsgClosureNotificationSTAlert</name>
        <label>UnifiedCaseUndeliverableIssueReceivingParcelEventMsgClosureNotificationSTAlert</label>
        <locationX>11616</locationX>
        <locationY>350</locationY>
        <actionName>Case.UnifiedCaseClosureOnUndeliverableIssueReceivingParcelScanEventST</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Process_Flow_Email_Type_Requests</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Process_Flow_Email_Type_Requests.srcRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.UnifiedCaseClosureOnUndeliverableIssueReceivingParcelScanEventST</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Email alert to notify related contact when Unified case related to an AusPost product is closed as a result of &quot;Undeliverable - Refused&quot; scan event.</description>
        <name>UnifiedCaseUndeliverableRefusedEventMessageClosureNotificationAPAlert</name>
        <label>UnifiedCaseUndeliverableRefusedEventMessageClosureNotificationAPAlert</label>
        <locationX>11880</locationX>
        <locationY>350</locationY>
        <actionName>Case.UnifiedCaseClosureOnUndeliverableRefusedScanEventAP</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Process_Flow_Email_Type_Requests</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Process_Flow_Email_Type_Requests.srcRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.UnifiedCaseClosureOnUndeliverableRefusedScanEventAP</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Email alert to notify related contact when Unified case related to an AusPost product is closed as a result of &quot;Undeliverable - RMRC&quot; scan event.</description>
        <name>UnifiedCaseUndeliverableRMRCEventMessageClosureNotificationAPAlert</name>
        <label>UnifiedCaseUndeliverableRMRCEventMessageClosureNotificationAPAlert</label>
        <locationX>12144</locationX>
        <locationY>350</locationY>
        <actionName>Case.UnifiedCaseClosureOnUndeliverableRMRCScanEventAP</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Process_Flow_Email_Type_Requests</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Process_Flow_Email_Type_Requests.srcRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.UnifiedCaseClosureOnUndeliverableRMRCScanEventAP</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Email alert to notify related contact when Unified case related to an AusPost product is closed as a result of &quot;Undeliverable - RTS&quot; scan event.</description>
        <name>UnifiedCaseUndeliverableRTSEventMessageClosureNotificationAPAlert</name>
        <label>UnifiedCaseUndeliverableRTSEventMessageClosureNotificationAPAlert</label>
        <locationX>12408</locationX>
        <locationY>350</locationY>
        <actionName>Case.UnifiedCaseClosureOnUndeliverableRTSScanEventAP</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Process_Flow_Email_Type_Requests</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Process_Flow_Email_Type_Requests.srcRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.UnifiedCaseClosureOnUndeliverableRTSScanEventAP</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Email alert to notify related contact when Unified case related to a StarTrack product is closed as a result of &quot;Undeliverable - RTS&quot; scan event.</description>
        <name>UnifiedCaseUndeliverableRTSEventMessageClosureNotificationSTAlert</name>
        <label>UnifiedCaseUndeliverableRTSEventMessageClosureNotificationSTAlert</label>
        <locationX>12672</locationX>
        <locationY>350</locationY>
        <actionName>Case.UnifiedCaseClosureOnUndeliverableRTSScanEventST</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Process_Flow_Email_Type_Requests</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Process_Flow_Email_Type_Requests.srcRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.UnifiedCaseClosureOnUndeliverableRTSScanEventST</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Email alert to notify Aus Post customer on converting general enquiry Unified case to Investigation type.</description>
        <name>UnifiedGeneralEnquiryToInvestigationAPAlert</name>
        <label>UnifiedGeneralEnquiryToInvestigationAPAlert</label>
        <locationX>792</locationX>
        <locationY>350</locationY>
        <actionName>Case.UnifiedGeneralEnquiryToInvestigationAP</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Process_Flow_Email_Type_Requests</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Process_Flow_Email_Type_Requests.srcRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.UnifiedGeneralEnquiryToInvestigationAP</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Email alert to notify StarTrack customer on converting general enquiry Unified case to Investigation type.</description>
        <name>UnifiedGeneralEnquiryToInvestigationSTAlert</name>
        <label>UnifiedGeneralEnquiryToInvestigationSTAlert</label>
        <locationX>1056</locationX>
        <locationY>350</locationY>
        <actionName>Case.UnifiedGeneralEnquiryToInvestigationST</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Process_Flow_Email_Type_Requests</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Process_Flow_Email_Type_Requests.srcRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.UnifiedGeneralEnquiryToInvestigationST</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Email alert to notify Aus Post customer on new Unified Investigation case creation.</description>
        <name>UnifiedInvestigationCaseCreationAPAlert</name>
        <label>UnifiedInvestigationCaseCreationAPAlert</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <actionName>Case.UnifiedInvestigationCaseCreationAP</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Process_Flow_Email_Type_Requests</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Process_Flow_Email_Type_Requests.srcRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.UnifiedInvestigationCaseCreationAP</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Email alert to notify StarTrack customer on new Unified Investigation case creation.</description>
        <name>UnifiedInvestigationCaseCreationSTAlert</name>
        <label>UnifiedInvestigationCaseCreationSTAlert</label>
        <locationX>528</locationX>
        <locationY>350</locationY>
        <actionName>Case.UnifiedInvestigationCaseCreationST</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Process_Flow_Email_Type_Requests</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Process_Flow_Email_Type_Requests.srcRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.UnifiedInvestigationCaseCreationST</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <description>Select which static email alert will be invoked</description>
        <name>Select_Case_Email_Alert</name>
        <label>Select Case Email Alert</label>
        <locationX>6600</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Process_Flow_Email_Type_Requests</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email Alert Not Found</defaultConnectorLabel>
        <rules>
            <name>UnifiedInvestigationCaseCreationAusPost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Flow_Email_Type_Requests.emailAlertName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UnifiedInvestigationCaseCreationAP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnifiedInvestigationCaseCreationAPAlert</targetReference>
            </connector>
            <label>UnifiedInvestigationCaseCreationAusPost</label>
        </rules>
        <rules>
            <name>UnifiedInvestigationCaseCreationStarTrack</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Flow_Email_Type_Requests.emailAlertName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UnifiedInvestigationCaseCreationST</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnifiedInvestigationCaseCreationSTAlert</targetReference>
            </connector>
            <label>UnifiedInvestigationCaseCreationStarTrack</label>
        </rules>
        <rules>
            <name>UnifiedGeneralEnquiryToInvestigationAusPost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Flow_Email_Type_Requests.emailAlertName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UnifiedGeneralEnquiryToInvestigationAP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnifiedGeneralEnquiryToInvestigationAPAlert</targetReference>
            </connector>
            <label>UnifiedGeneralEnquiryToInvestigationAusPost</label>
        </rules>
        <rules>
            <name>UnifiedGeneralEnquiryToInvestigationStarTrack</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Flow_Email_Type_Requests.emailAlertName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UnifiedGeneralEnquiryToInvestigationST</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnifiedGeneralEnquiryToInvestigationSTAlert</targetReference>
            </connector>
            <label>UnifiedGeneralEnquiryToInvestigationStarTrack</label>
        </rules>
        <rules>
            <name>MyCustomerAwaitingCollectionEventMessageCaseClosure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Flow_Email_Type_Requests.emailAlertName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SSSW_Awaiting_Collection</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MyCustomerAwaitingCollectionEventMessageCaseClosureAlert</targetReference>
            </connector>
            <label>MyCustomerAwaitingCollectionEventMessageCaseClosure</label>
        </rules>
        <rules>
            <name>MyCustomerDelieveredEventMessageCaseClosure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Flow_Email_Type_Requests.emailAlertName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SSSW_Email_Delivered</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MyCustomerDeliveredEventMessageCaseClosureAlert</targetReference>
            </connector>
            <label>MyCustomerDelieveredEventMessageCaseClosure</label>
        </rules>
        <rules>
            <name>MyCustomerDelieveredInSafePlaceEventMessageCaseClosure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Flow_Email_Type_Requests.emailAlertName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SSSW_Email_Delivered_in_a_Safe_Place</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MyCustomerDeliveredInSafePlaceEventMessageCaseClosureAlert</targetReference>
            </connector>
            <label>MyCustomerDelieveredInSafePlaceEventMessageCaseClosure</label>
        </rules>
        <rules>
            <name>MyCustomerOnboardWithDriverEventMessageCaseClosure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Flow_Email_Type_Requests.emailAlertName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SSSW_Onboard_with_Driver</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MyCustomerOnboardWithDriverEventMessageCaseClosureAlert</targetReference>
            </connector>
            <label>MyCustomerOnboardWithDriverEventMessageCaseClosure</label>
        </rules>
        <rules>
            <name>MyCustomerOnboardWithDriverInternationalEventMessageCaseClosure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Flow_Email_Type_Requests.emailAlertName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SSSW_Onboard_with_driver_international</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MyCustomerOnboardWithDriverInternationalEventMessageCaseClosureAlert</targetReference>
            </connector>
            <label>MyCustomerOnboardWithDriverInternationalEventMessageCaseClosure</label>
        </rules>
        <rules>
            <name>UnifiedCaseNoScansOrUpdatesNotificationAusPost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Flow_Email_Type_Requests.emailAlertName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UnifiedCaseNoScansOrUpdatesNotificationAP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnifiedCaseNoScansOrUpdatesNotificationAPAlert</targetReference>
            </connector>
            <label>UnifiedCaseNoScansOrUpdatesNotificationAusPost</label>
        </rules>
        <rules>
            <name>UnifiedCaseNoScansOrUpdatesNotificationStarTrack</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Flow_Email_Type_Requests.emailAlertName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UnifiedCaseNoScansOrUpdatesNotificationST</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnifiedCaseNoScansOrUpdatesNotificationSTAlert</targetReference>
            </connector>
            <label>UnifiedCaseNoScansOrUpdatesNotificationStarTrack</label>
        </rules>
        <rules>
            <name>UnifiedCaseNoScansOrUpdatesClosureNotificationAusPost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Flow_Email_Type_Requests.emailAlertName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UnifiedCaseNoScansOrUpdatesClosureNotificationAP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnifiedCaseNoScansOrUpdatesClosureNotificationAPAlert</targetReference>
            </connector>
            <label>UnifiedCaseNoScansOrUpdatesClosureNotificationAusPost</label>
        </rules>
        <rules>
            <name>UnifiedCaseNoScansOrUpdatesClosureNotificationStarTrack</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Flow_Email_Type_Requests.emailAlertName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UnifiedCaseNoScansOrUpdatesClosureNotificationST</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnifiedCaseNoScansOrUpdatesClosureNotificationSTAlert</targetReference>
            </connector>
            <label>UnifiedCaseNoScansOrUpdatesClosureNotificationStarTrack</label>
        </rules>
        <rules>
            <name>UnifiedCaseDeliveredCollectedEventMessageClosureNotificationAusPost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Flow_Email_Type_Requests.emailAlertName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UnifiedCaseClosureOnDeliveredCollectedScanEventAP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnifiedCaseDeliveredCollectedEventMessageClosureNotificationAPAlert</targetReference>
            </connector>
            <label>UnifiedCaseDeliveredCollectedEventMessageClosureNotificationAusPost</label>
        </rules>
        <rules>
            <name>UnifiedCaseDeliveredCollectedEventMessageClosureNotificationStarTrack</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Flow_Email_Type_Requests.emailAlertName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UnifiedCaseClosureOnDeliveredCollectedScanEventST</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnifiedCaseDeliveredCollectedEventMessageClosureNotificationSTAlert</targetReference>
            </connector>
            <label>UnifiedCaseDeliveredCollectedEventMessageClosureNotificationStarTrack</label>
        </rules>
        <rules>
            <name>UnifiedCaseDeliveredDeliveredToPOBoxEventMessageClosureNotificationAusPost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Flow_Email_Type_Requests.emailAlertName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UnifiedCaseClosureOnDeliveredDeliveredToPOBoxScanEventAP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnifiedCaseDeliveredDeliveredToPOBoxEventMessageClosureNotificationAPAlert</targetReference>
            </connector>
            <label>UnifiedCaseDeliveredDeliveredToPOBoxEventMessageClosureNotificationAusPost</label>
        </rules>
        <rules>
            <name>UnifiedCaseDeliveredDeliveredToPOBoxEventMessageClosureNotificationStarTrack</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Flow_Email_Type_Requests.emailAlertName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UnifiedCaseClosureOnDeliveredDeliveredToPOBoxScanEventST</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnifiedCaseDeliveredDeliveredToPOBoxEventMessageClosureNotificationSTAlert</targetReference>
            </connector>
            <label>UnifiedCaseDeliveredDeliveredToPOBoxEventMessageClosureNotificationStarTrack</label>
        </rules>
        <rules>
            <name>UnifiedCaseDeliveredMarkedAsDeliveredOnTheAppEventMessageClosureNotificationAusP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Flow_Email_Type_Requests.emailAlertName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UnifiedCaseClosureOnDeliveredMarkedAsDeliveredOnTheAppScanEventAP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnifiedCaseMarkedAsDeliveredOnTheAppEventMessageClosureNotificationAPAlert</targetReference>
            </connector>
            <label>UnifiedCaseDeliveredMarkedAsDeliveredOnTheAppEventMessageClosureNotificationAusPost</label>
        </rules>
        <rules>
            <name>UnifiedCaseDeliveredMarkedAsDeliveredOnTheAppEventMessageClosureNotificationStar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Flow_Email_Type_Requests.emailAlertName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UnifiedCaseClosureOnDeliveredMarkedAsDeliveredOnTheAppScanEventST</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnifiedCaseMarkedAsDeliveredOnTheAppEventMessageClosureNotificationSTAlert</targetReference>
            </connector>
            <label>UnifiedCaseDeliveredMarkedAsDeliveredOnTheAppEventMessageClosureNotificationStarTrack</label>
        </rules>
        <rules>
            <name>UnifiedCaseDeliveredSafeDroppedEventMessageClosureNotificationAusPost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Flow_Email_Type_Requests.emailAlertName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UnifiedCaseClosureOnDeliveredSafeDroppedScanEventAP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnifiedCaseDeliveredSafeDroppedEventMessageClosureNotificationAPAlert</targetReference>
            </connector>
            <label>UnifiedCaseDeliveredSafeDroppedEventMessageClosureNotificationAusPost</label>
        </rules>
        <rules>
            <name>UnifiedCaseDeliveredSafeDroppedEventMessageClosureNotificationStarTrack</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Flow_Email_Type_Requests.emailAlertName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UnifiedCaseClosureOnDeliveredSafeDroppedScanEventST</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnifiedCaseClosureOnDeliveredSafeDroppedScanEventAlertST</targetReference>
            </connector>
            <label>UnifiedCaseDeliveredSafeDroppedEventMessageClosureNotificationStarTrack</label>
        </rules>
        <rules>
            <name>UnifiedCaseDeliveredEventMessageClosureNotificationAusPost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Flow_Email_Type_Requests.emailAlertName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UnifiedCaseClosureOnDeliveredScanEventAP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnifiedCaseDeliveredEventMessageClosureNotificationAPAlert</targetReference>
            </connector>
            <label>UnifiedCaseDeliveredEventMessageClosureNotificationAusPost</label>
        </rules>
        <rules>
            <name>UnifiedCaseDeliveredEventMessageClosureNotificationStarTrack</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Flow_Email_Type_Requests.emailAlertName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UnifiedCaseClosureOnDeliveredScanEventST</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnifiedCaseDeliveredEventMessageClosureNotificationSTAlert</targetReference>
            </connector>
            <label>UnifiedCaseDeliveredEventMessageClosureNotificationStarTrack</label>
        </rules>
        <rules>
            <name>UnifiedCaseLastMileAttemptedDeliveryEventMessageClosureNotificationAusPost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Flow_Email_Type_Requests.emailAlertName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UnifiedCaseClosureOnLastMileAttemptedDeliveryScanEventAP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnifiedCaseLastMileAttemptedDeliveryEventMessageClosureNotificationAPAlert</targetReference>
            </connector>
            <label>UnifiedCaseLastMileAttemptedDeliveryEventMessageClosureNotificationAusPost</label>
        </rules>
        <rules>
            <name>UnifiedCaseLastMileAttemptedDeliveryEventMessageClosureNotificationStarTrack</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Flow_Email_Type_Requests.emailAlertName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UnifiedCaseClosureOnLastMileAttemptedDeliveryScanEventST</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnifiedCaseLastMileAttemptedDeliveryEventMessageClosureNotificationSTAlert</targetReference>
            </connector>
            <label>UnifiedCaseLastMileAttemptedDeliveryEventMessageClosureNotificationStarTrack</label>
        </rules>
        <rules>
            <name>UnifiedCaseLastMileAwaitingCollectionEventMessageClosureNotificationAusPost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Flow_Email_Type_Requests.emailAlertName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UnifiedCaseClosureOnLastMileAwaitingCollectionScanEventAP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnifiedCaseLastMileAwaitingCollectionEventMessageClosureNotificationAPAlert</targetReference>
            </connector>
            <label>UnifiedCaseLastMileAwaitingCollectionEventMessageClosureNotificationAusPost</label>
        </rules>
        <rules>
            <name>UnifiedCaseLastMileAwaitingCollectionEventMessageClosureNotificationStarTrack</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Flow_Email_Type_Requests.emailAlertName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UnifiedCaseClosureOnLastMileAwaitingCollectionScanEventST</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnifiedCaseLastMileAwaitingCollectionEventMessageClosureNotificationSTAlert</targetReference>
            </connector>
            <label>UnifiedCaseLastMileAwaitingCollectionEventMessageClosureNotificationStarTrack</label>
        </rules>
        <rules>
            <name>UnifiedCaseLastMileGeneralOtherEventMessageClosureNotificationAusPost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Flow_Email_Type_Requests.emailAlertName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UnifiedCaseClosureOnLastMileGeneralOtherScanEventAP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnifiedCaseLastMileGeneralOtherEventMessageClosureNotificationAPAlert</targetReference>
            </connector>
            <label>UnifiedCaseLastMileGeneralOtherEventMessageClosureNotificationAusPost</label>
        </rules>
        <rules>
            <name>UnifiedCaseLastMileGeneralOtherEventMessageClosureNotificationStarTrack</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Flow_Email_Type_Requests.emailAlertName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UnifiedCaseClosureOnLastMileGeneralOtherScanEventST</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnifiedCaseLastMileGeneralOtherEventMessageClosureNotificationSTAlert</targetReference>
            </connector>
            <label>UnifiedCaseLastMileGeneralOtherEventMessageClosureNotificationStarTrack</label>
        </rules>
        <rules>
            <name>UnifiedCaseLastMileOnBoardForDeliveryEventMessageClosureNotificationAusPost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Flow_Email_Type_Requests.emailAlertName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UnifiedCaseClosureOnLastMileOnBoardForDeliveryScanEventAP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnifiedCaseLastMileOnBoardForDeliveryEventMessageClosureNotificationAPAlert</targetReference>
            </connector>
            <label>UnifiedCaseLastMileOnBoardForDeliveryEventMessageClosureNotificationAusPost</label>
        </rules>
        <rules>
            <name>UnifiedCaseLastMileOnBoardForDeliveryEventMessageClosureNotificationStarTrack</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Flow_Email_Type_Requests.emailAlertName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UnifiedCaseLastMileOnBoardForDeliveryEventMessageClosureNotificationStarTrack</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnifiedCaseLastMileOnBoardForDeliveryEventMessageClosureNotificationSTAlert</targetReference>
            </connector>
            <label>UnifiedCaseLastMileOnBoardForDeliveryEventMessageClosureNotificationStarTrack</label>
        </rules>
        <rules>
            <name>UnifiedCaseNewEDDGeneralEventMessageClosureNotificationAusPost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Flow_Email_Type_Requests.emailAlertName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UnifiedCaseClosureOnNewEDDGeneralScanEventAP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnifiedCaseNewEDDGeneralEventMessageClosureNotificationAPAlert</targetReference>
            </connector>
            <label>UnifiedCaseNewEDDGeneralEventMessageClosureNotificationAusPost</label>
        </rules>
        <rules>
            <name>UnifiedCaseNewEDDMissortEventMessageClosureNotificationAusPost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Flow_Email_Type_Requests.emailAlertName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UnifiedCaseClosureOnNewEDDMissortScanEventAP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnifiedCaseNewEDDMissortEventMessageClosureNotificationAPAlert</targetReference>
            </connector>
            <label>UnifiedCaseNewEDDMissortEventMessageClosureNotificationAusPost</label>
        </rules>
        <rules>
            <name>UnifiedCaseNewEDDMissortEventMessageClosureNotificationStarTrack</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Flow_Email_Type_Requests.emailAlertName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UnifiedCaseClosureOnNewEDDMissortScanEventST</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnifiedCaseNewEDDMissortEventMessageClosureNotificationSTAlert</targetReference>
            </connector>
            <label>UnifiedCaseNewEDDMissortEventMessageClosureNotificationStarTrack</label>
        </rules>
        <rules>
            <name>UnifiedCaseNewEDDNewInformationDropshipEventMessageClosureNotificationAusPost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Flow_Email_Type_Requests.emailAlertName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UnifiedCaseClosureOnNewEDDNewInformationDropshipScanEventAP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnifiedCaseNewEDDNewInformationDropshipEventMessageClosureNotificationAPAlert</targetReference>
            </connector>
            <label>UnifiedCaseNewEDDNewInformationDropshipEventMessageClosureNotificationAusPost</label>
        </rules>
        <rules>
            <name>UnifiedCaseNewEDDNewInformationDropshipEventMessageClosureNotificationStarTrack</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Flow_Email_Type_Requests.emailAlertName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UnifiedCaseClosureOnNewEDDNewInformationDropshipScanEventST</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnifiedCaseNewEDDNewInformationDropshipEventMessageClosureNotificationSTAlert</targetReference>
            </connector>
            <label>UnifiedCaseNewEDDNewInformationDropshipEventMessageClosureNotificationStarTrack</label>
        </rules>
        <rules>
            <name>UnifiedCaseUndeliverableDamagedEventMessageClosureNotificationAusPost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Flow_Email_Type_Requests.emailAlertName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UnifiedCaseClosureOnUndeliverableDamagedScanEventAP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnifiedCaseUndeliverableDamagedEventMessageClosureNotificationAPAlert</targetReference>
            </connector>
            <label>UnifiedCaseUndeliverableDamagedEventMessageClosureNotificationAusPost</label>
        </rules>
        <rules>
            <name>UnifiedCaseUndeliverableDamagedEventMessageClosureNotificationStarTrack</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Flow_Email_Type_Requests.emailAlertName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UnifiedCaseClosureOnUndeliverableDamagedScanEventST</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnifiedCaseUndeliverableDamagedEventMessageClosureNotificationSTAlert</targetReference>
            </connector>
            <label>UnifiedCaseUndeliverableDamagedEventMessageClosureNotificationStarTrack</label>
        </rules>
        <rules>
            <name>UnifiedCaseUndeliverableGeneralEventMessageClosureNotificationAusPost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Flow_Email_Type_Requests.emailAlertName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UnifiedCaseClosureOnUndeliverableGeneralScanEventAP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnifiedCaseUndeliverableGeneralEventMessageClosureNotificationAPAlert</targetReference>
            </connector>
            <label>UnifiedCaseUndeliverableGeneralEventMessageClosureNotificationAusPost</label>
        </rules>
        <rules>
            <name>UnifiedCaseUndeliverableIncorrectAddressEventMessageClosureNotificationAusPost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Flow_Email_Type_Requests.emailAlertName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UnifiedCaseClosureOnUndeliverableIncorrectAddressScanEventAP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnifiedCaseUndeliverableIncorrectAddressEventMessageClosureNotificationAPAlert</targetReference>
            </connector>
            <label>UnifiedCaseUndeliverableIncorrectAddressEventMessageClosureNotificationAusPost</label>
        </rules>
        <rules>
            <name>UnifiedCaseUndeliverableIssueInTransitEventMessageClosureNotificationAusPost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Flow_Email_Type_Requests.emailAlertName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UnifiedCaseClosureOnUndeliverableIssueInTransitScanEventAP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnifiedCaseUndeliverableIssueInTransitEventMessageClosureNotificationAPAlert</targetReference>
            </connector>
            <label>UnifiedCaseUndeliverableIssueInTransitEventMessageClosureNotificationAusPost</label>
        </rules>
        <rules>
            <name>UnifiedCaseUndeliverableIssueInTransitEventMessageClosureNotificationStarTrack</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Flow_Email_Type_Requests.emailAlertName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UnifiedCaseClosureOnUndeliverableIssueInTransitScanEventST</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnifiedCaseUndeliverableIssueInTransitEventMessageClosureNotificationSTAlert</targetReference>
            </connector>
            <label>UnifiedCaseUndeliverableIssueInTransitEventMessageClosureNotificationStarTrack</label>
        </rules>
        <rules>
            <name>UnifiedCaseUndeliverableIssueReceivingParcelEventMessageClosureNotificationAusPo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Flow_Email_Type_Requests.emailAlertName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UnifiedCaseClosureOnUndeliverableIssueReceivingParcelScanEventAP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnifiedCaseUndeliverableIssueReceivingParcelEventMsgClosureNotificationAPAlert</targetReference>
            </connector>
            <label>UnifiedCaseUndeliverableIssueReceivingParcelEventMessageClosureNotificationAusPost</label>
        </rules>
        <rules>
            <name>UnifiedCaseUndeliverableIssueReceivingParcelEventMessageClosureNotificationStarT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Flow_Email_Type_Requests.emailAlertName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UnifiedCaseClosureOnUndeliverableIssueReceivingParcelScanEventST</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnifiedCaseUndeliverableIssueReceivingParcelEventMsgClosureNotificationSTAlert</targetReference>
            </connector>
            <label>UnifiedCaseUndeliverableIssueReceivingParcelEventMessageClosureNotificationStarTrack</label>
        </rules>
        <rules>
            <name>UnifiedCaseUndeliverableRefusedEventMessageClosureNotificationAusPost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Flow_Email_Type_Requests.emailAlertName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UnifiedCaseClosureOnUndeliverableRefusedScanEventAP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnifiedCaseUndeliverableRefusedEventMessageClosureNotificationAPAlert</targetReference>
            </connector>
            <label>UnifiedCaseUndeliverableRefusedEventMessageClosureNotificationAusPost</label>
        </rules>
        <rules>
            <name>UnifiedCaseUndeliverableRMRCEventMessageClosureNotificationAusPost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Flow_Email_Type_Requests.emailAlertName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UnifiedCaseClosureOnUndeliverableRMRCScanEventAP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnifiedCaseUndeliverableRMRCEventMessageClosureNotificationAPAlert</targetReference>
            </connector>
            <label>UnifiedCaseUndeliverableRMRCEventMessageClosureNotificationAusPost</label>
        </rules>
        <rules>
            <name>UnifiedCaseUndeliverableRTSEventMessageClosureNotificationAusPost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Flow_Email_Type_Requests.emailAlertName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UnifiedCaseClosureOnUndeliverableRTSScanEventAP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnifiedCaseUndeliverableRTSEventMessageClosureNotificationAPAlert</targetReference>
            </connector>
            <label>UnifiedCaseUndeliverableRTSEventMessageClosureNotificationAusPost</label>
        </rules>
        <rules>
            <name>UnifiedCaseUndeliverableRTSEventMessageClosureNotificationStarTrack</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Flow_Email_Type_Requests.emailAlertName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UnifiedCaseClosureOnUndeliverableRTSScanEventST</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnifiedCaseUndeliverableRTSEventMessageClosureNotificationSTAlert</targetReference>
            </connector>
            <label>UnifiedCaseUndeliverableRTSEventMessageClosureNotificationStarTrack</label>
        </rules>
    </decisions>
    <description>Subflow of Application Email Service framework that manages the sending of Case email alerts</description>
    <environments>Default</environments>
    <interviewLabel>Flow Email Service - Case Emails {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow Email Service - Case Emails</label>
    <loops>
        <name>Process_Flow_Email_Type_Requests</name>
        <label>Process Flow Email Type Requests</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <collectionReference>flowEmailTypeRequests</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Select_Case_Email_Alert</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Process_Flow_Email_Type_Requests</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>flowEmailTypeRequests</name>
        <apexClass>ApplicationFlowEmailType</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
