force-app/main/default/flows/Inbound_Sprout_Social_Data_Legacy.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GenerateCasesAction</name>
        <label>Generate Cases Action</label>
        <locationX>330</locationX>
        <locationY>647</locationY>
        <actionName>GenerateSocialCaseAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>HasExistingCaseToUpdate</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>socialPersona</name>
            <value>
                <elementReference>Process_Social_Persona_Action</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>socialPost</name>
            <value>
                <elementReference>SocialPostRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GenerateSocialCaseAction</nameSegment>
        <outputParameters>
            <assignToReference>CaseRecord</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Accepts a Sprout Social Data Event record and determines whether new SocialPersona records need to be created or if existing records need to be updated.</description>
        <name>Process_Social_Persona_Action</name>
        <label>Process Social Persona Action</label>
        <locationX>330</locationX>
        <locationY>431</locationY>
        <actionName>ProcessSocialPersonaAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ProcessSocialPostAction</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>socialDataEvents</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ProcessSocialPersonaAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Accepts a Sprout Social Data Event and Social Persona records and determines whether new Social Post records need to be created or need to update the existing records.</description>
        <name>ProcessSocialPostAction</name>
        <label>Process Social Post Action</label>
        <locationX>330</locationX>
        <locationY>539</locationY>
        <actionName>ProcessSocialPostAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GenerateCasesAction</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>socialDataEvent</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>socialPersona</name>
            <value>
                <elementReference>Process_Social_Persona_Action</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ProcessSocialPostAction</nameSegment>
        <outputParameters>
            <assignToReference>SocialPostRecord</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>AssignCaseToSocialPost</name>
        <label>Assign Case To Social Post</label>
        <locationX>330</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>SocialPostRecord.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateSocialPost</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>HasExistingCaseToUpdate</name>
        <label>Has Existing Case To Update</label>
        <locationX>330</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>CreateCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCase</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the incoming post shouldn&apos;t be captured in Salesforce</description>
        <name>Is_Invalid_Post</name>
        <label>Is Invalid Post</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Process_Social_Persona_Action</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Twitter_Post</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SproutSocialApp__Post_Provider__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Twitter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SproutSocialApp__Message_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Post</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteSocialDataEvent</targetReference>
            </connector>
            <label>Twitter Post</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Inbound Sprout Social Data - Legacy {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inbound Sprout Social Data - Legacy</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateCase</name>
        <label>Create Case</label>
        <locationX>462</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>AssignCaseToSocialPost</targetReference>
        </connector>
        <inputReference>CaseRecord</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>DeleteSocialDataEvent</name>
        <label>Delete Social Data Event</label>
        <locationX>176</locationX>
        <locationY>1355</locationY>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <recordUpdates>
        <name>UpdateCase</name>
        <label>Update Case</label>
        <locationX>198</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>AssignCaseToSocialPost</targetReference>
        </connector>
        <inputReference>CaseRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateSocialPost</name>
        <label>Update Social Post</label>
        <locationX>330</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>DeleteSocialDataEvent</targetReference>
        </connector>
        <inputReference>SocialPostRecord</inputReference>
    </recordUpdates>
    <sourceTemplate>SproutSocialApp__Inbound_Sprout_Social_Data</sourceTemplate>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Invalid_Post</targetReference>
        </connector>
        <object>SproutSocialApp__Sprout_Social_Data_Event__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Scocial Persona Records that has latest information of social data events. These records can be an existing records or new records that are created as part of this transaction.</description>
        <name>SocialPersonaRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SocialPersona</objectType>
    </variables>
    <variables>
        <name>SocialPostRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>SocialPost</objectType>
    </variables>
    <variables>
        <name>SocialPosts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SocialPost</objectType>
    </variables>
    <variables>
        <name>SproutSocialDataEvents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SproutSocialApp__Sprout_Social_Data_Event__c</objectType>
    </variables>
</Flow>
