force-app/main/default/flows/JBSystemFlow_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObjdf14980b6de52c6f192e52ceeefb6708_FireJBTrigger</name>
        <label>SalesforceObjdf14980b6de52c6f192e52ceeefb6708_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;PersonContactId&quot;,&quot;relationshipName&quot;:&quot;PersonContact&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjdf14980b6de52c6f192e52ceeefb6708</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>10920771</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Account:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Record_Type_Id__c&quot;,&quot;Conveyancer_Is_a__c&quot;,&quot;Registration_Type__c&quot;,&quot;ConveyancerContact__pc&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;PersonContact&quot;,&quot;dePrefix&quot;:&quot;Account:PersonContact:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;FirstName&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;ConveyancerContact__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjdf14980b6de52c6f192e52ceeefb6708</name>
        <label>JB_Decision_Null_Check_SalesforceObjdf14980b6de52c6f192e52ceeefb6708</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjdf14980b6de52c6f192e52ceeefb6708_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObjdf14980b6de52c6f192e52ceeefb6708_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjdf14980b6de52c6f192e52ceeefb6708_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjdf14980b6de52c6f192e52ceeefb6708_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjdf14980b6de52c6f192e52ceeefb6708_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjdf14980b6de52c6f192e52ceeefb6708_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjdf14980b6de52c6f192e52ceeefb6708_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjdf14980b6de52c6f192e52ceeefb6708_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjdf14980b6de52c6f192e52ceeefb6708_Decision</name>
        <label>JB_SalesforceObjdf14980b6de52c6f192e52ceeefb6708_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjdf14980b6de52c6f192e52ceeefb6708</name>
            <conditionLogic>(1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Registration_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Online With OTC Returned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjdf14980b6de52c6f192e52ceeefb6708_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjdf14980b6de52c6f192e52ceeefb6708</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjdf14980b6de52c6f192e52ceeefb6708_State_change_Decision</name>
        <label>JB_SalesforceObjdf14980b6de52c6f192e52ceeefb6708_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjdf14980b6de52c6f192e52ceeefb6708</name>
            <conditionLogic>NOT  (1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Registration_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Online With OTC Returned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjdf14980b6de52c6f192e52ceeefb6708_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjdf14980b6de52c6f192e52ceeefb6708</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Account</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObjdf14980b6de52c6f192e52ceeefb6708</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
