force-app/main/default/flows/JBSystemFlow_Asset.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj279a8c3f244fc44bfa168baaca039c4a_FireJBTrigger</name>
        <label>SalesforceObj279a8c3f244fc44bfa168baaca039c4a_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj8000e3e8ba56b66f937c54782764f6a4</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj8000e3e8ba56b66f937c54782764f6a4</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;ContactId&quot;,&quot;relationshipName&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Asset</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj279a8c3f244fc44bfa168baaca039c4a</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>10920771</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Asset:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Account_Name__c&quot;,&quot;Account_Legacy_Id__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact&quot;,&quot;dePrefix&quot;:&quot;Asset:Contact:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;FirstName&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj8000e3e8ba56b66f937c54782764f6a4_FireJBTrigger</name>
        <label>SalesforceObj8000e3e8ba56b66f937c54782764f6a4_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{
  &quot;relationshipIdName&quot;: &quot;ContactId&quot;,
  &quot;relationshipName&quot;: &quot;Contact&quot;,
  &quot;isPolymorphic&quot;: false,
  &quot;referenceObjectName&quot;: &quot;Contact&quot;,
  &quot;fieldName&quot;: &quot;Id&quot;
}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Asset</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj8000e3e8ba56b66f937c54782764f6a4</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>10920771</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Asset:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Status&quot;,&quot;Product_Name__c&quot;,&quot;Account_Legacy_Id__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact&quot;,&quot;dePrefix&quot;:&quot;Asset:Contact:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;Status__c&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObja95cfbf006f01ccc0917440cf0a33820_FireJBTrigger</name>
        <label>SalesforceObja95cfbf006f01ccc0917440cf0a33820_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj279a8c3f244fc44bfa168baaca039c4a</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj279a8c3f244fc44bfa168baaca039c4a</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;ContactId&quot;,&quot;relationshipName&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Asset</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObja95cfbf006f01ccc0917440cf0a33820</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>10920771</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Asset:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;InstallDate&quot;,&quot;Product_Name__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact&quot;,&quot;dePrefix&quot;:&quot;Asset:Contact:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;FirstName&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;Contact_Report_ID__c&quot;,&quot;Salesforce_Integ_Id__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Account&quot;,&quot;dePrefix&quot;:&quot;Asset:Account:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;PersonEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj279a8c3f244fc44bfa168baaca039c4a</name>
        <label>JB_Decision_Null_Check_SalesforceObj279a8c3f244fc44bfa168baaca039c4a</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj8000e3e8ba56b66f937c54782764f6a4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj279a8c3f244fc44bfa168baaca039c4a_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj8000e3e8ba56b66f937c54782764f6a4</targetReference>
            </connector>
            <label>JB_SalesforceObj279a8c3f244fc44bfa168baaca039c4a_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj279a8c3f244fc44bfa168baaca039c4a_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj279a8c3f244fc44bfa168baaca039c4a_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj279a8c3f244fc44bfa168baaca039c4a_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj8000e3e8ba56b66f937c54782764f6a4</name>
        <label>JB_Decision_Null_Check_SalesforceObj8000e3e8ba56b66f937c54782764f6a4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj8000e3e8ba56b66f937c54782764f6a4_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObj8000e3e8ba56b66f937c54782764f6a4_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj8000e3e8ba56b66f937c54782764f6a4_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj8000e3e8ba56b66f937c54782764f6a4_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj8000e3e8ba56b66f937c54782764f6a4_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObja95cfbf006f01ccc0917440cf0a33820</name>
        <label>JB_Decision_Null_Check_SalesforceObja95cfbf006f01ccc0917440cf0a33820</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj279a8c3f244fc44bfa168baaca039c4a</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObja95cfbf006f01ccc0917440cf0a33820_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj279a8c3f244fc44bfa168baaca039c4a</targetReference>
            </connector>
            <label>JB_SalesforceObja95cfbf006f01ccc0917440cf0a33820_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObja95cfbf006f01ccc0917440cf0a33820_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObja95cfbf006f01ccc0917440cf0a33820_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObja95cfbf006f01ccc0917440cf0a33820_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj279a8c3f244fc44bfa168baaca039c4a_Decision</name>
        <label>JB_SalesforceObj279a8c3f244fc44bfa168baaca039c4a_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj8000e3e8ba56b66f937c54782764f6a4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj279a8c3f244fc44bfa168baaca039c4a</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IETandC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj279a8c3f244fc44bfa168baaca039c4a_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj279a8c3f244fc44bfa168baaca039c4a</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj8000e3e8ba56b66f937c54782764f6a4_Decision</name>
        <label>JB_SalesforceObj8000e3e8ba56b66f937c54782764f6a4_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj8000e3e8ba56b66f937c54782764f6a4</name>
            <conditionLogic>( (1 AND 2)  And  (3 AND 4) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSRTandC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Product_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TandC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Contact.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj8000e3e8ba56b66f937c54782764f6a4_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj8000e3e8ba56b66f937c54782764f6a4</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObja95cfbf006f01ccc0917440cf0a33820_Decision</name>
        <label>JB_SalesforceObja95cfbf006f01ccc0917440cf0a33820_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj279a8c3f244fc44bfa168baaca039c4a</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObja95cfbf006f01ccc0917440cf0a33820</name>
            <conditionLogic>( (1 AND 2)  And  (3 AND 4) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSRTandC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Product_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TandC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Contact.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObja95cfbf006f01ccc0917440cf0a33820_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObja95cfbf006f01ccc0917440cf0a33820</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Asset</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObja95cfbf006f01ccc0917440cf0a33820</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
</Flow>
