force-app/main/default/flows/JBSystemFlow_Authorization_Rule_c.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj10e7c2c4396b04802ca4f9bb1fc99922_FireJBTrigger</name>
        <label>SalesforceObj10e7c2c4396b04802ca4f9bb1fc99922_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj465ea03baa1d19af98bb2f817be42170</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj465ea03baa1d19af98bb2f817be42170</targetReference>
        </faultConnector>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Contact__c&quot;,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Authorization_Rule__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj10e7c2c4396b04802ca4f9bb1fc99922</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>10920771</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Authorization_Rule__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;dePrefix&quot;:&quot;Authorization_Rule__c:Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Email&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;AccountId&quot;,&quot;MobilePhone&quot;,&quot;HasOptedOutOfEmail&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Account__r&quot;,&quot;dePrefix&quot;:&quot;Authorization_Rule__c:Account__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;LEGACY_ID__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj465ea03baa1d19af98bb2f817be42170_FireJBTrigger</name>
        <label>SalesforceObj465ea03baa1d19af98bb2f817be42170_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Contact__c&quot;,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Authorization_Rule__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj465ea03baa1d19af98bb2f817be42170</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>10920771</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Authorization_Rule__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;dePrefix&quot;:&quot;Authorization_Rule__c:Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;MobilePhone&quot;,&quot;HasOptedOutOfEmail&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Account__r&quot;,&quot;dePrefix&quot;:&quot;Authorization_Rule__c:Account__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;LEGACY_ID__c&quot;,&quot;Legal_Name__c&quot;,&quot;LegalLastName__pc&quot;,&quot;LegalFirstName__pc&quot;,&quot;Preferred_Name__pc&quot;,&quot;Account_Owner_Name__pc&quot;,&quot;Primary_Organisation__pc&quot;,&quot;Organisation_Trading_Name__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj10e7c2c4396b04802ca4f9bb1fc99922</name>
        <label>JB_Decision_Null_Check_SalesforceObj10e7c2c4396b04802ca4f9bb1fc99922</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj465ea03baa1d19af98bb2f817be42170</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj10e7c2c4396b04802ca4f9bb1fc99922_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj465ea03baa1d19af98bb2f817be42170</targetReference>
            </connector>
            <label>JB_SalesforceObj10e7c2c4396b04802ca4f9bb1fc99922_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj10e7c2c4396b04802ca4f9bb1fc99922_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj10e7c2c4396b04802ca4f9bb1fc99922_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj10e7c2c4396b04802ca4f9bb1fc99922_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj465ea03baa1d19af98bb2f817be42170</name>
        <label>JB_Decision_Null_Check_SalesforceObj465ea03baa1d19af98bb2f817be42170</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj465ea03baa1d19af98bb2f817be42170_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObj465ea03baa1d19af98bb2f817be42170_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj465ea03baa1d19af98bb2f817be42170_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj465ea03baa1d19af98bb2f817be42170_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj465ea03baa1d19af98bb2f817be42170_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj465ea03baa1d19af98bb2f817be42170_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj465ea03baa1d19af98bb2f817be42170_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj465ea03baa1d19af98bb2f817be42170_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj10e7c2c4396b04802ca4f9bb1fc99922_Decision</name>
        <label>JB_SalesforceObj10e7c2c4396b04802ca4f9bb1fc99922_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj465ea03baa1d19af98bb2f817be42170</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj10e7c2c4396b04802ca4f9bb1fc99922</name>
            <conditionLogic>(1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.AccessRole__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Secure RF User</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj10e7c2c4396b04802ca4f9bb1fc99922_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj10e7c2c4396b04802ca4f9bb1fc99922</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj465ea03baa1d19af98bb2f817be42170_Decision</name>
        <label>JB_SalesforceObj465ea03baa1d19af98bb2f817be42170_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj465ea03baa1d19af98bb2f817be42170</name>
            <conditionLogic>(1 AND  ( (2 OR 3)  OR 4) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.AccessRole__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WFV_ADMIN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.AccessRole__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WFV_FULL_ACCESS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.AccessRole__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WFV_RESTRICTED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj465ea03baa1d19af98bb2f817be42170_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj465ea03baa1d19af98bb2f817be42170</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj465ea03baa1d19af98bb2f817be42170_State_change_Decision</name>
        <label>JB_SalesforceObj465ea03baa1d19af98bb2f817be42170_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj465ea03baa1d19af98bb2f817be42170</name>
            <conditionLogic>NOT  (1 AND  ( (2 OR 3)  OR 4) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.AccessRole__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WFV_ADMIN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.AccessRole__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WFV_FULL_ACCESS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.AccessRole__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WFV_RESTRICTED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj465ea03baa1d19af98bb2f817be42170_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj465ea03baa1d19af98bb2f817be42170</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Authorization_Rule_c</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObj10e7c2c4396b04802ca4f9bb1fc99922</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Authorization_Rule__c</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Authorization_Rule__c</objectType>
    </variables>
</Flow>
