force-app/main/default/flows/JBSystemFlow_NetworkMember.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj147807bc922449b3a78a529fe890e24a_FireJBTrigger</name>
        <label>SalesforceObj147807bc922449b3a78a529fe890e24a_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{
  &quot;relationshipIdName&quot;: &quot;Id&quot;,
  &quot;relationshipName&quot;: &quot;Member&quot;,
  &quot;isPolymorphic&quot;: false,
  &quot;referenceObjectName&quot;: &quot;User&quot;
}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>NetworkMember</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj147807bc922449b3a78a529fe890e24a</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>10920771</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>User</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;NetworkMember:&quot;,&quot;fields&quot;:[&quot;Id&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Member&quot;,&quot;dePrefix&quot;:&quot;NetworkMember:Member:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;ContactId&quot;,&quot;FirstName&quot;,&quot;CreatedDate&quot;,&quot;CommunityNickname&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj147807bc922449b3a78a529fe890e24a</name>
        <label>JB_Decision_Null_Check_SalesforceObj147807bc922449b3a78a529fe890e24a</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj147807bc922449b3a78a529fe890e24a_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObj147807bc922449b3a78a529fe890e24a_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj147807bc922449b3a78a529fe890e24a_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj147807bc922449b3a78a529fe890e24a_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj147807bc922449b3a78a529fe890e24a_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj147807bc922449b3a78a529fe890e24a_Decision</name>
        <label>JB_SalesforceObj147807bc922449b3a78a529fe890e24a_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj147807bc922449b3a78a529fe890e24a</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.NetworkId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0DB90000000blsdGAA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj147807bc922449b3a78a529fe890e24a_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj147807bc922449b3a78a529fe890e24a</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_NetworkMember</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObj147807bc922449b3a78a529fe890e24a</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>NetworkMember</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>NetworkMember</objectType>
    </variables>
</Flow>
