force-app/main/default/flows/Legal_Support_Req_Status_Age.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isChangedDecision2_myRule_1_Status_c</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>isChangedDecision2_myRule_1_Status_c</name>
        <label>isChangedDecision2_myRule_1_Status_c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>isChangedRule_2_myRule_1_Status_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_old.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>myVariable_current.Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision</targetReference>
            </connector>
            <label>isChangedRule_2_myRule_1_Status_c</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>isChangedRule_2_myRule_1_Status_c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Status Updated</label>
        </rules>
    </decisions>
    <description>Provided calculations and field updates to track Legal Support Request status changes</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>Today()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A1_1591763098</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CASE(MOD( TODAY() - IF(ISPICKVAL([ContractAssistanceForm__c].Status__c , &apos;New&apos;), DATEVALUE([ContractAssistanceForm__c].CreatedDate), PRIORVALUE([ContractAssistanceForm__c].Last_Status_Update__c)),7),
0 , CASE( MOD( TODAY() - IF(ISPICKVAL([ContractAssistanceForm__c].Status__c , &apos;New&apos;), DATEVALUE([ContractAssistanceForm__c].CreatedDate) , PRIORVALUE([ContractAssistanceForm__c].Last_Status_Update__c)), 7),1,2,2,3,3,4,4,5,5,5,6,5,1),
1 , CASE( MOD( TODAY() - IF(ISPICKVAL([ContractAssistanceForm__c].Status__c , &apos;New&apos;), DATEVALUE([ContractAssistanceForm__c].CreatedDate) , PRIORVALUE([ContractAssistanceForm__c].Last_Status_Update__c)), 7),1,2,2,3,3,4,4,4,5,4,6,5,1),
2 , CASE( MOD( TODAY() - IF(ISPICKVAL([ContractAssistanceForm__c].Status__c , &apos;New&apos;), DATEVALUE([ContractAssistanceForm__c].CreatedDate), PRIORVALUE([ContractAssistanceForm__c].Last_Status_Update__c)), 7),1,2,2,3,3,3,4,3,5,4,6,5,1),
3 , CASE( MOD( TODAY() - IF(ISPICKVAL([ContractAssistanceForm__c].Status__c , &apos;New&apos;), DATEVALUE([ContractAssistanceForm__c].CreatedDate) , PRIORVALUE([ContractAssistanceForm__c].Last_Status_Update__c)), 7),1,2,2,2,3,2,4,3,5,4,6,5,1),
4 , CASE( MOD( TODAY() - IF(ISPICKVAL([ContractAssistanceForm__c].Status__c , &apos;New&apos;), DATEVALUE([ContractAssistanceForm__c].CreatedDate), PRIORVALUE([ContractAssistanceForm__c].Last_Status_Update__c)), 7),1,1,2,1,3,2,4,3,5,4,6,5,1),
5 , CASE( MOD( TODAY() - IF(ISPICKVAL([ContractAssistanceForm__c].Status__c , &apos;New&apos;), DATEVALUE([ContractAssistanceForm__c].CreatedDate) , PRIORVALUE([ContractAssistanceForm__c].Last_Status_Update__c)), 7),1,0,2,1,3,2,4,3,5,4,6,5,0),
6 , CASE( MOD( TODAY() - IF(ISPICKVAL([ContractAssistanceForm__c].Status__c , &apos;New&apos;), DATEVALUE([ContractAssistanceForm__c].CreatedDate) , PRIORVALUE([ContractAssistanceForm__c].Last_Status_Update__c)), 7),1,1,2,2,3,3,4,4,5,5,6,5,0),
999)
+
(FLOOR(( TODAY() - IF(ISPICKVAL([ContractAssistanceForm__c].Status__c , &apos;New&apos;), DATEVALUE([ContractAssistanceForm__c].CreatedDate) , PRIORVALUE([ContractAssistanceForm__c].Last_Status_Update__c)))/7)*5)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_1_A1_0187926219</name>
        <dataType>Number</dataType>
        <expression>CASE(MOD( TODAY() - IF(ISPICKVAL({!myVariable_current.Status__c} , &apos;New&apos;), DATEVALUE({!myVariable_current.CreatedDate}), PRIORVALUE({!myVariable_current.Last_Status_Update__c})),7),
0 , CASE( MOD( TODAY() - IF(ISPICKVAL({!myVariable_current.Status__c} , &apos;New&apos;), DATEVALUE({!myVariable_current.CreatedDate}) , PRIORVALUE({!myVariable_current.Last_Status_Update__c})), 7),1,2,2,3,3,4,4,5,5,5,6,5,1),
1 , CASE( MOD( TODAY() - IF(ISPICKVAL({!myVariable_current.Status__c} , &apos;New&apos;), DATEVALUE({!myVariable_current.CreatedDate}) , PRIORVALUE({!myVariable_current.Last_Status_Update__c})), 7),1,2,2,3,3,4,4,4,5,4,6,5,1),
2 , CASE( MOD( TODAY() - IF(ISPICKVAL({!myVariable_current.Status__c} , &apos;New&apos;), DATEVALUE({!myVariable_current.CreatedDate}), PRIORVALUE({!myVariable_current.Last_Status_Update__c})), 7),1,2,2,3,3,3,4,3,5,4,6,5,1),
3 , CASE( MOD( TODAY() - IF(ISPICKVAL({!myVariable_current.Status__c} , &apos;New&apos;), DATEVALUE({!myVariable_current.CreatedDate}) , PRIORVALUE({!myVariable_current.Last_Status_Update__c})), 7),1,2,2,2,3,2,4,3,5,4,6,5,1),
4 , CASE( MOD( TODAY() - IF(ISPICKVAL({!myVariable_current.Status__c} , &apos;New&apos;), DATEVALUE({!myVariable_current.CreatedDate}), PRIORVALUE({!myVariable_current.Last_Status_Update__c})), 7),1,1,2,1,3,2,4,3,5,4,6,5,1),
5 , CASE( MOD( TODAY() - IF(ISPICKVAL({!myVariable_current.Status__c} , &apos;New&apos;), DATEVALUE({!myVariable_current.CreatedDate}) , PRIORVALUE({!myVariable_current.Last_Status_Update__c})), 7),1,0,2,1,3,2,4,3,5,4,6,5,0),
6 , CASE( MOD( TODAY() - IF(ISPICKVAL({!myVariable_current.Status__c} , &apos;New&apos;), DATEVALUE({!myVariable_current.CreatedDate}) , PRIORVALUE({!myVariable_current.Last_Status_Update__c})), 7),1,1,2,2,3,3,4,4,5,5,6,5,0),
999)
+
(FLOOR(( TODAY() - IF(ISPICKVAL({!myVariable_current.Status__c} , &apos;New&apos;), DATEVALUE({!myVariable_current.CreatedDate}) , PRIORVALUE({!myVariable_current.Last_Status_Update__c})))/7)*5)</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>TEXT(PRIORVALUE([ContractAssistanceForm__c].Status__c ))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_1_A1_8730681518</name>
        <dataType>String</dataType>
        <expression>TEXT(PRIORVALUE({!myVariable_current.Status__c} ))</expression>
    </formulas>
    <interviewLabel>Legal_Support_Req_Status_Age-15_InterviewLabel</interviewLabel>
    <label>Legal Support Req Status Age</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>ContractAssistanceForm__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[ContractAssistanceForm__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Values</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Last Status Update</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Last_Status_Update__c</field>
            <value>
                <elementReference>formula_3_myRule_1_A1_1591763098</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Stage Days</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Stage_Days__c</field>
            <value>
                <elementReference>formula_4_myRule_1_A1_0187926219</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status Change</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Status_Change__c</field>
            <value>
                <elementReference>formula_5_myRule_1_A1_8730681518</elementReference>
            </value>
        </inputAssignments>
        <object>ContractAssistanceForm__c</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContractAssistanceForm__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractAssistanceForm__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
