force-app/main/default/flows/NBA_Organisation_Action_Handler_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>RecommendationAccepted</name>
        <label>RecommendationAccepted?</label>
        <locationX>490</locationX>
        <locationY>116</locationY>
        <defaultConnector>
            <targetReference>UpdateDesc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isRecommendationAccepted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Competitive_Landscape</targetReference>
            </connector>
            <label>Accepted</label>
        </rules>
    </decisions>
    <description>22-June-2021 MC - Created for prototype purposes.</description>
    <interviewLabel>NBA - Organisation Action Handler 2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NBA - Organisation Action Handler 2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>UpdateDesc</name>
        <label>UpdateDesc</label>
        <locationX>784</locationX>
        <locationY>313</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Organisation_Alternate_Name__c</field>
            <value>
                <elementReference>isRecommendationAccepted</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Customer_Competitive_Landscape</name>
        <label>Customer Competitive Landscape</label>
        <locationX>784</locationX>
        <locationY>109</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateDesc</targetReference>
        </connector>
        <fields>
            <name>Test</name>
            <fieldText>&lt;p&gt;Capture Customer Competitive Landscape Here&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sample_Text</name>
            <dataType>String</dataType>
            <fieldText>Sample Text</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>67</locationX>
        <locationY>95</locationY>
        <connector>
            <targetReference>RecommendationAccepted</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>isRecommendationAccepted</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
