force-app/main/default/flows/Partner_Info_Update_Partner_Addendum_Dates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>IsIncomingLicenceValid</name>
        <label>IsIncomingLicenceValid</label>
        <locationX>49</locationX>
        <locationY>23</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IncomingLicenceValid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IncomingLicence</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Start_Date_of_Incoming_Licence_Partner_Addendums_without_Term</targetReference>
            </connector>
            <label>IncomingLicenceValid</label>
        </rules>
    </decisions>
    <description>Updates Start Date or End Date of Partner Addendums</description>
    <interviewLabel>Partner Info - Update Partner Addendum Dates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Partner Info - Update Partner Addendum Dates</label>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Approval_Status_of_Incoming_Licence_Insurance_Partner_Addendums</name>
        <label>Update Approval Status of Incoming Licence Insurance Partner Addendums</label>
        <locationX>501</locationX>
        <locationY>165</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Licence__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncomingLicence.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Insurance</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <stringValue>Approved via Licence</stringValue>
            </value>
        </inputAssignments>
        <object>Partner_Addendum__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Start_Date_of_Incoming_Licence_Partner_Addendums_without_Term</name>
        <label>Update Dates and Status of Incoming Licence Partner Addendums without Term and not Seasonal Variation or Insurance</label>
        <locationX>48</locationX>
        <locationY>163</locationY>
        <connector>
            <targetReference>Update_Startdate_of_Incoming_Licence_Partner_Addendums_with_Term</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Licence__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncomingLicence.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Seasonal Variation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Insurance</stringValue>
            </value>
        </filters>
        <filters>
            <field>Term__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <stringValue>Approved via Licence</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Partner_Addendum__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Startdate_of_Incoming_Licence_Partner_Addendums_with_Term</name>
        <label>Update Dates and Status of Incoming Licence Partner Addendums with Term and not Seasonal Variation  or Insurance</label>
        <locationX>200</locationX>
        <locationY>162</locationY>
        <connector>
            <targetReference>Update_Status_of_Incoming_Licence_Seasonal_Variation_Partner_Addendums</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Licence__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncomingLicence.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Seasonal Variation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Insurance</stringValue>
            </value>
        </filters>
        <filters>
            <field>Term__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <stringValue>Approved via Licence</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Partner_Addendum__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_of_Incoming_Licence_Seasonal_Variation_Partner_Addendums</name>
        <label>Update Status of Incoming Licence Seasonal Variation Partner Addendums</label>
        <locationX>351</locationX>
        <locationY>163</locationY>
        <connector>
            <targetReference>Update_Approval_Status_of_Incoming_Licence_Insurance_Partner_Addendums</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Licence__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncomingLicence.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Seasonal Variation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Insurance</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <stringValue>Approved via Licence</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Partner_Addendum__c</object>
    </recordUpdates>
    <startElementReference>IsIncomingLicenceValid</startElementReference>
    <status>Active</status>
    <variables>
        <name>EndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IncomingLicence</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>StartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
