force-app/main/default/flows/Retail_Fulfilment_Support_Default_Entitlement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <description>Defaults the Retail Fulfilment &amp; Support SLA on all new cases matching the Retail Record Type</description>
    <label>Retail Fulfilment &amp; Support - Default Entitlement</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Retrieve_Retail_Record_Type_Id</name>
        <label>Retrieve Retail Record Type Id</label>
        <locationX>256</locationX>
        <locationY>172</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Entitlement_On_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Retail_Fulfilment_Support</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>CaseRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_RetailFulfilmentEntitlementId</name>
        <label>Retrieve RetailFulfilmentEntitlementId</label>
        <locationX>255</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Retrieve_Retail_Record_Type_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Retail Fulfilment SLA</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputAssignments>
            <assignToReference>EntitlementId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Set_Entitlement_On_Case</name>
        <label>Set Entitlement On Case</label>
        <locationX>255</locationX>
        <locationY>288</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecordTypeId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>EntitlementId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>Retrieve_RetailFulfilmentEntitlementId</startElementReference>
    <status>Active</status>
    <variables>
        <name>CaseRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Entitlement Id for Retail Fulfilment SLA</description>
        <name>EntitlementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
