force-app/main/default/flows/SalesCadenceManagerFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_Target</name>
        <label>Add Target</label>
        <locationX>50</locationX>
        <locationY>314</locationY>
        <actionName>assignTargetToSalesCadenceNotFound</actionName>
        <inputParameters>
            <name>salesCadenceNameOrId</name>
            <value>
                <elementReference>$Record.CadenceNameOrId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.TargetId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>$Record.UserId__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Change_Sales_Cadence_Target_Assignee</name>
        <label>Change Sales Cadence Target Assignee</label>
        <locationX>1106</locationX>
        <locationY>314</locationY>
        <actionName>changeSalesCadenceTargetAssigneeNotFound</actionName>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.TargetId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>$Record.UserId__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Pause_Target</name>
        <label>Pause Target</label>
        <locationX>842</locationX>
        <locationY>314</locationY>
        <actionName>pauseSalesCadenceTrackerNotFound</actionName>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.TargetId__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Remove_Target</name>
        <label>Remove Target</label>
        <locationX>314</locationX>
        <locationY>314</locationY>
        <actionName>removeTargetFromSalesCadenceNotFound</actionName>
        <inputParameters>
            <name>completionReasonCode</name>
            <value>
                <elementReference>$Record.CompletionReason__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.TargetId__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Resume_Target</name>
        <label>Resume Target</label>
        <locationX>578</locationX>
        <locationY>314</locationY>
        <actionName>resumeSalesCadenceTrackerNotFound</actionName>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.TargetId__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Cadence_Action</name>
        <label>Cadence Action</label>
        <locationX>710</locationX>
        <locationY>194</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_Target_To_Cadence</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ActionType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AddToCadence</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Target</targetReference>
            </connector>
            <label>Add Target To Cadence</label>
        </rules>
        <rules>
            <name>Remove_Target_From_Cadence</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ActionType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RemoveTarget</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Target</targetReference>
            </connector>
            <label>Remove Target From Cadence</label>
        </rules>
        <rules>
            <name>Resume_Target_From_Cadence</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ActionType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ResumeTarget</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resume_Target</targetReference>
            </connector>
            <label>Resume Target From Cadence</label>
        </rules>
        <rules>
            <name>Pause_Target_From_Cadence</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ActionType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PauseTarget</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pause_Target</targetReference>
            </connector>
            <label>Pause Target From Cadence</label>
        </rules>
        <rules>
            <name>Change_Target_Assignee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ActionType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ChangeTargetAssignee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Sales_Cadence_Target_Assignee</targetReference>
            </connector>
            <label>Change Target Assignee</label>
        </rules>
    </decisions>
    <interviewLabel>SalesCadenceManagerFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales Cadence Manager Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Cadence_Action</targetReference>
        </connector>
        <object>SalesCadenceEvent__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Completion_Reason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Sales_Cadence_Action</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SalesCadenceNameOrId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TargetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
