force-app/main/default/flows/Send_Business_Sales_Implementation_Survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Customer_Survey</name>
        <label>Send Customer Survey</label>
        <locationX>424</locationX>
        <locationY>590</locationY>
        <actionName>Case.Business_Sales_Implementation_Customer_Survey</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Comment_Customer_Survey</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Business_Sales_Implementation_Customer_Survey</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Internal_Survey</name>
        <label>Send Internal Survey</label>
        <locationX>1069</locationX>
        <locationY>581</locationY>
        <actionName>Case.Business_Sales_Implementation_Internal_Survey</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Comment_Internal_Survey</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Business_Sales_Implementation_Internal_Survey</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>ConsentNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ConsentYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Customer</name>
        <choiceText>Customer</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Internal</name>
        <choiceText>Internal</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Case_Data_Integrity_Check</name>
        <label>Case Data Integrity Check</label>
        <locationX>410</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Valid_Case_Data</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIscCaseClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TRUE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Step_1_Survey_Type</targetReference>
            </connector>
            <label>Valid Case Data</label>
        </rules>
        <rules>
            <name>Invalid_Case_Data</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varIscCaseClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FALSE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_Send_Survey</targetReference>
            </connector>
            <label>Invalid Case Data</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Valid_Contact</name>
        <label>Check for Valid Contact</label>
        <locationX>718</locationX>
        <locationY>406</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Valid_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Customer_Survey</targetReference>
            </connector>
            <label>Valid Contact</label>
        </rules>
        <rules>
            <name>Invalid_Contact</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_Send_Survey</targetReference>
            </connector>
            <label>Invalid Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Valid_Requestor</name>
        <label>Check for Valid Requestor</label>
        <locationX>1063</locationX>
        <locationY>406</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Valid_Requestor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRequestor</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Internal_Survey</targetReference>
            </connector>
            <label>Valid Requestor</label>
        </rules>
        <rules>
            <name>Invalid_Requestor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRequestor</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_Send_Survey</targetReference>
            </connector>
            <label>Invalid Requestor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Customer_Consent_Result</name>
        <label>Customer Consent Result</label>
        <locationX>719</locationX>
        <locationY>279</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConsentYes</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Valid_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConsentNo</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Step_1_Survey_Type</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>GroupMember_Check</name>
        <label>GroupMember Check</label>
        <locationX>156</locationX>
        <locationY>303</locationY>
        <defaultConnector>
            <targetReference>Cannot_Send_Survey</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Group_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BSI_Group_Member</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Case</targetReference>
            </connector>
            <label>Is Group Member</label>
        </rules>
    </decisions>
    <decisions>
        <name>Survey_Selected</name>
        <label>Survey Selected</label>
        <locationX>1058</locationX>
        <locationY>161</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Customer_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Customer</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Consent</targetReference>
            </connector>
            <label>Customer Survey</label>
        </rules>
        <rules>
            <name>Internal_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Internal</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Valid_Requestor</targetReference>
            </connector>
            <label>Internal Survey</label>
        </rules>
    </decisions>
    <description>V 1 Business Sales Implmenentation Flow designed to be invoked manually by a user (via button on a BSI case) that provides the ability to send 1 of 2 survey types via Email</description>
    <formulas>
        <description>Identifies the running user</description>
        <name>RunningUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Send Business Sales Implementation Survey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Business Sales Implementation Survey</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Comment_Customer_Survey</name>
        <label>Create Comment - Customer Survey</label>
        <locationX>423</locationX>
        <locationY>725</locationY>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <inputAssignments>
            <field>CommentBody</field>
            <value>
                <stringValue>Customer Survey Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>CaseComment</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Comment_Internal_Survey</name>
        <label>Create Comment - Internal Survey</label>
        <locationX>1071</locationX>
        <locationY>719</locationY>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <inputAssignments>
            <field>CommentBody</field>
            <value>
                <stringValue>Internal Survey Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>CaseComment</object>
    </recordCreates>
    <recordLookups>
        <name>BSI_Group_Member</name>
        <label>BSI Group Member</label>
        <locationX>148</locationX>
        <locationY>115</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GroupMember_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00G90000002VEW6</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRunningUser</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Case</name>
        <label>Lookup Case</label>
        <locationX>411</locationX>
        <locationY>301</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Data_Integrity_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>varContactEmail</assignToReference>
            <field>ContactEmail</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContactID</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varIscCaseClosed</assignToReference>
            <field>IsClosed</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varRequestor</assignToReference>
            <field>Requestor__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Cannot_Send_Survey</name>
        <label>Cannot Send Survey</label>
        <locationX>721</locationX>
        <locationY>560</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CannotSendSurveyError</name>
            <fieldText>The {!Survey_Type} Survey cannot be sent due 1 or more of the following reasons:

1. Case Status is not &quot;Closed&quot;
2. For Internal Survey, &quot;Requestor&quot; is not populated on the case or does not have a valid Email address
3. For Customer Survey, &quot;Contact&quot; is not populated on the case or does not have a valid Email address
4. User attempting to send the survey is not a member of the Business Sales Implementation Team</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation:</label>
        <locationX>726</locationX>
        <locationY>724</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EmailSent</name>
            <fieldText>Thankyou. Your survey Email has been sent.


Click Finish to close.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Customer_Consent</name>
        <label>Customer Consent Check</label>
        <locationX>891</locationX>
        <locationY>279</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Customer_Consent_Result</targetReference>
        </connector>
        <fields>
            <name>Did_the_customer_provide_consent_to_send_survey</name>
            <choiceReferences>ConsentYes</choiceReferences>
            <choiceReferences>ConsentNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Did the customer provide consent to send survey?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Step_1_Survey_Type</name>
        <label>Please select survey type:</label>
        <locationX>717</locationX>
        <locationY>159</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Survey_Selected</targetReference>
        </connector>
        <fields>
            <name>Survey_Type</name>
            <choiceReferences>Customer</choiceReferences>
            <choiceReferences>Internal</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Survey Type:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>BSI_Group_Member</startElementReference>
    <status>Active</status>
    <variables>
        <name>DummyV</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varGroupMember</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varIscCaseClosed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRequestor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRunningUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>RunningUser</elementReference>
        </value>
    </variables>
</Flow>
