force-app/main/default/flows/Send_AP_Sales_Implementation_Survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Send_Customer_Mid_Implementation_Survey</name>
        <label>Send Customer Mid Implementation Survey</label>
        <locationX>1382</locationX>
        <locationY>38</locationY>
        <actionName>Case.AP_Sales_Implementation_Mid_Implementation_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Send_Requestor_Mid_Implementation_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.AP_Sales_Implementation_Mid_Implementation_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Customer_Post_Implementation_Survey</name>
        <label>Send Customer Post Implementation Survey</label>
        <locationX>615</locationX>
        <locationY>430</locationY>
        <actionName>Case.AP_Sales_Implementation_Post_Implementation_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Send_Requestor_Post_Implementation_Survey</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.AP_Sales_Implementation_Post_Implementation_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Requestor_Mid_Implementation_Email</name>
        <label>Send Requestor Mid Implementation Email</label>
        <locationX>1385</locationX>
        <locationY>440</locationY>
        <actionName>Case.E_G_Sales_Implementation_Mid_Implementation_Email_for_Requestor</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Mid_Imp_Survey_Sent_Date_Update</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.E_G_Sales_Implementation_Mid_Implementation_Email_for_Requestor</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Requestor_Post_Implementation_Survey</name>
        <label>Send Requestor Post Implementation Survey</label>
        <locationX>396</locationX>
        <locationY>425</locationY>
        <actionName>Case.E_G_Sales_Implementation_Post_Implementation_Email_for_Requestor</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Post_Imp_Survey_Sent_Data_Update</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.E_G_Sales_Implementation_Post_Implementation_Email_for_Requestor</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>ConsentNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ConsentYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Customer</name>
        <choiceText>Customer</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Internal</name>
        <choiceText>Internal</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Case_Data_Integrity_Check</name>
        <label>Case Data Integrity Check</label>
        <locationX>905</locationX>
        <locationY>438</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Valid_Case_Data</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIscCaseClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TRUE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Customer_Post_Implementation_Survey</targetReference>
            </connector>
            <label>Post Implementation Case Data</label>
        </rules>
        <rules>
            <name>Invalid_Case_Data</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varIscCaseClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FALSE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mid_Implementation_Case_Data</targetReference>
            </connector>
            <label>Mid Implementation Case Data</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Valid_Contact</name>
        <label>Check for Valid Contact</label>
        <locationX>903</locationX>
        <locationY>28</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Valid_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Valid_Requestor</targetReference>
            </connector>
            <label>Valid Contact</label>
        </rules>
        <rules>
            <name>Invalid_Contact</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_Send_Survey</targetReference>
            </connector>
            <label>Invalid Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Valid_Requestor</name>
        <label>Check for Valid Requestor</label>
        <locationX>902</locationX>
        <locationY>236</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Valid_Requestor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRequestor</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Data_Integrity_Check</targetReference>
            </connector>
            <label>Valid Requestor</label>
        </rules>
        <rules>
            <name>Invalid_Requestor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRequestor</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_Send_Survey</targetReference>
            </connector>
            <label>Invalid Requestor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Customer_Consent_Result</name>
        <label>Customer Consent Result</label>
        <locationX>616</locationX>
        <locationY>28</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConsentYes</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Valid_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConsentNo</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_Send_Survey</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>GroupMember_Check</name>
        <label>GroupMember Check</label>
        <locationX>157</locationX>
        <locationY>239</locationY>
        <defaultConnector>
            <targetReference>Cannot_Send_Survey</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Group_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BSI_Group_Member</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Case</targetReference>
            </connector>
            <label>Is Group Member</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mid_Implementation_Case_Data</name>
        <label>Mid Implementation Case Data</label>
        <locationX>1205</locationX>
        <locationY>440</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Valid_Mid_Implementation</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varStageImplement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Implement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Customer_Mid_Implementation_Survey</targetReference>
            </connector>
            <label>Valid Mid Implementation</label>
        </rules>
        <rules>
            <name>Invalid_Mid_Implementation</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varStageImplement</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Implement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_Send_Mid_Implement</targetReference>
            </connector>
            <label>Invalid Mid Implementation</label>
        </rules>
    </decisions>
    <description>Send GetFeedback Survey for the Australia Post (E&amp;G) Sales Implementation Team</description>
    <dynamicChoiceSets>
        <name>MidImplementStagePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Stage__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <description>Identifies the running user</description>
        <name>RunningUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <description>Formula to calculate today&apos;s date</description>
        <name>TodaysDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <interviewLabel>Send AP Sales Implementation Survey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Sales Implementation Survey</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Comment_Customer_Survey</name>
        <label>Create Comment - Customer Survey</label>
        <locationX>620</locationX>
        <locationY>559</locationY>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <inputAssignments>
            <field>CommentBody</field>
            <value>
                <stringValue>Post Implementation Survey Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>CaseComment</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Comment_Internal_Survey</name>
        <label>Create Comment - Internal Survey</label>
        <locationX>1211</locationX>
        <locationY>557</locationY>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <inputAssignments>
            <field>CommentBody</field>
            <value>
                <stringValue>Mid Implementation Survey Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>CaseComment</object>
    </recordCreates>
    <recordLookups>
        <name>BSI_Group_Member</name>
        <label>BSI Group Member</label>
        <locationX>160</locationX>
        <locationY>25</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GroupMember_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00G90000002FoUy</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRunningUser</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Case</name>
        <label>Lookup Case</label>
        <locationX>394</locationX>
        <locationY>238</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Customer_Consent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012900000015LbZ</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>varContactEmail</assignToReference>
            <field>ContactEmail</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContactID</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varIscCaseClosed</assignToReference>
            <field>IsClosed</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varRecordTypeID</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varRequestor</assignToReference>
            <field>Requestor__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varStageImplement</assignToReference>
            <field>Stage__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Mid_Imp_Survey_Sent_Date_Update</name>
        <label>Mid Imp Survey Sent Date Update</label>
        <locationX>1389</locationX>
        <locationY>561</locationY>
        <connector>
            <targetReference>Create_Comment_Internal_Survey</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Implement</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Survey_Date_Sent__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Post_Imp_Survey_Sent_Data_Update</name>
        <label>Post Imp Survey Sent Data Update</label>
        <locationX>396</locationX>
        <locationY>560</locationY>
        <connector>
            <targetReference>Create_Comment_Customer_Survey</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>UserSurveyDateSent__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Cannot_Send_Mid_Implement</name>
        <label>Cannot Send Mid Implementation Survey</label>
        <locationX>1081</locationX>
        <locationY>31</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CannotSendMidImplement</name>
            <fieldText>The Survey cannot be sent as the Case is not in Implement Stage</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cannot_Send_Survey</name>
        <label>Cannot Send Survey</label>
        <locationX>620</locationX>
        <locationY>236</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CannotSendSurveyError</name>
            <fieldText>The Survey cannot be sent due to 1 or more of the following reasons:

1. The &quot;Requestor&quot; is not populated on the case or does not have a valid Email address
2. The &quot;Contact&quot; is not populated on the case or does not have a valid Email address
3. The Customer has not provided consent to send the survey
4. User attempting to send the survey is not a member of the Sales Implementation Team</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation:</label>
        <locationX>907</locationX>
        <locationY>559</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EmailSent</name>
            <fieldText>Thankyou. Your survey Email has been sent.


Click Finish to close.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Customer_Consent</name>
        <label>Customer Consent Check</label>
        <locationX>393</locationX>
        <locationY>27</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Customer_Consent_Result</targetReference>
        </connector>
        <fields>
            <name>Did_the_customer_provide_consent_to_send_survey</name>
            <choiceReferences>ConsentYes</choiceReferences>
            <choiceReferences>ConsentNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Did the customer provide consent to send survey?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>BSI_Group_Member</startElementReference>
    <status>Active</status>
    <variables>
        <name>DummyV</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SalesEnablementRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>012900000015LbZ</stringValue>
        </value>
    </variables>
    <variables>
        <name>varCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varGroupMember</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varIscCaseClosed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRequestor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRunningUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>RunningUser</elementReference>
        </value>
    </variables>
    <variables>
        <name>varSalesImplementRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>012900000015LbZ</stringValue>
        </value>
    </variables>
    <variables>
        <name>varStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varStageImplement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Implement</stringValue>
        </value>
    </variables>
</Flow>
