force-app/main/default/flows/Send_Business_Sales_Implementation_Survey_DSR.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Customer_Survey</name>
        <label>Send Customer Survey</label>
        <locationX>457</locationX>
        <locationY>600</locationY>
        <actionName>Deal_Support_Request__c.Business_Sales_Implementation_Customer_Survey_DSR</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Activity_Customer_Survey</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Deal_Support_Request__c.Business_Sales_Implementation_Customer_Survey_DSR</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Internal_Survey</name>
        <label>Send Internal Survey</label>
        <locationX>1110</locationX>
        <locationY>589</locationY>
        <actionName>Deal_Support_Request__c.Business_Sales_Implementation_Internal_Survey_DSR</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Activity_Internal_Survey</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Deal_Support_Request__c.Business_Sales_Implementation_Internal_Survey_DSR</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>ConsentNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ConsentYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Customer</name>
        <choiceText>Customer</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Internal</name>
        <choiceText>Internal</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Check_for_Valid_Contact</name>
        <label>Check for Valid Contact</label>
        <locationX>753</locationX>
        <locationY>457</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Valid_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Customer_Survey</targetReference>
            </connector>
            <label>Valid Contact</label>
        </rules>
        <rules>
            <name>Invalid_Contact</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_Send_Survey</targetReference>
            </connector>
            <label>Invalid Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Valid_Requestor</name>
        <label>Check for Valid Requestor</label>
        <locationX>1095</locationX>
        <locationY>406</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Valid_Requestor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRequestor</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Internal_Survey</targetReference>
            </connector>
            <label>Valid Requestor</label>
        </rules>
        <rules>
            <name>Invalid_Requestor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRequestor</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_Send_Survey_0_0_0</targetReference>
            </connector>
            <label>Invalid Requestor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Customer_Consent_Result</name>
        <label>Customer Consent Result</label>
        <locationX>751</locationX>
        <locationY>279</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConsentYes</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Valid_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConsentNo</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Step_1_Survey_Type</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>DSR_Data_Integrity_Check</name>
        <label>DSR Data Integrity Check</label>
        <locationX>439</locationX>
        <locationY>121</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Valid_DSR_Data</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Step_1_Survey_Type</targetReference>
            </connector>
            <label>Valid DSR Data</label>
        </rules>
        <rules>
            <name>Invalid_DSR_Data</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varStage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_Send_Survey_0</targetReference>
            </connector>
            <label>Invalid DSR Data</label>
        </rules>
    </decisions>
    <decisions>
        <name>GroupMember_Check</name>
        <label>GroupMember Check</label>
        <locationX>184</locationX>
        <locationY>439</locationY>
        <defaultConnector>
            <targetReference>Cannot_Send_Survey_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Group_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BSI_Group_Member</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Deal_Support_Request</targetReference>
            </connector>
            <label>Is Group Member</label>
        </rules>
    </decisions>
    <decisions>
        <name>Survey_Selected</name>
        <label>Survey Selected</label>
        <locationX>1090</locationX>
        <locationY>161</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Customer_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Customer</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Consent</targetReference>
            </connector>
            <label>Customer Survey</label>
        </rules>
        <rules>
            <name>Internal_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Internal</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Valid_Requestor</targetReference>
            </connector>
            <label>Internal Survey</label>
        </rules>
    </decisions>
    <description>Business Sales Implementation Flow designed to be invoked manually by a user that provides the ability to send 1 of 2 survey types via Email</description>
    <formulas>
        <description>Identifies the running user</description>
        <name>RunningUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Send Business Sales Implementation Survey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>STP Send Business Sales Implementation Survey for DSR</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Activity_Customer_Survey</name>
        <label>Create Activity - Customer Survey</label>
        <locationX>467</locationX>
        <locationY>747</locationY>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Customer Survey Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Activity_Internal_Survey</name>
        <label>Create Activity - Internal Survey</label>
        <locationX>1110</locationX>
        <locationY>747</locationY>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Internal Survey Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>BSI_Group_Member</name>
        <label>BSI Group Member</label>
        <locationX>188</locationX>
        <locationY>256</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GroupMember_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GroupId</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRunningUser</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Deal_Support_Request</name>
        <label>Lookup Deal Support Request</label>
        <locationX>443</locationX>
        <locationY>301</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DSR_Data_Integrity_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Deal_Support_Request__c</object>
        <outputAssignments>
            <assignToReference>varContactEmail</assignToReference>
            <field>ContactEmail__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContactID</assignToReference>
            <field>CustomerContact1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varRequestor</assignToReference>
            <field>Requestor_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varStage</assignToReference>
            <field>Stage__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_Group_Id</name>
        <label>Query Group Id</label>
        <locationX>186</locationX>
        <locationY>71</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BSI_Group_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business_Sales_Implementation_Team</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>GroupId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Cannot_Send_Survey</name>
        <label>Cannot Send Survey</label>
        <locationX>962</locationX>
        <locationY>622</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CannotSendSurveyError</name>
            <fieldText>&lt;p&gt;The {!Survey_Type} Survey cannot be sent because &quot;Contact&quot; is not populated on the Deal Support Request or does not have a valid Email address&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cannot_Send_Survey_0</name>
        <label>Cannot Send Survey</label>
        <locationX>315</locationX>
        <locationY>33</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CannotSendSurveyError_0</name>
            <fieldText>&lt;p&gt;The {!Survey_Type} Survey cannot be sent because &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Deal Support Request &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Stage&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; is not &quot;Closed&quot;. Please close the Deal Support Request to send the survey.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cannot_Send_Survey_0_0</name>
        <label>Cannot Send Survey</label>
        <locationX>196</locationX>
        <locationY>700</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CannotSendSurveyError_0_0</name>
            <fieldText>&lt;p&gt;The {!Survey_Type} Survey cannot be sent because you are not a member of the Business Sales Implementation Team. Please contact administrator for further details.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cannot_Send_Survey_0_0_0</name>
        <label>Cannot Send Survey</label>
        <locationX>1291</locationX>
        <locationY>407</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CannotSendSurveyError_0_0_0</name>
            <fieldText>&lt;p&gt;The {!Survey_Type} Survey cannot be sent because &quot;Requestor&quot; is not populated on the Deal Support Request or does not have a valid Email address.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation:</label>
        <locationX>757</locationX>
        <locationY>747</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EmailSent</name>
            <fieldText>Thankyou. Your survey Email has been sent.


Click Finish to close.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Customer_Consent</name>
        <label>Customer Consent Check</label>
        <locationX>923</locationX>
        <locationY>279</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Customer_Consent_Result</targetReference>
        </connector>
        <fields>
            <name>Did_the_customer_provide_consent_to_send_survey</name>
            <choiceReferences>ConsentYes</choiceReferences>
            <choiceReferences>ConsentNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Did the customer provide consent to send survey?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Step_1_Survey_Type</name>
        <label>Please select survey type:</label>
        <locationX>761</locationX>
        <locationY>11</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Survey_Selected</targetReference>
        </connector>
        <fields>
            <name>Survey_Type</name>
            <choiceReferences>Customer</choiceReferences>
            <choiceReferences>Internal</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Survey Type:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Query_Group_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DummyV</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varGroupMember</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRequestor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRunningUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>RunningUser</elementReference>
        </value>
    </variables>
    <variables>
        <name>varStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
