force-app/main/default/flows/Send_E_G_Sales_Implementation_Survey_DSR.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_E_G_Customer_Implementation_Survey</name>
        <label>Send E&amp;G Customer Implementation Survey</label>
        <locationX>424</locationX>
        <locationY>563</locationY>
        <actionName>Deal_Support_Request__c.E_G_Sales_Implementation_Customer_Survey_DSR</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Activity_Customer_Survey</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Deal_Support_Request__c.E_G_Sales_Implementation_Customer_Survey_DSR</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_E_G_Internal_Sales_Implementation_Survey</name>
        <label>Send E&amp;G Internal Sales Implementation Survey</label>
        <locationX>1190</locationX>
        <locationY>589</locationY>
        <actionName>Deal_Support_Request__c.E_G_Sales_Implementation_Internal_Survey_DSR</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Activity_Internal_Survey</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Deal_Support_Request__c.E_G_Sales_Implementation_Internal_Survey_DSR</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>ConsentNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ConsentYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Customer</name>
        <choiceText>Customer</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Internal</name>
        <choiceText>Internal</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Check_for_Valid_Contact</name>
        <label>Check for Valid Contact</label>
        <locationX>752</locationX>
        <locationY>558</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Valid_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_E_G_Customer_Implementation_Survey</targetReference>
            </connector>
            <label>Valid Contact</label>
        </rules>
        <rules>
            <name>Invalid_Contact</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_Send_Survey</targetReference>
            </connector>
            <label>Invalid Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Valid_Requestor</name>
        <label>Check for Valid Requestor</label>
        <locationX>1179</locationX>
        <locationY>337</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Valid_Requestor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRequestor</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_E_G_Internal_Sales_Implementation_Survey</targetReference>
            </connector>
            <label>Valid Requestor</label>
        </rules>
        <rules>
            <name>Invalid_Requestor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRequestor</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_Send_Survey_0_0_0</targetReference>
            </connector>
            <label>Invalid Requestor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Customer_Consent_Result</name>
        <label>Customer Consent Result</label>
        <locationX>750</locationX>
        <locationY>243</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConsentYes</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Valid_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConsentNo</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Step_1_Survey_Type</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>DSR_Data_Integrity_Check</name>
        <label>DSR Data Integrity Check</label>
        <locationX>482</locationX>
        <locationY>51</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Valid_Case_Data</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDSRStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Step_1_Survey_Type</targetReference>
            </connector>
            <label>Valid Case Data</label>
        </rules>
        <rules>
            <name>Invalid_Case_Data</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varDSRStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_Send_Survey_0</targetReference>
            </connector>
            <label>Invalid Case Data</label>
        </rules>
    </decisions>
    <decisions>
        <name>GroupMember_Check</name>
        <label>GroupMember Check</label>
        <locationX>201</locationX>
        <locationY>379</locationY>
        <defaultConnector>
            <targetReference>Cannot_Send_Survey_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not a Group Member</defaultConnectorLabel>
        <rules>
            <name>Is_Group_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BSI_Group_Member</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_DSR</targetReference>
            </connector>
            <label>Is Group Member</label>
        </rules>
    </decisions>
    <decisions>
        <name>Survey_Selected</name>
        <label>Survey Selected</label>
        <locationX>1184</locationX>
        <locationY>55</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Customer_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Customer</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Consent</targetReference>
            </connector>
            <label>Customer Survey</label>
        </rules>
        <rules>
            <name>Internal_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Internal</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Valid_Requestor</targetReference>
            </connector>
            <label>Internal Survey</label>
        </rules>
    </decisions>
    <description>Send E&amp;G Sales Implementation Survey - DSR</description>
    <formulas>
        <description>Identifies the running user</description>
        <name>RunningUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Send E&amp;G Sales Implementation Survey - DSR {!$Flow.CurrentDateTime}</interviewLabel>
    <label>STP Send E&amp;G Sales Implementation Survey for DSR</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Activity_Customer_Survey</name>
        <label>Create Activity - Customer Survey</label>
        <locationX>424</locationX>
        <locationY>788</locationY>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Customer Survey Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Activity_Internal_Survey</name>
        <label>Create Activity - Internal Survey</label>
        <locationX>1190</locationX>
        <locationY>788</locationY>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Internal Survey Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>BSI_Group_Member</name>
        <label>BSI Group Member</label>
        <locationX>209</locationX>
        <locationY>207</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GroupMember_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GroupId</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRunningUser</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Id</name>
        <label>Get Group Id</label>
        <locationX>226</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BSI_Group_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales_Implementation</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>GroupId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_DSR</name>
        <label>Lookup DSR</label>
        <locationX>490</locationX>
        <locationY>374</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DSR_Data_Integrity_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Deal_Support_Request__c</object>
        <outputAssignments>
            <assignToReference>varContactEmail</assignToReference>
            <field>ContactEmail__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContactID</assignToReference>
            <field>CustomerContact1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varRequestor</assignToReference>
            <field>Requestor_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varDSRStatus</assignToReference>
            <field>Stage__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Cannot_Send_Survey</name>
        <label>Cannot Send Survey</label>
        <locationX>1005</locationX>
        <locationY>556</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CannotSendSurveyError</name>
            <fieldText>&lt;p&gt;The {!Survey_Type} Survey cannot be sent because &quot;Contact&quot; is not populated on the case or does not have a valid Email address.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cannot_Send_Survey_0</name>
        <label>Cannot Send Survey</label>
        <locationX>353</locationX>
        <locationY>183</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CannotSendSurveyError_0</name>
            <fieldText>&lt;p&gt;The {!Survey_Type} Survey cannot be sent because Deal Support Request Stage is not &quot;Closed&quot;. Please close the Deal Support Request and try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cannot_Send_Survey_0_0</name>
        <label>Cannot Send Survey</label>
        <locationX>210</locationX>
        <locationY>598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CannotSendSurveyError_0_0</name>
            <fieldText>&lt;p&gt;The {!Survey_Type} Survey cannot be sent because you are not a member of the Business Sales Implementation Team. Please contact administrator for further details.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cannot_Send_Survey_0_0_0</name>
        <label>Cannot Send Survey</label>
        <locationX>1421</locationX>
        <locationY>338</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CannotSendSurveyError_0_0_0</name>
            <fieldText>&lt;p&gt;The {!Survey_Type} Survey cannot be sent because &quot;Requestor&quot; is not populated on the case or does not have a valid Email address.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation:</label>
        <locationX>761</locationX>
        <locationY>787</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EmailSent</name>
            <fieldText>Thankyou. Your survey Email has been sent.


Click Finish to close.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Customer_Consent</name>
        <label>Customer Consent Check</label>
        <locationX>925</locationX>
        <locationY>241</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Customer_Consent_Result</targetReference>
        </connector>
        <fields>
            <name>Did_the_customer_provide_consent_to_send_survey</name>
            <choiceReferences>ConsentYes</choiceReferences>
            <choiceReferences>ConsentNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Did the customer provide consent to send survey?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Step_1_Survey_Type</name>
        <label>Please select survey type:</label>
        <locationX>758</locationX>
        <locationY>46</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Survey_Selected</targetReference>
        </connector>
        <fields>
            <name>Survey_Type</name>
            <choiceReferences>Customer</choiceReferences>
            <choiceReferences>Internal</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Survey Type:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Group_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DummyV</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDSRStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varGroupMember</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRequestor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRunningUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>RunningUser</elementReference>
        </value>
    </variables>
</Flow>
