force-app/main/default/flows/StarTrack_Outbound_Email_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>StarTrack_Transit_Warranty_Claim_Create_Email</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_11_A1</name>
        <label>Send Email Acknowledgement</label>
        <locationX>1100</locationX>
        <locationY>200</locationY>
        <actionName>Case.StarTrack_Transit_Warranty_Claim_Create_Email</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>StarTrack_Credit_Dispute_Auto_Response</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_13_A1</name>
        <label>Send Email Response</label>
        <locationX>1300</locationX>
        <locationY>200</locationY>
        <actionName>Case.StarTrack_Credit_Dispute_Auto_Response</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_13_A2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>StarTrack_Credit_Dispute_Successful_Completion</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_15_A1</name>
        <label>Send Successful Completion Email</label>
        <locationX>1500</locationX>
        <locationY>200</locationY>
        <actionName>Case.StarTrack_Credit_Dispute_Successful_Completion</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>StarTrack_Delivery_Enquiry_Auto_Response</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Send Email Response</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>Case.StarTrack_Delivery_Enquiry_Auto_Response</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>StarTrack_BSC_Delivery_Enquiry_Auto_Response</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Send BSC Email Response</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>Case.StarTrack_BSC_Delivery_Enquiry_Auto_Response</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_3_A2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>StarTrack_Delivery_Enquiry_Security_Notification</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Send Security Notification</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <actionName>Case.StarTrack_Delivery_Enquiry_Security_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>StarTrack_General_Enquiry_Security_Notification</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>Send Security Notification</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <actionName>Case.StarTrack_General_Enquiry_Security_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>isChangedDecision6_myRule_5_Approval_Status_c</name>
        <label>isChangedDecision6_myRule_5_Approval_Status_c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>isChangedDecision7_myRule_5_Enquiry_Type_c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>isChangedRule_6_myRule_5_Approval_Status_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_old.Approval_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>myVariable_current.Approval_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isChangedDecision7_myRule_5_Enquiry_Type_c</targetReference>
            </connector>
            <label>isChangedRule_6_myRule_5_Approval_Status_c</label>
        </rules>
    </decisions>
    <decisions>
        <name>isChangedDecision7_myRule_5_Enquiry_Type_c</name>
        <label>isChangedDecision7_myRule_5_Enquiry_Type_c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>isChangedRule_7_myRule_5_Enquiry_Type_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_old.Enquiry_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>myVariable_current.Enquiry_Type__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision</targetReference>
            </connector>
            <label>isChangedRule_7_myRule_5_Enquiry_Type_c</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Non-BSC Delivery Auto Response</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision10</name>
        <label>myDecision10</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision12</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_11</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_A1</targetReference>
            </connector>
            <label>Transit Warranty Auto Response</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision12</name>
        <label>myDecision12</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision14</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_13</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_A1</targetReference>
            </connector>
            <label>Credit Dispute Auto Response</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision14</name>
        <label>myDecision14</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_15</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_15_A1</targetReference>
            </connector>
            <label>Credit Dispute Successful Completion</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>BSC Delivery Auto Response</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>1 AND ((2 AND 3 AND 4) OR (5 AND 6 AND 7))</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Case_RecordType_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivery Enquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shortage Request Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>isChangedRule_6_myRule_5_Approval_Status_c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Enquiry_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Final Shortage</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>isChangedRule_7_myRule_5_Enquiry_Type_c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Delivery Enquiry Security Notification</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>General Enquiry Security Notification</label>
        </rules>
    </decisions>
    <description>This process will send an automated email once criterion was satisfied. It sends email after creating Delivery Enquiry Case for BSC and Non-BSC Customers.</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
        [Case].Case_RecordType_Name__c = &apos;Delivery Enquiry&apos;,
        [Case].Send_Auto_Response_Email__c,
        NOT([Case].Auto_Email_Response_sent__c),
        OR(
              ISPICKVAL([Case].Origin, &apos;Email&apos;),
              ISPICKVAL([Case].Origin, &apos;Web&apos;)),
        [Case].SuppliedEmail &lt;&gt; null,
        NOT(BEGINS([Case].SuppliedEmail, &apos;noreply&apos;)),
        NOT(BEGINS([Case].SuppliedEmail, &apos;no-reply&apos;)),  
        NOT(BEGINS([Case].SuppliedEmail, &apos;postmaster&apos;)),
        NOT(BEGINS([Case].SuppliedEmail, &apos;mailer-daemon&apos;)),       
        NOT(CONTAINS(
        LOWER($Setup.StarTrack_Settings__c.Blacklisted_Sender_Email_Addresses__c),
        LOWER([Case].SuppliedEmail))),
        NOT(CONTAINS(
        LOWER($Setup.StarTrack_Settings__c.Domains_Excluded_From_Auto_Response__c),
        LOWER(RIGHT([Case].SuppliedEmail, LEN([Case].SuppliedEmail) - FIND(&quot;@&quot;,
        [Case].SuppliedEmail))))),
        NOT([Case].Business_Solutions_Customer__c))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(
        {!myVariable_current.Case_RecordType_Name__c} = &apos;Delivery Enquiry&apos;,
        {!myVariable_current.Send_Auto_Response_Email__c},
        NOT({!myVariable_current.Auto_Email_Response_sent__c}),
        OR(
              ISPICKVAL({!myVariable_current.Origin}, &apos;Email&apos;),
              ISPICKVAL({!myVariable_current.Origin}, &apos;Web&apos;)),
        {!myVariable_current.SuppliedEmail} &lt;&gt; null,
        NOT(BEGINS({!myVariable_current.SuppliedEmail}, &apos;noreply&apos;)),
        NOT(BEGINS({!myVariable_current.SuppliedEmail}, &apos;no-reply&apos;)),  
        NOT(BEGINS({!myVariable_current.SuppliedEmail}, &apos;postmaster&apos;)),
        NOT(BEGINS({!myVariable_current.SuppliedEmail}, &apos;mailer-daemon&apos;)),       
        NOT(CONTAINS(
        LOWER({!$Setup.StarTrack_Settings__c.Blacklisted_Sender_Email_Addresses__c}),
        LOWER({!myVariable_current.SuppliedEmail}))),
        NOT(CONTAINS(
        LOWER({!$Setup.StarTrack_Settings__c.Domains_Excluded_From_Auto_Response__c}),
        LOWER(RIGHT({!myVariable_current.SuppliedEmail}, LEN({!myVariable_current.SuppliedEmail}) - FIND(&quot;@&quot;,
        {!myVariable_current.SuppliedEmail}))))),
        NOT({!myVariable_current.Business_Solutions_Customer__c}))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
        [Case].Case_RecordType_Name__c = &apos;Transit Warranty Claim&apos;,
        ISNEW(),
        ISPICKVAL([Case].Origin, &apos;Web&apos;),
        [Case].SuppliedEmail &lt;&gt; null,
        NOT(BEGINS([Case].SuppliedEmail, &apos;noreply&apos;)),
        NOT(BEGINS([Case].SuppliedEmail, &apos;no-reply&apos;)),
        NOT(BEGINS([Case].SuppliedEmail, &apos;postmaster&apos;)),
        NOT(BEGINS([Case].SuppliedEmail, &apos;mailer-daemon&apos;)),
        NOT(CONTAINS(
        LOWER($Setup.StarTrack_Settings__c.Blacklisted_Sender_Email_Addresses__c),
        LOWER([Case].SuppliedEmail))),
        NOT(CONTAINS(
        LOWER($Setup.StarTrack_Settings__c.Domains_Excluded_From_Auto_Response__c),
        LOWER(RIGHT([Case].SuppliedEmail, LEN([Case].SuppliedEmail) - FIND(&quot;@&quot;,
        [Case].SuppliedEmail))))))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_11</name>
        <dataType>Boolean</dataType>
        <expression>AND(
        {!myVariable_current.Case_RecordType_Name__c} = &apos;Transit Warranty Claim&apos;,
        ISNEW(),
        ISPICKVAL({!myVariable_current.Origin}, &apos;Web&apos;),
        {!myVariable_current.SuppliedEmail} &lt;&gt; null,
        NOT(BEGINS({!myVariable_current.SuppliedEmail}, &apos;noreply&apos;)),
        NOT(BEGINS({!myVariable_current.SuppliedEmail}, &apos;no-reply&apos;)),
        NOT(BEGINS({!myVariable_current.SuppliedEmail}, &apos;postmaster&apos;)),
        NOT(BEGINS({!myVariable_current.SuppliedEmail}, &apos;mailer-daemon&apos;)),
        NOT(CONTAINS(
        LOWER({!$Setup.StarTrack_Settings__c.Blacklisted_Sender_Email_Addresses__c}),
        LOWER({!myVariable_current.SuppliedEmail}))),
        NOT(CONTAINS(
        LOWER({!$Setup.StarTrack_Settings__c.Domains_Excluded_From_Auto_Response__c}),
        LOWER(RIGHT({!myVariable_current.SuppliedEmail}, LEN({!myVariable_current.SuppliedEmail}) - FIND(&quot;@&quot;,
        {!myVariable_current.SuppliedEmail}))))))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
        [Case].Case_RecordType_Name__c = &apos;Credit Dispute Claim&apos;,
        [Case].Send_Auto_Response_Email__c,
        NOT([Case].Auto_Email_Response_sent__c),
        OR(ISPICKVAL([Case].Origin, &apos;Email&apos;),ISPICKVAL([Case].Origin, &apos;Web&apos;)),
        [Case].SuppliedEmail &lt;&gt; null,
        NOT(BEGINS([Case].SuppliedEmail, &apos;noreply&apos;)),
        NOT(BEGINS([Case].SuppliedEmail, &apos;no-reply&apos;)), 
        NOT(BEGINS([Case].SuppliedEmail, &apos;postmaster&apos;)),
        NOT(BEGINS([Case].SuppliedEmail, &apos;mailer-daemon&apos;)),
        NOT(CONTAINS(
        LOWER($Setup.StarTrack_Settings__c.Blacklisted_Sender_Email_Addresses__c),
        LOWER([Case].SuppliedEmail))),
        NOT(CONTAINS(
        LOWER($Setup.StarTrack_Settings__c.Domains_Excluded_From_Auto_Response__c),
        LOWER(RIGHT([Case].SuppliedEmail, LEN([Case].SuppliedEmail) - FIND(&quot;@&quot;,
        [Case].SuppliedEmail))))))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_13</name>
        <dataType>Boolean</dataType>
        <expression>AND(
        {!myVariable_current.Case_RecordType_Name__c} = &apos;Credit Dispute Claim&apos;,
        {!myVariable_current.Send_Auto_Response_Email__c},
        NOT({!myVariable_current.Auto_Email_Response_sent__c}),
        OR(ISPICKVAL({!myVariable_current.Origin}, &apos;Email&apos;),ISPICKVAL({!myVariable_current.Origin}, &apos;Web&apos;)),
        {!myVariable_current.SuppliedEmail} &lt;&gt; null,
        NOT(BEGINS({!myVariable_current.SuppliedEmail}, &apos;noreply&apos;)),
        NOT(BEGINS({!myVariable_current.SuppliedEmail}, &apos;no-reply&apos;)), 
        NOT(BEGINS({!myVariable_current.SuppliedEmail}, &apos;postmaster&apos;)),
        NOT(BEGINS({!myVariable_current.SuppliedEmail}, &apos;mailer-daemon&apos;)),
        NOT(CONTAINS(
        LOWER({!$Setup.StarTrack_Settings__c.Blacklisted_Sender_Email_Addresses__c}),
        LOWER({!myVariable_current.SuppliedEmail}))),
        NOT(CONTAINS(
        LOWER({!$Setup.StarTrack_Settings__c.Domains_Excluded_From_Auto_Response__c}),
        LOWER(RIGHT({!myVariable_current.SuppliedEmail}, LEN({!myVariable_current.SuppliedEmail}) - FIND(&quot;@&quot;,
        {!myVariable_current.SuppliedEmail}))))))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
        [Case].Case_RecordType_Name__c = &apos;Credit Dispute Claim&apos;,
        ISPICKVAL([Case].Status, &apos;Closed&apos;),
        PRIORVALUE([Case].Status) != &apos;Pending Customer Notification&apos;,
        ISCHANGED([Case].Status),
        ISPICKVAL([Case].Enquiry_Type__c, &apos;Dispute Claim&apos;),
        ISPICKVAL([Case].ResolutionCode__c , &apos;Request Actioned&apos;),
        [Case].SuppliedEmail &lt;&gt; null)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_15</name>
        <dataType>Boolean</dataType>
        <expression>AND(
        {!myVariable_current.Case_RecordType_Name__c} = &apos;Credit Dispute Claim&apos;,
        ISPICKVAL({!myVariable_current.Status}, &apos;Closed&apos;),
        PRIORVALUE({!myVariable_current.Status}) != &apos;Pending Customer Notification&apos;,
        ISCHANGED({!myVariable_current.Status}),
        ISPICKVAL({!myVariable_current.Enquiry_Type__c}, &apos;Dispute Claim&apos;),
        ISPICKVAL({!myVariable_current.ResolutionCode__c} , &apos;Request Actioned&apos;),
        {!myVariable_current.SuppliedEmail} &lt;&gt; null)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
        [Case].Case_RecordType_Name__c = &apos;Delivery Enquiry&apos;,
        [Case].Send_Auto_Response_Email__c,
        NOT([Case].Auto_Email_Response_sent__c),
        OR(
              ISPICKVAL([Case].Origin, &apos;Email&apos;),
              ISPICKVAL([Case].Origin, &apos;Web&apos;)),
        [Case].SuppliedEmail &lt;&gt; null,
        NOT(BEGINS([Case].SuppliedEmail, &apos;noreply&apos;)),
        NOT(BEGINS([Case].SuppliedEmail, &apos;no-reply&apos;)),
        NOT(BEGINS([Case].SuppliedEmail, &apos;postmaster&apos;)),
        NOT(BEGINS([Case].SuppliedEmail, &apos;mailer-daemon&apos;)),        
        NOT(CONTAINS(
        LOWER($Setup.StarTrack_Settings__c.Blacklisted_Sender_Email_Addresses__c),
        LOWER([Case].SuppliedEmail))),
        NOT(CONTAINS(
        LOWER($Setup.StarTrack_Settings__c.Domains_Excluded_From_Auto_Response__c),
        LOWER(RIGHT([Case].SuppliedEmail, LEN([Case].SuppliedEmail) - FIND(&quot;@&quot;,
        [Case].SuppliedEmail))))),
        [Case].Business_Solutions_Customer__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>AND(
        {!myVariable_current.Case_RecordType_Name__c} = &apos;Delivery Enquiry&apos;,
        {!myVariable_current.Send_Auto_Response_Email__c},
        NOT({!myVariable_current.Auto_Email_Response_sent__c}),
        OR(
              ISPICKVAL({!myVariable_current.Origin}, &apos;Email&apos;),
              ISPICKVAL({!myVariable_current.Origin}, &apos;Web&apos;)),
        {!myVariable_current.SuppliedEmail} &lt;&gt; null,
        NOT(BEGINS({!myVariable_current.SuppliedEmail}, &apos;noreply&apos;)),
        NOT(BEGINS({!myVariable_current.SuppliedEmail}, &apos;no-reply&apos;)),
        NOT(BEGINS({!myVariable_current.SuppliedEmail}, &apos;postmaster&apos;)),
        NOT(BEGINS({!myVariable_current.SuppliedEmail}, &apos;mailer-daemon&apos;)),        
        NOT(CONTAINS(
        LOWER({!$Setup.StarTrack_Settings__c.Blacklisted_Sender_Email_Addresses__c}),
        LOWER({!myVariable_current.SuppliedEmail}))),
        NOT(CONTAINS(
        LOWER({!$Setup.StarTrack_Settings__c.Domains_Excluded_From_Auto_Response__c}),
        LOWER(RIGHT({!myVariable_current.SuppliedEmail}, LEN({!myVariable_current.SuppliedEmail}) - FIND(&quot;@&quot;,
        {!myVariable_current.SuppliedEmail}))))),
        {!myVariable_current.Business_Solutions_Customer__c})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
        [Case].Case_RecordType_Name__c = &apos;General Enquiry&apos;,
        ISNEW(),
        [Case].Tier__c = &apos;1&apos;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>AND(
        {!myVariable_current.Case_RecordType_Name__c} = &apos;General Enquiry&apos;,
        ISNEW(),
        {!myVariable_current.Tier__c} = &apos;1&apos;)</expression>
    </formulas>
    <interviewLabel>StarTrack_Outbound_Email_Alert-11_InterviewLabel</interviewLabel>
    <label>StarTrack Outbound Email Alert</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_13_A2</name>
        <label>Update Case Flag</label>
        <locationX>1300</locationX>
        <locationY>300</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Auto Email Response sent?</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Auto_Email_Response_sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Send Auto Response Email</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Send_Auto_Response_Email__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>Update Case Flag</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Auto Email Response sent?</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Auto_Email_Response_sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Send Auto Response Email</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Send_Auto_Response_Email__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_3_A2</name>
        <label>Update Case Flags</label>
        <locationX>300</locationX>
        <locationY>300</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Auto Email Response sent?</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Auto_Email_Response_sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Send Auto Response Email</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Send_Auto_Response_Email__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>isChangedDecision6_myRule_5_Approval_Status_c</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
