force-app/main/default/flows/StarTrack_Milestone_Completion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Is_Milestone_Type_Found</name>
        <label>Is Milestone Type Found?</label>
        <locationX>239</locationX>
        <locationY>150</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Milestone_Type_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MilestoneType.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Milestone_Action</targetReference>
            </connector>
            <label>Milestone Type Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Milestone_Action</name>
        <label>Milestone Action</label>
        <locationX>238</locationX>
        <locationY>312</locationY>
        <defaultConnector>
            <targetReference>Set_Completion_Date_for_Case_Milestone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Close_Milestone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMilestoneAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Close</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Milestone</targetReference>
            </connector>
            <label>Close Milestone</label>
        </rules>
    </decisions>
    <description>Updates the Completion Date of a Milestone Name related to a Case.</description>
    <interviewLabel>StarTrack Milestone Completion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>StarTrack Milestone Completion</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Milestone_Type_ID</name>
        <label>Get Milestone Type ID</label>
        <locationX>238</locationX>
        <locationY>35</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Milestone_Type_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MilestoneName</elementReference>
            </value>
        </filters>
        <object>MilestoneType</object>
        <outputAssignments>
            <assignToReference>MilestoneType.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Complete_Milestone</name>
        <label>Complete Milestone</label>
        <locationX>491</locationX>
        <locationY>487</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MilestoneType.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CompletionDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>CaseMilestone</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Completion_Date_for_Case_Milestone</name>
        <label>Set Completion Date for Case Milestone</label>
        <locationX>205</locationX>
        <locationY>488</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsViolated</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MilestoneType.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CompletionDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>CaseMilestone</object>
    </recordUpdates>
    <startElementReference>Get_Milestone_Type_ID</startElementReference>
    <status>Active</status>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>MilestoneName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MilestoneType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MilestoneType</objectType>
    </variables>
    <variables>
        <name>varMilestoneAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
