force-app/main/default/flows/STP_Deal_Support_Request_Creation_Organisation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Navigate_to_Edit_DSR_Record</name>
        <label>Navigate to Edit DSR Record</label>
        <locationX>255</locationX>
        <locationY>558</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>close_Popup</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>Deal_Support_Request__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>edit</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>VarNewDSRRecordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <choices>
        <name>Choice_B_G_Deal_Governance_Operation</name>
        <choiceText>&lt;b&gt;B&amp;amp;G Deal Governance CoE&lt;/b&gt;&lt;p&gt;Request type used manually by the B&amp;amp;G Deal Governance Team for exception cases&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>B_G_Deal_Governance_Operation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Business_Sales_Impl</name>
        <choiceText>&lt;b&gt;Business Sales,Customer Implementation Request&lt;/b&gt;&lt;p&gt;Use this request type to engage Business Sales Implementation once the opportunity is won &amp;amp; the customer is ready to commence implementation&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Business_Sales_Implementation_Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Deal_Enablement_Centre</name>
        <choiceText>&lt;b&gt;Customer Onboarding&lt;/b&gt;&lt;p&gt;Support on boarding activities including agreement preparation, the creation of billing accounts, lodgement changes for contracted products and other customer on boarding tasks&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Deal_Enablement_Centre</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_E_G_Sales_Impl</name>
        <choiceText>&lt;b&gt;E&amp;amp;G Sales,Customer Implementation Request&lt;/b&gt;&lt;p&gt;Enterprise, Key, Strategic &amp;amp; Government Sales use this request to engage Customer Implementation&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E_G_Sales_Implementation_Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Legal_Support</name>
        <choiceText>&lt;b&gt;Legal Support Request&lt;/b&gt;&lt;p&gt;Use this request form to engage the B&amp;amp;G/P&amp;amp;I Legal Team&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Legal_Support_Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_PSR_Domestic</name>
        <choiceText>&lt;b&gt;Pricing Support Request - Domestic&lt;/b&gt;&lt;p&gt;Engage support from Domestic Parcels Pricing Team regarding customised rates, business at risk due to price, where you are unable to Self Service rates, or general pricing enquiries&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pricing_Support_Request_Domestic</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_PSR_Intl</name>
        <choiceText>&lt;b&gt;Pricing Support Request - International&lt;/b&gt;&lt;p&gt;Engage support from International Pricing Team regarding customised rates, business at risk due to price, where you are unable to Self Service rates, or general pricing enquiries&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pricing_Support_Request_International</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_PSR_StarTrack</name>
        <choiceText>&lt;b&gt;Pricing Support Request - StarTrack&lt;/b&gt;&lt;p&gt;Engage support from StarTrack Pricing Team regarding customised rates, business at risk due to price, where you are unable to Self Service rates, or general pricing enquiries&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pricing_Support_Request_StarTrack</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Surcharge_Exemption</name>
        <choiceText>&lt;b&gt;Surcharge Exemption Request&lt;/b&gt;&lt;p&gt;Engage support from various team including Pricing, Sales, Legal to provide commercial decision whether customer can be exempted from surcharge for a certain period of time&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Surcharge_Exemption_Request</stringValue>
        </value>
    </choices>
    <description>This flow is to show limited record types to user on Organisation to choose from while creating new DSR from organisation</description>
    <formulas>
        <name>RunningUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>STP Deal Support Request Creation -Organisation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>STP Deal Support Request Creation -Organisation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Deal_Support_Request</name>
        <label>Create Deal Support Request</label>
        <locationX>632</locationX>
        <locationY>479</locationY>
        <assignRecordIdToReference>VarNewDSRRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Navigate_to_Edit_DSR_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Delivery_Address_State__c</field>
            <value>
                <elementReference>ShippingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organisation__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_type__c</field>
            <value>
                <stringValue>Organisation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requestor__c</field>
            <value>
                <elementReference>RunningUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Deal_Support_Request__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_details_from_Account</name>
        <label>Get details from Account</label>
        <locationX>1019</locationX>
        <locationY>285</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Deal_Support_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>ShippingState</assignToReference>
            <field>ShippingState</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_The_Deal_Support_Record_Type</name>
        <label>Get The Deal Support Record Type</label>
        <locationX>797</locationX>
        <locationY>57</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_details_from_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_the_Deal_Support_Request_Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deal_Support_Request__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <description>Additional screen to close the blank popup.
The popup does not close automatically upon successful navigation to the new DSR record.</description>
        <name>close_Popup</name>
        <label>close Popup</label>
        <locationX>255</locationX>
        <locationY>388</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>closeflow</name>
            <extensionName>c:closeFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Deal_Support_Request</name>
        <label>New Deal Support Request</label>
        <locationX>390</locationX>
        <locationY>55</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_The_Deal_Support_Record_Type</targetReference>
        </connector>
        <fields>
            <name>Select_the_Deal_Support_Request_Type</name>
            <choiceReferences>Choice_Legal_Support</choiceReferences>
            <choiceReferences>Choice_PSR_Domestic</choiceReferences>
            <choiceReferences>Choice_PSR_Intl</choiceReferences>
            <choiceReferences>Choice_PSR_StarTrack</choiceReferences>
            <choiceReferences>Choice_Surcharge_Exemption</choiceReferences>
            <choiceReferences>Choice_Deal_Enablement_Centre</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the Deal Support Request Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>New_Deal_Support_Request</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShippingState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarNewDSRRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
