force-app/main/default/flows/STP_Deal_Support_Request_Creation_BAR.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>This step navigates user to Edit Page of Deal Support Request</description>
        <name>Navigate_to_DSR_New_Record</name>
        <label>Navigate to DSR New Record</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>Deal_Support_Request__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>DSRRecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>edit</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_APPC_Specific_fields</name>
        <label>Assign APPC Specific fields</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>DSRRecord.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Australia Post Parcel Contract</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Other_DSR_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Other_DSR_Fields</name>
        <label>Assign Other DSR Fields</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>DSRRecord.Organisation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarAcctID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DSRRecord.Business_At_Risk__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DSRRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DSRRecord.Request_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Business At Risk</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DSRRecord.Requestor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RunningUser</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DSRRecord.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DSRRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Deal_Support_Request</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choice_APPC_Parcel_Contract</name>
        <choiceText>&lt;b&gt;Pricing Support Request - Australia Post Parcel Contract&lt;/b&gt;&lt;p&gt;Engage support from Domestic Parcels Pricing Team regarding customised rates, business at risk due to price, unable to Self Service rates, or general pricing enquiries&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pricing_Support_Request_Australia_Post_Parcel_Contract</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Deal_enablement_Centre</name>
        <choiceText>&lt;b&gt;Customer Onboarding&lt;/b&gt;&lt;p&gt;Support on boarding activities including agreement preparation, the creation of billing accounts, lodgement changes for contracted products and other customer on boarding tasks&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Deal_Enablement_Centre</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_PSR_Domestic</name>
        <choiceText>&lt;b&gt;Pricing Support Request - Domestic&lt;/b&gt;&lt;p&gt;Engage support from Domestic Parcels Pricing Team regarding customised rates, business at risk due to price, where you are unable to Self Service rates, or general pricing enquiries&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pricing_Support_Request_Domestic</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_PSR_Intl</name>
        <choiceText>&lt;b&gt;Pricing Support Request - International&lt;/b&gt;&lt;p&gt;Engage support from International Pricing Team regarding customised rates, business at risk due to price, where you are unable to Self Service rates, or general pricing enquiries&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pricing_Support_Request_International</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_PSR_StarTrack</name>
        <choiceText>&lt;b&gt;Pricing Support Request - StarTrack&lt;/b&gt;&lt;p&gt;Engage support from StarTrack Pricing Team regarding customised rates, business at risk due to price, where you are unable to Self Service rates, or general pricing enquiries&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pricing_Support_Request_StarTrack</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Surcharge_Exemption</name>
        <choiceText>&lt;b&gt;Surcharge Exemption Request&lt;/b&gt;&lt;p&gt;Engage support from various team including Pricing, Sales, Legal to provide commercial decision whether customer can be exempted from surcharge for a certain period of time&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Surcharge_Exemption_Request</stringValue>
        </value>
    </choices>
    <decisions>
        <name>If_APPC_Record_Type</name>
        <label>If APPC Record Type</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Assign_Other_DSR_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>APPC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeDevName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pricing_Support_Request_Australia_Post_Parcel_Contract</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_APPC_Specific_fields</targetReference>
            </connector>
            <label>APPC</label>
        </rules>
    </decisions>
    <description>This flow will allow users to create Deal Support requests from BAR with limited DSR record Types</description>
    <formulas>
        <name>RunningUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>STP Deal Support Request Creation-BAR {!$Flow.CurrentDateTime}</interviewLabel>
    <label>STP Deal Support Request Creation-BAR</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Deal_Support_Request</name>
        <label>Create Deal Support Request</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>Navigate_to_DSR_New_Record</targetReference>
        </connector>
        <inputReference>DSRRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <description>This step matches user selection to the record types of deal support object</description>
        <name>Get_Deal_Support_Request_Record_Type</name>
        <label>Get Deal Support Request Record Type</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_APPC_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_the_Deal_Support_Request_Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deal_Support_Request__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeDevName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetOrganisationDetails</name>
        <label>GetOrganisationDetails</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Deal_Support_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>At_Risk_Business__c</object>
        <outputAssignments>
            <assignToReference>VarAcctID</assignToReference>
            <field>Legal_Entity_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Organisation associated with BAR</description>
        <name>Org_Details</name>
        <label>Org Details</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Deal_Support_Request_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarAcctID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>New_Deal_Support_Request</name>
        <label>New Deal Support Request</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Org_Details</targetReference>
        </connector>
        <fields>
            <name>Select_the_Deal_Support_Request_Type</name>
            <choiceReferences>Choice_PSR_Domestic</choiceReferences>
            <choiceReferences>Choice_PSR_Intl</choiceReferences>
            <choiceReferences>Choice_PSR_StarTrack</choiceReferences>
            <choiceReferences>Choice_APPC_Parcel_Contract</choiceReferences>
            <choiceReferences>Choice_Surcharge_Exemption</choiceReferences>
            <choiceReferences>Choice_Deal_enablement_Centre</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the Deal Support Request Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetOrganisationDetails</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DSRRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Deal_Support_Request__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeDevName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarAcctID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarNewDSRRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
