force-app/main/default/flows/STP_Deal_Support_Request_Creation_Organisation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Navigate_to_Edit_DSR_Record</name>
        <label>Navigate to Edit DSR Record</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>Deal_Support_Request__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>DSRRecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>edit</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_APPC_Specific_Field_Values</name>
        <label>Assign APPC Specific Field Values</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>DSRRecord.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Australia Post Parcel Contract</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_DSR_Field_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_DSR_Field_Values</name>
        <label>Assign DSR Field Values</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>DSRRecord.Delivery_Address_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShippingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DSRRecord.Organisation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DSRRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DSRRecord.Request_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Organisation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DSRRecord.Requestor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RunningUser</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DSRRecord.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DSRRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Deal_Support_Request</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choice_APPC_Parcel_Contract</name>
        <choiceText>&lt;b&gt;Pricing Support Request - Australia Post Parcel Contract&lt;/b&gt;&lt;p&gt;Engage support from Domestic Parcels Pricing Team regarding customised rates, business at risk due to price, unable to Self Service rates, or general pricing enquiries&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pricing_Support_Request_Australia_Post_Parcel_Contract</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_B_G_Deal_Governance_Operation</name>
        <choiceText>&lt;b&gt;B&amp;amp;G Deal Governance CoE&lt;/b&gt;&lt;p&gt;Request type used manually by the B&amp;amp;G Deal Governance Team for exception cases&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>B_G_Deal_Governance_Operation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Business_Sales_Impl</name>
        <choiceText>&lt;b&gt;Business Sales,Customer Implementation Request&lt;/b&gt;&lt;p&gt;Use this request type to engage Business Sales Implementation once the opportunity is won &amp;amp; the customer is ready to commence implementation&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Business_Sales_Implementation_Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Deal_Enablement_Centre</name>
        <choiceText>&lt;b&gt;Customer Onboarding&lt;/b&gt;&lt;p&gt;Support on boarding activities including agreement preparation, the creation of billing accounts, lodgement changes for contracted products and other customer on boarding tasks&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Deal_Enablement_Centre</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_E_G_Sales_Impl</name>
        <choiceText>&lt;b&gt;E&amp;amp;G Sales,Customer Implementation Request&lt;/b&gt;&lt;p&gt;Enterprise, Key, Strategic &amp;amp; Government Sales use this request to engage Customer Implementation&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E_G_Sales_Implementation_Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Legal_Support</name>
        <choiceText>&lt;b&gt;Legal Support Request&lt;/b&gt;&lt;p&gt;Use this request form to engage the B&amp;amp;G/P&amp;amp;I Legal Team&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Legal_Support_Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_PSR_Domestic</name>
        <choiceText>&lt;b&gt;Pricing Support Request - Domestic&lt;/b&gt;&lt;p&gt;Engage support from Domestic Parcels Pricing Team regarding customised rates, business at risk due to price, where you are unable to Self Service rates, or general pricing enquiries&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pricing_Support_Request_Domestic</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_PSR_Intl</name>
        <choiceText>&lt;b&gt;Pricing Support Request - International&lt;/b&gt;&lt;p&gt;Engage support from International Pricing Team regarding customised rates, business at risk due to price, where you are unable to Self Service rates, or general pricing enquiries&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pricing_Support_Request_International</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_PSR_StarTrack</name>
        <choiceText>&lt;strong&gt;Pricing Support Request - StarTrack&lt;/strong&gt;&lt;p&gt;Engage support from ST Pricing Team regarding customised rates, business at risk due to price, unable to Self Service rates, or general pricing enquiries Incl ST Courier &amp;amp; On Demand.&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pricing_Support_Request_StarTrack</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Surcharge_Exemption</name>
        <choiceText>&lt;b&gt;Surcharge Exemption Request&lt;/b&gt;&lt;p&gt;Engage support from various team including Pricing, Sales, Legal to provide commercial decision whether customer can be exempted from surcharge for a certain period of time&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Surcharge_Exemption_Request</stringValue>
        </value>
    </choices>
    <decisions>
        <name>If_APPC_Record_Type</name>
        <label>If APPC Record Type</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assign_DSR_Field_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>APPC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeDevName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pricing_Support_Request_Australia_Post_Parcel_Contract</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_APPC_Specific_Field_Values</targetReference>
            </connector>
            <label>APPC</label>
        </rules>
    </decisions>
    <description>New APPC flow action updated minimum spend details.</description>
    <environments>Default</environments>
    <formulas>
        <name>RunningUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>STP Deal Support Request Creation - new choice</interviewLabel>
    <label>STP Deal Support Request Creation -Organisation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Deal_Support_Request</name>
        <label>Create Deal Support Request</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Navigate_to_Edit_DSR_Record</targetReference>
        </connector>
        <inputReference>DSRRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_details_from_Account</name>
        <label>Get details from Account</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_APPC_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>ShippingState</assignToReference>
            <field>ShippingState</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_The_Deal_Support_Record_Type</name>
        <label>Get The Deal Support Record Type</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_details_from_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_the_Deal_Support_Request_Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deal_Support_Request__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeDevName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>New_Deal_Support_Request</name>
        <label>New Deal Support Request</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_The_Deal_Support_Record_Type</targetReference>
        </connector>
        <fields>
            <name>Select_the_Deal_Support_Request_Type</name>
            <choiceReferences>Choice_Deal_Enablement_Centre</choiceReferences>
            <choiceReferences>Choice_PSR_Domestic</choiceReferences>
            <choiceReferences>Choice_PSR_StarTrack</choiceReferences>
            <choiceReferences>Choice_PSR_Intl</choiceReferences>
            <choiceReferences>Choice_Legal_Support</choiceReferences>
            <choiceReferences>Choice_Surcharge_Exemption</choiceReferences>
            <choiceReferences>Choice_APPC_Parcel_Contract</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the Deal Support Request Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Deal_Support_Request</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DSRRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Deal_Support_Request__c</objectType>
    </variables>
    <variables>
        <description>Minimum spend per annum (Relevant to APPC)</description>
        <name>MinSpendPerAnnum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>OrganisationContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeDevName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShippingState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarNewDSRRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
