force-app/main/default/flows/TDF_Drop_Trailer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assAssign_Entered_RegoTA</name>
        <label>Assign Entered Rego</label>
        <locationX>957</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>varTrailerARego</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fldTrailer_A_Rego</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scnDropBTrailer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assAssign_Entered_RegoTB</name>
        <label>Assign Entered Rego</label>
        <locationX>969</locationX>
        <locationY>733</locationY>
        <assignmentItems>
            <assignToReference>varTrailerBRego</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fldTrailer_B_Rego</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ruSet_Rego_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign field values</description>
        <name>assAssign_Values</name>
        <label>Assign Values</label>
        <locationX>5</locationX>
        <locationY>107</locationY>
        <assignmentItems>
            <assignToReference>varVehicleType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Trailer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scnA_Trailer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Dummy assignment to improve path of arrows</description>
        <name>assDummy_Assignment</name>
        <label>Dummy Assignment</label>
        <locationX>160</locationX>
        <locationY>896</locationY>
        <assignmentItems>
            <assignToReference>DebugFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DebugFlag</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ruSet_Rego_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assSet_In_Progress</name>
        <label>Set In Progress</label>
        <locationX>322</locationX>
        <locationY>103</locationY>
        <assignmentItems>
            <assignToReference>varStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ruSet_WO_In_Progress</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assSet_Status</name>
        <label>Set Status Complete</label>
        <locationX>1258</locationX>
        <locationY>898</locationY>
        <assignmentItems>
            <assignToReference>varStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ruSet_WO_Completed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Record Rego just entered so it can be compared with the next value entered</description>
        <name>Store_Rego_Entered_A</name>
        <label>Store Rego Entered</label>
        <locationX>457</locationX>
        <locationY>282</locationY>
        <assignmentItems>
            <assignToReference>varTrailerARegoPrevious</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fldTrailer_A_Rego</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTrailerAScanned</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scrTrailer_Not_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Rego_Entered_BTrailer</name>
        <label>Store Rego Entered</label>
        <locationX>450</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>varTrailerBRegoPrevious</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fldTrailer_B_Rego</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTrailerBScanned</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scnTrailer_Not_Found</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>chNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N</stringValue>
        </value>
    </choices>
    <choices>
        <name>chYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Y</stringValue>
        </value>
    </choices>
    <decisions>
        <name>decA_Trailer_Drop</name>
        <label>Drop A Trailer?</label>
        <locationX>156</locationX>
        <locationY>363</locationY>
        <defaultConnector>
            <targetReference>scnDropBTrailer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N</defaultConnectorLabel>
        <rules>
            <name>outYTrailerA</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>radioDropA_Trailer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Y</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decA_Trailer_Scanned</targetReference>
            </connector>
            <label>Y</label>
        </rules>
    </decisions>
    <decisions>
        <name>decA_Trailer_Scanned</name>
        <label>A Trailer Scanned?</label>
        <locationX>293</locationX>
        <locationY>365</locationY>
        <defaultConnector>
            <targetReference>scnScan_A_Trailer_Barcode</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N</defaultConnectorLabel>
        <rules>
            <name>outYTAScanned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTrailerAScanned</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scnEnter_A_Trailer_Rego</targetReference>
            </connector>
            <label>Y</label>
        </rules>
    </decisions>
    <decisions>
        <name>decAFound_on_Barcode</name>
        <label>A Found on Barcode?</label>
        <locationX>627</locationX>
        <locationY>472</locationY>
        <defaultConnector>
            <targetReference>scnEnter_A_Trailer_Rego</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N</defaultConnectorLabel>
        <rules>
            <name>outYAFoundOnBC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varVehicleType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trailer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scnDropBTrailer</targetReference>
            </connector>
            <label>Y</label>
        </rules>
    </decisions>
    <decisions>
        <name>decAFoundOnRego</name>
        <label>A Found on Rego?</label>
        <locationX>785</locationX>
        <locationY>501</locationY>
        <defaultConnector>
            <targetReference>Rego_Entered_Twice_ATrailer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N</defaultConnectorLabel>
        <rules>
            <name>outAFoundOnRego</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varVehicleType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trailer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scnDropBTrailer</targetReference>
            </connector>
            <label>Y</label>
        </rules>
    </decisions>
    <decisions>
        <name>decB_Found_on_Barcode</name>
        <label>B Found on Barcode</label>
        <locationX>628</locationX>
        <locationY>822</locationY>
        <defaultConnector>
            <targetReference>scnEnter_B_Trailer_Rego</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N</defaultConnectorLabel>
        <rules>
            <name>outYBFoundOnBC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varVehicleType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trailer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ruSet_Rego_Fields</targetReference>
            </connector>
            <label>Y</label>
        </rules>
    </decisions>
    <decisions>
        <name>decB_Trailer_Scanned</name>
        <label>B Trailer Scanned?</label>
        <locationX>295</locationX>
        <locationY>728</locationY>
        <defaultConnector>
            <targetReference>scnScan_B_Trailer_Barcode</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N</defaultConnectorLabel>
        <rules>
            <name>outYBTScanned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTrailerBScanned</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scnEnter_B_Trailer_Rego</targetReference>
            </connector>
            <label>Y</label>
        </rules>
    </decisions>
    <decisions>
        <name>decBFoundOnRego</name>
        <label>B Found on Rego</label>
        <locationX>800</locationX>
        <locationY>732</locationY>
        <defaultConnector>
            <targetReference>Rego_Entered_Twice_BTrailer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N</defaultConnectorLabel>
        <rules>
            <name>outYBFoundOnReg</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varVehicleType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trailer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ruSet_Rego_Fields</targetReference>
            </connector>
            <label>Y</label>
        </rules>
    </decisions>
    <decisions>
        <name>decCurrentStatus</name>
        <label>Current Status</label>
        <locationX>156</locationX>
        <locationY>109</locationY>
        <defaultConnector>
            <targetReference>assSet_In_Progress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>outInProgress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobWorkOrder.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decA_Trailer_Drop</targetReference>
            </connector>
            <label>In Progress</label>
        </rules>
    </decisions>
    <decisions>
        <name>decDropB_Trailer</name>
        <label>Drop B Trailer?</label>
        <locationX>158</locationX>
        <locationY>727</locationY>
        <defaultConnector>
            <targetReference>assDummy_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N</defaultConnectorLabel>
        <rules>
            <name>outYTrailerB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>radioDropB_Trailer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Y</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decB_Trailer_Scanned</targetReference>
            </connector>
            <label>Y</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Fault</name>
        <label>Record Fault?</label>
        <locationX>1115</locationX>
        <locationY>898</locationY>
        <defaultConnector>
            <targetReference>assSet_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N</defaultConnectorLabel>
        <rules>
            <name>outYFault</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>radioRecord_Fault</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chYes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Launch_Vehicle_Check</targetReference>
            </connector>
            <label>Y</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the Driver has entered the same registration number as last attempt, then accept the entry and proceed.  This scenario caters for both the device being offline, or the Trailer not exisiting in the system (which may happen for trailers).</description>
        <name>Rego_Entered_Twice_ATrailer</name>
        <label>Rego Entered Twice?</label>
        <locationX>782</locationX>
        <locationY>284</locationY>
        <defaultConnector>
            <targetReference>Store_Rego_Entered_A</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N</defaultConnectorLabel>
        <rules>
            <name>outYATrailerRepeat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fldTrailer_A_Rego</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varTrailerARegoPrevious</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assAssign_Entered_RegoTA</targetReference>
            </connector>
            <label>Y</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the Driver has entered the same registration number as last attempt, then accept the entry and proceed.  This scenario caters for both the device being offline, or the Trailer not exisiting in the system (which may happen for trailers).</description>
        <name>Rego_Entered_Twice_BTrailer</name>
        <label>Rego Entered Twice</label>
        <locationX>801</locationX>
        <locationY>639</locationY>
        <defaultConnector>
            <targetReference>Store_Rego_Entered_BTrailer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N</defaultConnectorLabel>
        <rules>
            <name>outYBTrailerRepeat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fldTrailer_B_Rego</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varTrailerBRegoPrevious</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assAssign_Entered_RegoTB</targetReference>
            </connector>
            <label>Y</label>
        </rules>
    </decisions>
    <interviewLabel>TDF Drop Trailer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TDF Drop Trailer</label>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>flWODropTrailer</name>
        <label>Fast Lookup Work Order</label>
        <locationX>6</locationX>
        <locationY>13</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assAssign_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>sobWorkOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Trailer_Reg_No_B__c</queriedFields>
        <queriedFields>Trailer_Reg_No_A__c</queriedFields>
        <queriedFields>Trailer_A_Barcode_Front__c</queriedFields>
        <queriedFields>Trailer_B_Barcode_Front__c</queriedFields>
        <queriedFields>Job_Instructions__c</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_A_Trailer</name>
        <label>Lookup A Trailer on Rego</label>
        <locationX>613</locationX>
        <locationY>366</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decAFoundOnRego</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Registration_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fldTrailer_A_Rego</elementReference>
            </value>
        </filters>
        <object>Location</object>
        <outputAssignments>
            <assignToReference>varTrailerARego</assignToReference>
            <field>Registration_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varVehicleType</assignToReference>
            <field>Type__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>luLookup_Trailer_A_on_Barcode</name>
        <label>Lookup Trailer A on Barcode</label>
        <locationX>450</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decAFound_on_Barcode</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Barcode_A__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fldBarcode_A_TrailerA</elementReference>
            </value>
        </filters>
        <object>Location</object>
        <outputAssignments>
            <assignToReference>varTrailerARego</assignToReference>
            <field>Registration_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varVehicleType</assignToReference>
            <field>Type__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>rlLookup_B_Trailer</name>
        <label>Lookup B Trailer on Rego</label>
        <locationX>631</locationX>
        <locationY>729</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decBFoundOnRego</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Registration_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fldTrailer_B_Rego</elementReference>
            </value>
        </filters>
        <object>Location</object>
        <outputAssignments>
            <assignToReference>varTrailerBRego</assignToReference>
            <field>Registration_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varVehicleType</assignToReference>
            <field>Type__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>rlLookup_Trailer_on_Barcode</name>
        <label>Lookup Trailer on Barcode</label>
        <locationX>436</locationX>
        <locationY>821</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decB_Found_on_Barcode</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Barcode_A__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fldBarcode_A_TrailerB</elementReference>
            </value>
        </filters>
        <object>Location</object>
        <outputAssignments>
            <assignToReference>varTrailerBRego</assignToReference>
            <field>Registration_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varVehicleType</assignToReference>
            <field>Type__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>ruSet_Rego_Fields</name>
        <label>Set Rego Fields</label>
        <locationX>802</locationX>
        <locationY>895</locationY>
        <connector>
            <targetReference>scnReportFault</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Trailer_Reg_No_A__c</field>
            <value>
                <elementReference>varTrailerARego</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trailer_Reg_No_B__c</field>
            <value>
                <elementReference>varTrailerBRego</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>ruSet_SA_End</name>
        <label>Set SA End</label>
        <locationX>1532</locationX>
        <locationY>901</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActualEndTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>ruSet_SA_Start</name>
        <label>Set SA Start</label>
        <locationX>290</locationX>
        <locationY>277</locationY>
        <connector>
            <targetReference>decA_Trailer_Drop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActualStartTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>ruSet_WO_Completed</name>
        <label>Set WO Completed</label>
        <locationX>1398</locationX>
        <locationY>900</locationY>
        <connector>
            <targetReference>ruSet_SA_End</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>ruSet_WO_In_Progress</name>
        <label>Set WO In Progress</label>
        <locationX>324</locationX>
        <locationY>190</locationY>
        <connector>
            <targetReference>ruSet_SA_Start</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <screens>
        <name>scnA_Trailer</name>
        <label>Drop Off A Trailer</label>
        <locationX>155</locationX>
        <locationY>13</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decCurrentStatus</targetReference>
        </connector>
        <fields>
            <name>radioDropA_Trailer</name>
            <choiceReferences>chYes</choiceReferences>
            <choiceReferences>chNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Drop A Trailer?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>txtJobInsA</name>
            <fieldText>Job Instructions:
{!sobWorkOrder.Job_Instructions__c}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scnDropBTrailer</name>
        <label>Drop Off B Trailer</label>
        <locationX>156</locationX>
        <locationY>584</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decDropB_Trailer</targetReference>
        </connector>
        <fields>
            <name>radioDropB_Trailer</name>
            <choiceReferences>chYes</choiceReferences>
            <choiceReferences>chNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Drop B Trailer?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>txtJobInsB</name>
            <fieldText>Job Instructions:
{!sobWorkOrder.Job_Instructions__c}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scnEnter_A_Trailer_Rego</name>
        <label>Enter A Trailer Registration Number</label>
        <locationX>449</locationX>
        <locationY>368</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Lookup_A_Trailer</targetReference>
        </connector>
        <fields>
            <name>fldTrailer_A_Rego</name>
            <dataType>String</dataType>
            <fieldText>A Trailer Registration Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scnEnter_B_Trailer_Rego</name>
        <label>Enter B Trailer Registration Number</label>
        <locationX>434</locationX>
        <locationY>729</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>rlLookup_B_Trailer</targetReference>
        </connector>
        <fields>
            <name>fldTrailer_B_Rego</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>sobWorkOrder.Trailer_Reg_No_B__c</elementReference>
            </defaultValue>
            <fieldText>B Trailer Registration Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scnReportFault</name>
        <label>Report a Fault</label>
        <locationX>972</locationX>
        <locationY>897</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Record_Fault</targetReference>
        </connector>
        <fields>
            <name>radioRecord_Fault</name>
            <choiceReferences>chYes</choiceReferences>
            <choiceReferences>chNo</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>chNo</defaultSelectedChoiceReference>
            <fieldText>Do you want to report a vehicle fault?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scnScan_A_Trailer_Barcode</name>
        <label>Scan A Trailer Barcode</label>
        <locationX>294</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>luLookup_Trailer_A_on_Barcode</targetReference>
        </connector>
        <fields>
            <name>txtTABCInstruction</name>
            <fieldText>Please scan the barcode located on front right side of the trailer.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>fldBarcode_A_TrailerA</name>
            <dataType>String</dataType>
            <fieldText>Barcode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>txtTABCNotes</name>
            <fieldText>Touch the field above to position the cursor before scanning.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scnScan_B_Trailer_Barcode</name>
        <label>Scan B Trailer Barcode</label>
        <locationX>296</locationX>
        <locationY>822</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>rlLookup_Trailer_on_Barcode</targetReference>
        </connector>
        <fields>
            <name>txtTBBCInstruction</name>
            <fieldText>Please scan the barcode located on front right side of the trailer.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>fldBarcode_A_TrailerB</name>
            <dataType>String</dataType>
            <fieldText>Barcode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>txtTBBCNotes</name>
            <fieldText>Touch the field above to position the cursor before scanning.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scnTrailer_Not_Found</name>
        <label>Trailer Not Found</label>
        <locationX>310</locationX>
        <locationY>639</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>scnDropBTrailer</targetReference>
        </connector>
        <fields>
            <name>txtTrailerBNotFound</name>
            <fieldText>A trailer with the registration number entered could not be found. 

Please select Next to retry.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrTrailer_Not_Found</name>
        <label>Trailer Not Found</label>
        <locationX>457</locationX>
        <locationY>12</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>scnA_Trailer</targetReference>
        </connector>
        <fields>
            <name>txtTrailerANotFound</name>
            <fieldText>A trailer with the registration number entered could not be found. 

Please select Next to retry.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>flWODropTrailer</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Launch_Vehicle_Check</name>
        <label>Launch Vehicle Check</label>
        <locationX>1112</locationX>
        <locationY>799</locationY>
        <connector>
            <targetReference>assSet_Status</targetReference>
        </connector>
        <flowName>TDF_Vehicle_Check</flowName>
        <inputAssignments>
            <name>Id</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varMode</name>
            <value>
                <stringValue>DT</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Id</assignToReference>
            <name>Id</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>DebugFlag</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>N</stringValue>
        </value>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0WO0l0000004VzL</stringValue>
        </value>
    </variables>
    <variables>
        <name>sobWorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>varSRId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>varStatus</stringValue>
        </value>
    </variables>
    <variables>
        <name>varTrailerARego</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTrailerARegoPrevious</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTrailerAScanned</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varTrailerBRego</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTrailerBRegoPrevious</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTrailerBScanned</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varVehicleType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
