force-app/main/default/flows/TDF_Return_Vehicle.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assSet_Completed</name>
        <label>Set Completed</label>
        <locationX>16</locationX>
        <locationY>653</locationY>
        <assignmentItems>
            <assignToReference>varStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ruSet_WO_Completed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assSet_In_Progress</name>
        <label>Set In Progress</label>
        <locationX>175</locationX>
        <locationY>177</locationY>
        <assignmentItems>
            <assignToReference>varStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ruSet_WO_In_Progress</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>chFaultNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>chFaultYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>decCurrent_Status</name>
        <label>Current Status</label>
        <locationX>19</locationX>
        <locationY>178</locationY>
        <defaultConnector>
            <targetReference>assSet_In_Progress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>outIn_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobWorkOrder.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ruSet_Parking_Bay_No</targetReference>
            </connector>
            <label>In Progress</label>
        </rules>
    </decisions>
    <decisions>
        <name>decRecord_Fault</name>
        <label>Record Fault?</label>
        <locationX>17</locationX>
        <locationY>441</locationY>
        <defaultConnector>
            <targetReference>decReturn_and_Refuel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N</defaultConnectorLabel>
        <rules>
            <name>outYFault</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>radioRecord_Fault</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chFaultYes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Launch_Vehicle_Check</targetReference>
            </connector>
            <label>Y</label>
        </rules>
    </decisions>
    <decisions>
        <name>decReturn_and_Refuel</name>
        <label>Return and Refuel?</label>
        <locationX>15</locationX>
        <locationY>552</locationY>
        <defaultConnector>
            <targetReference>assSet_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N</defaultConnectorLabel>
        <rules>
            <name>outYRRF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobWorkOrder.Activity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Return &amp; Refuel Vehicle</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scnConfirmProdRemoved</targetReference>
            </connector>
            <label>Y</label>
        </rules>
    </decisions>
    <description>Flow for Transport Return Vehicle jobs. With Confirm Product Removed 2</description>
    <interviewLabel>TDF_Return_Vehicle {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TDF_Return_Vehicle</label>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>fuLookup_Work_Order</name>
        <label>Lookup Work Order</label>
        <locationX>19</locationX>
        <locationY>10</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scnReturnVehicle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>sobWorkOrder</outputReference>
        <queriedFields>Parking_Bay__c</queriedFields>
        <queriedFields>Job_Instructions__c</queriedFields>
        <queriedFields>Activity_Type__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>ruSet_Parking_Bay_No</name>
        <label>Set Parking Bay No.</label>
        <locationX>18</locationX>
        <locationY>339</locationY>
        <connector>
            <targetReference>decRecord_Fault</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Parking_Bay__c</field>
            <value>
                <elementReference>txtParking_bay_number</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>ruSet_SA_End_RV</name>
        <label>Set SA End</label>
        <locationX>326</locationX>
        <locationY>655</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActualEndTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>ruSet_SA_Start_RV</name>
        <label>Set SA Start</label>
        <locationX>324</locationX>
        <locationY>338</locationY>
        <connector>
            <targetReference>ruSet_Parking_Bay_No</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActualStartTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>ruSet_WO_Completed</name>
        <label>Set WO Completed</label>
        <locationX>175</locationX>
        <locationY>655</locationY>
        <connector>
            <targetReference>ruSet_SA_End_RV</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>ruSet_WO_In_Progress</name>
        <label>Set WO In Progress</label>
        <locationX>324</locationX>
        <locationY>179</locationY>
        <connector>
            <targetReference>ruSet_SA_Start_RV</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <screens>
        <name>scnConfirmProdRemoved</name>
        <label>Confirm Product Removed</label>
        <locationX>173</locationX>
        <locationY>551</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assSet_Completed</targetReference>
        </connector>
        <fields>
            <name>radioProdRemoved</name>
            <choiceReferences>chFaultYes</choiceReferences>
            <choiceReferences>chFaultNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>I confirm all product has been removed from my vehicle at the completion of my shift. If not I have advised my supervisor</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scnReturnVehicle</name>
        <label>Return Vehicle</label>
        <locationX>19</locationX>
        <locationY>94</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decCurrent_Status</targetReference>
        </connector>
        <fields>
            <name>txtReturn</name>
            <fieldText>Job Instructions:
{!sobWorkOrder.Job_Instructions__c}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>txtParking_bay_number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>sobWorkOrder.Parking_Bay__c</elementReference>
            </defaultValue>
            <fieldText>Parking Bay Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>radioRecord_Fault</name>
            <choiceReferences>chFaultYes</choiceReferences>
            <choiceReferences>chFaultNo</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>chFaultNo</defaultSelectedChoiceReference>
            <fieldText>Do you want to report a vehicle fault?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>fuLookup_Work_Order</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Launch_Vehicle_Check</name>
        <label>Launch Vehicle Check</label>
        <locationX>171</locationX>
        <locationY>442</locationY>
        <connector>
            <targetReference>decReturn_and_Refuel</targetReference>
        </connector>
        <flowName>TDF_Vehicle_Check</flowName>
        <inputAssignments>
            <name>Id</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varMode</name>
            <value>
                <stringValue>RV</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Id</assignToReference>
            <name>Id</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCheckStatus</assignToReference>
            <name>varCheckStatus</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sobWorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>varCheckStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
